{% extends "layout.html" %}
{% block content %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      About Buggy Racing
    </h1>
  </div>
  <div class="row">
    <div class="lead col my-3">
      This is the race-server for the 
      {{config['INSTITUTION_SHORT_NAME']}}
      <strong>{{config['PROJECT_CODE']}} Racing Buggy </strong> project
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>
        The project requires you to develop a separate web app — a
        <a href="{{ url_for( 'public.serve_project_page' ) }}">Racing Buggy Editor</a>
        — using Python and Flask that lets you edit your own buggy. When you've
        got that working, you can <a href="{{ url_for('user.submit_buggy_data')}}">enter
        your buggy</a> into the races that happen on this server.
      </p>
    </div>
    <div class="col-md-6">
      <p>
        The server only accepts <em>valid</em> buggies in JSON format, so really
        the project is testing your understanding of how things like data-based
        web apps work. The  <a href="{{ url_for('race.show_public_races')}}">race
        results</a> are just for fun... but because you can't enter the race with
        bad data, they're your incentive to get your editor working.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="alert alert-warning w-100 text-center my-5">
        <p>
          To enter a buggy for the next race, log into this server and
          enter the JSON specification of the buggy that you created 
          with your buggy&nbsp;editor.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Topics &amp; Skills</h2>
      <p>
        The Buggy Racing project is for developing your Python skills, and
        uses the context of a web application to do that.
        You'll need to understand something about each of the following things
        and, depending on how far you get, you'll implement them in code too:
      </p>
      <ul>
        <li>fundamentals of webservers</li>
        <li>Python</li>
        <li>Python Flask</li>
        <li>HTML</li>
        <li>basic CSS</li>
        <li>(optionally) JavaScript</li>
        <li>very basic SQL</li>
        <li>version control (Git)</li>
        <li>UI/UX, specifically forms/data entry</li>
        <li>validation, both simple and complex</li>
        <li>HTTP methods</li>
        <li>testing manually (and maybe programmatically)</li>
        <li>basic security considerations</li>
        <li>some potential strategy coding</li>
      </ul>
    </div>
  </div>
  <hr class="my-5"/>
  <div class="row">
    <div class="col text-center">
      <p>
        The source code for this <em>Buggy Racing Project</em> race server
        is available under the GNU Affero General Public License.
        <br>
        That means: it's Free and Open Source Software \o/
      </p>
    </div>
  </div>
  <div class="row yt-5">
    <div class="col-sm-5 text-center p-3">
        <a href="https://github.com/buggyrace/buggy-race-server"><span class="icon-github"> buggyrace/buggy-race-server</span></a>
    </div>
    <div class="col-sm-2 text-center">
      <a href="https://www.buggyrace.net"><img src="{{ static_url_for('static', filename='build/img/buggy-race-hamster.png') }}"
        class="roadent-portrait" alt="buggy-racing roadent"/></a>
      <p class="mt-3">
        {{version_from_source}}
      </p>
    </div>
    <div class="col-sm-5 text-center p-3">
        <a href="https://www.buggyrace.net">www.buggyrace.net</a>
    </div>
  </div>
</div>
{% endblock %}

