
{% extends "layout.html" %}

{% block content %}
<div class="container pb-5">
  <div class="row">
    <h1 class="mt-5">About CS1999 buggy races</h1>
  </div>
  <div class="row">
    <p class="lead">
      This is the race-buggy server for the <strong>RHUL Foundation Year
      Computer Science</strong> project
    </p>
  </div>
  <div class="row">
    <p>
      (CS1999 is a course number, not a date).
    <p>
    <p>
      The project requires you to 
      <a hef="{{ url_for( 'public.show_project' ) }}">develop a separate web app</a>
      using Python and Flask that lets you edit your own buggy. When you've
      got that working, you can <a href="{{ url_for('user.submit_buggy_data')}}">enter
      your buggy</a> into the races that happen on this server.
    </p>
    <p>
      The server only accepts <em>valid</em> buggies in JSON format, so really
      the project is testing your understanding of how things like data-based
      web apps work. The  <a href="{{ url_for('public.announce_races')}}">race
      results</a> are just for fun... but because you can't enter the race with
      bad data, they're your incentive to get your editor working.
    </p>
  </div>
  <div class="alert alert-warning w-100 text-center my-5">
    <p>
      To enter a buggy for the next race, log into this server and
      enter the JSON specification of the buggy that you created 
      with your buggy editor.
    </p>
  </div>
</div>
{% endblock %}

