
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    <img class="buggy-img" src="/static/build/img/rene-buggy-2.png" alt="beat-up racing buggy">

      <h1 class="display-3">{{config['INSTITUTION_SHORT_NAME']}} Buggy Race Server</h1>
    
      <p>Buggy races happen here (almost) every night.</p>
    </div>
</div><!-- /.jumbotron -->

<div class="container pb-5">

  <div class="alert alert-warning">
    <div class="row">
      <div class="col-lg-4">
        <h2><i class="icon-book"></i> Rules &amp; specs</h2>
        <p>
          <strong>Race rules</strong> and 
          <strong>buggy definitions</strong>,
          plus the JSON specs
          you need to build the data.
        </p>
        <p><a class="btn btn-outline-secondary" href="{{ url_for( 'public.showspecs' ) }}">See the specs &rtri;</a></p>
      </div>
      <div class="col-lg-4">
        <h2><i class="icon-wrench"></i> Upload data</h2>
        <p>
          Enter the <strong>specification of your buggy</strong> for the next race.
        </p>
        <p><a class="btn btn-outline-secondary" href="{{ url_for( 'user.submit_buggy_data' ) }}">Submit buggy JSON &rtri;</a></p>
      </div>
      <div class="col-lg-4">
        <h2><i class="icon-trophy"></i> Race results</h2>
        <p>
          Report from the most recent <strong>race</strong>.
        </p>
        <p><a class="btn btn-outline-secondary" href="{{ url_for( 'public.announce_races' ) }}">See results &rtri;</a></p>
      </div>
    </div>
  </div>

  <div class="alert">
    <div class="row mt-5">
      <div class="col-lg-4">
        <h2><i class="icon-info"></i> Project details</h2>
        <p>
          Everything you need to know about the <strong>tasks</strong>
          you need to work on, including some helpful tech notes.
        </p>
        <p><a class="btn btn-outline-secondary" href="{{ url_for( 'public.serve_project_page' ) }}">Go to project &rtri;</a></p>
        <!--
        <p><a class="btn btn-outline-secondary" href="{{ url_for( 'public.serve_project_page', page='tasks' ) }}">See tasks &rtri;</a></p>
        <p>
          {{ config['PROJECT_CODE']}} tech notes contain specific
          details to help you with the project
        </p>
        <p>
          <a class="btn btn-outline-secondary" href="{{ url_for('public.serve_tech_notes') }}">Tech notes &rtri;</a>
        </p>
      -->
      </div>
      <div class="col-lg-4">
        <h2><i class="icon-github"></i> Source code</h2>
        <p>
          The basic <strong>buggy editor</strong> is a Python
          Flask webserver (we'll automatically fork this into
          your GitHub account).
        </p>
        <p><a class="btn btn-outline-secondary" href="{{ config['BUGGY_EDITOR_GITHUB_URL'] }}">See the code &rtri;</a></p>
      </div>
      <div class="col-lg-4">
        {% if social_site_links %}
          <h2><i class="icon-bubbles"></i> Other places</h2>
          {% for social_site in social_site_links %}
              <p>
                {{ social_site.text }}
              </p>
              <p>
                <a class="btn btn-outline-secondary" href="{{ social_site.url }}">{{ social_site.name }} &rtri;</a>
                <br>
                <br>
              </p>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

