
{% extends "layout.html" %}
{% block page_title %} Login {% endblock %}
{% block content %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      Log in
    </h1>
  </div>
  {% include "_local_announcement.html" %}
  <div class="row">
    <div class="col-md-6">
      <div class="border container p-3 mb-5">
        <form id="loginForm" method="POST" action="{{ url_for('public.login' )}}" role="login">
          {{ form.csrf_token }}
          <div class="row">
            <div class="col-md-4 py-2">
              {{ form.username.label }}
            </div>
            <div class="col-md-8">
              {{ form.username(placeholder=username_example, class_="form-control mr-sm-1") }}
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4 py-2">
              {{ form.password.label }}
            </div>
            <div class="col-md-8">
              {{ form.password(class_="form-control mr-sm-1") }}
              <span class="password-toggler hidden icon-eye-blocked" data-for="password"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
              <button class="btn btn-primary" type="submit"><span class="icon-enter mr-2"></span>Log in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% if is_registration_allowed %}
    <div class="row">
      <div class="col-md-6 mt-5">
        <p class="btn-collection">
          <a href="{{ url_for('user.register_new_user') }}" class="btn btn-outline-secondary btn-jump"><span class="icon-cog"></span> Registration</a>
        </p>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

