{% extends "layout.html" %}
{% block content %}

<div class="container pb-5">
  <div class="row">
    <h1 class="my-3">{{ project_code }} Racing Buggy project</h1>
  </div>
  <div class="row">
    <div class="col">
      <p class="btn-collection">
        <a class="btn btn-outline-secondary" href="{{ url_for( 'public.serve_project_page', page='tasks' ) }}">Task list &rtri;</a>
        {% if is_report %}
          <a class="btn btn-outline-secondary" href="{{ url_for( 'public.serve_project_page', page=report_type ) }}">{{ report_type | title }} details &rtri;</a>
        {% endif %}
        <a class="btn btn-outline-secondary" href="{{ url_for('public.serve_tech_notes', path='index') }}">Tech notes &rtri;</a>
        {% if workflow_url %}
          <a href="{{ workflow_url }}" class="btn btn-outline-secondary">Workflow &rtri;</a>
        {% endif %}
        {% if submission_link %}
            <a href="{{ submission_link }}" class="btn btn-outline-secondary">Submission &rtri;</a>
        {% endif %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Overview</h2>
      <p>
        We give you the (Python) code for a basic webserver app that lets you
        <strong>edit the specifications</strong> of a racing buggy.
      </p>
      <p>
        That webserver's not broken — you'll be able to get it to run — but
        it's very, very basic. You will make it better, and make it your own.
      </p>
      <p>
        To start with, just try to make it <em>work</em> better (those are the
        early phases, which you must do). But then you should develop the app
        with a lot more features until it's not just <em>working</em>, but has
        <em>additional features</em> (some of which are quite sophisticated).
      </p>
      <p>
        Oh, every night we'll race the buggies you create with your editor, just
        for fun. You can see the results each morning. Want to do better in the
        next race? Edit that buggy!
      </p>
    </div>
    <div class="col-md-6">
      <h2>Topics &amp; Skills</h2>
      <p>
        You'll need to understand something about each of the following things
        and, depending on how far you get, you'll implement them in code too:
      </p>
      <ul>
        <li>fundamentals of webservers</li>
        <li>Python</li>
        <li>Python Flask</li>
        <li>HTML</li>
        <li>basic CSS</li>
        <li>(optionally) JavaScript</li>
        <li>very basic SQL</li>
        <li>version control (Git)</li>
        <li>UI/UX, specifically forms/data entry</li>
        <li>validation, both simple and complex</li>
        <li>HTTP methods</li>
        <li>testing manually (and maybe programmatically)</li>
        <li>basic security considerations</li>
        <li>some potential strategy coding</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 p-3 alert-info">
      <h2>Tasks</h2>
      <p>
        The project requires you to work on a racing buggy editor: it's a
        Python Flask webserver you've been given, and which you develop in
        <strong>phases</strong> through a series of <strong>tasks</strong>.
      </p>
      <p>
        <a class="btn btn-secondary" href="{{ url_for( 'public.serve_project_page', page='tasks' ) }}">Task list &rtri;</a>
      </p>
    </div>
    {% if is_report %}
      <div class="col-md-6 p-3 alert-info">
        <h2>{{ report_type | title }}</h2>
        <p>          
            Your buggy editor must include a webpage called <code>{{ report_type }}</code>
            that "sells" your editor and summarises your journey through those tasks.
          </p>
          <p>
            <a class="btn btn-secondary" href="{{ url_for( 'public.serve_project_page', page=report_type ) }}">{{ report_type | title }} details &rtri;</a>
          </p>
      </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-6 p-3">
      <h2>Tech notes</h2>
      <p>
        The tech notes contain explanations and suggestions
        to help you with the project (and some of the specific
        tasks):
      </p>
      <p>
        <a href="{{ url_for('public.serve_tech_notes', path='index') }}" class="btn btn-outline-secondary">Tech notes &rtri;</a>
      </p>
    </div>
    {% if workflow_url %}
      <div class="col-md-6 p-3">
        <h2>Workflow</h2>
        <p>
          This is a practical project.
          Here's a breakdown of the workflow to help you approach
          setting it up, working on it, and ultimately submitting it.
        </p>
        <p>
          <a href="{{ workflow_url }}" class="btn btn-outline-secondary">Workflow &rtri;</a>
        </p>
      </div>
    {% endif %}
  </div>

  {% if submit_deadline %}
    <div class="row">
      <div class="col-md-6 p-3 alert">
        <h2>Submission deadline</h2>
        <!-- "deadline-container" is magic: js enhanced -->
        <div id="deadline-container" class="alert">
            <span style="display:inline-block;margin-right:1em;">{{ submit_deadline | replace("T", " ") }}</span>
            <span id="deadline-countdown" style="display:inline-block" data-deadline="{{ submit_deadline }}"></span>
        </div>
        <p>
          That's the submission we'll be assessing (and running) to see how you got on
          with your Python and webserver skills.
        </p>
      </div>
      <div class="col-md-6 p-3 alert">
        <p>
          <br>
          You can submit your project before the deadline. Don't leave it until the
          very last minute. Programmers know (which means: <em>you</em> know) that IT
          systems sometimes go down, disks fail, and chumps spill coffee over laptops.
          Build contingency into your planning so if this happens to you it's merely a
          problem and not a disaster.
        </p>      
      </div>
    </div>
  {% endif %}

  {% if submission_link or is_zip_info_displayed %}
    <div class="row">
      <div class="col-md-12 p-3">
        <h2>Submitting your project</h2>
      </div>
      {% if submission_link %}
        <div class="col-md-6 p-3">
          <p>
            To submit your project, follow these instructions:
          </p>
          <p>
            <a href="{{ submission_link }}" class="btn btn-outline-secondary">Submission instructions &rtri;</a>
          </p>
        </div>
      {% endif %}
      
      {% if is_zip_info_displayed %}
        <div class="col-md-6 p-3">
          <h3>About your zip file</h3>
          <p>
            Make a zip file that contains your webserver and submit that
            (it'll look a lot like your repo did when you cloned it: for
            example, it will contain `app.py` on the top level).
          </p>
          <p>
            Make or rename your zip file to be your username. For example,
            when Jane Holloway did this project her username on this server
            was <code>jane2</code>, so she submitted a file called
            <code>jane2.zip</code>.
          </p>
          <p>
            Please do <strong>not</strong> include the <code>venv</code> or
            <code>__pycache__</code> directories (if you have them) because they
            might be huge and we don't need them in the zip. If you haven't been
            using Git, we don't need the <code>.git</code> directory either.
            But don't worry if theses files get in anyway, we'll cope.
          </p>
          <p>
            It's a <strong>very good</strong> idea to check that your zip file
            contains what you think it does. Does it seem like a reasonable size
            (not almost zero bytes, or not 1Gb)? If you unzip it somewhere else
            do you get the files you expect?
          </p>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endblock %}

