{% extends "layout.html" %}
{% block content %}

<div class="container pb-5">
  <div class="row">
    <h1 class="my-3">{{ config['PROJECT_CODE'] }} project details</h1>
  </div>
  <div class="row">
    <div class="col-md-6 p-3 alert-info">
        <h2>Tasks</h2>
        <p>
          The project requires you to work on a racing buggy editor: it's a
          Python Flask webserver you've been given, and which you develop in
          phases through a series of tasks.
        </p>
        <p>
          <a class="btn btn-secondary" href="{{ url_for( 'public.serve_project_page', page='tasks' ) }}">See task list &rtri;</a>
        </p>
    </div>
    {% if is_report %}
      <div class="col-md-6 p-3 alert-info">
          <h2>{{ report_type | title }}</h2>
          <p>          
            Your buggy editor must include a webpage called <code>{{ report_type }}</code>
            that "sells" your editor and summarises your journey through those tasks.
          </p>
          <p>
            <a class="btn btn-secondary" href="{{ url_for( 'public.serve_project_page', page=report_type ) }}">{{ report_type | title }} details &rtri;</a>
          </p>
        </div>
    {% endif %}
  </div>

  <!---
  <h2 id="development_workflow">Development workflow</h2>

  <p>This is a practical project. Here is a breakdown of <em>how</em> you should be working
  (with helpful links):</p>

  <ul>
  <li><a href="project/workflow">step-by-step workflow</a></li>
  </ul>

  <hr />
  -->
  <div class="row">
    <div class="col-md-6 p-3">
      <h2>{{ config['PROJECT_CODE'] }} tech notes</h2>
      <p>
        The tech notes contain explanations and suggestions
        to help you with the project (and some of the specific
        tasks):
      </p>
      <p>
        <a href="{{ url_for('public.serve_tech_notes', path='index') }}" class="btn btn-outline-secondary">Go to tech notes &rtri;</a>
      </p>
    </div>
  </div>

  {% if  config['PROJECT_SUBMISSION_DEADLINE'] %}
    <div class="row">
      <div class="col-md-6 p-3 alert">
        <h2>Submission deadline</h2>
        <!-- "deadline-container" is magic: js enhanced -->
        <div id="deadline-container" class="alert">
            <span style="display:inline-block;margin-right:1em;">{{ config['PROJECT_SUBMISSION_DEADLINE'] | replace("T", " ") }}</span>
            <span id="deadline-countdown" style="display:inline-block" data-deadline="{{ config['PROJECT_SUBMISSION_DEADLINE'] }}"></span>
        </div>
        <p>
          That's the submission we'll be assessing (and running) to see how you got on
          with your Python and webserver skills.
        </p>
      </div>
      <div class="col-md-6 p-3 alert">
        <p>
          <br>
          You can submit your project before the deadline. Don't leave it until the
          very last minute. Programmers know (which means: <em>you</em> know) that IT
          systems sometimes go down, disks fail, and chumps spill coffee over laptops.
          Build contingency into your planning so if this happens to you it's merely a
          problem and not a disaster.
        </p>      
      </div>
    </div>
  {% endif %}

  {% if submission_link or is_zip_info_displayed %}
    <div class="row">
      <div class="col-md-12 p-3">
        <h2>Submitting your project</h2>
      </div>
      {% if submission_link %}
        <div class="col-md-6 p-3">
          <p>
            To submit your project, follow these instructions:
          </p>
          <p>
            <a href="{{ submission_link }}" class="btn btn-outline-secondary">Submission instructions &rtri;</a>
          </p>
        </div>
      {% endif %}
      
      {% if is_zip_info_displayed %}
        <div class="col-md-6 p-3">
          <h3>About your zip file</h3>
          <p>
            Make a zip file that contains your webserver and submit that
            (it'll look a lot like your repo did when you cloned it: for
            example, it will contain `app.py` on the top level).
          </p>
          <p>
            Make or rename your zip file to be your username. For example,
            when Jane Holloway did this project her username on this server
            was <code>jane2</code>, so she submitted a file called
            <code>jane2.zip</code>.
          </p>
          <p>
            Please do <strong>not</strong> include the <code>venv</code> or
            <code>__pycache__</code> directories (if you have them) because they
            might be huge and we don't need them in the zip. If you haven't been
            using Git, we don't need the <code>.git</code> directory either.
            But don't worry if theses files get in anyway, we'll cope.
          </p>
          <p>
            It's a <strong>very good</strong> idea to check that your zip file
            contains what you think it does. Does it seem like a reasonable size
            (not almost zero bytes, or not 1Gb)? If you unzip it somewhere else
            do you get the files you expect?
          </p>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endblock %}

