
{% extends "layout.html" %}

{% block content %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">Next buggy race</h1>
  </div>
  <div class="row">
    {% if next_race %}
      <div class="d-flex align-items-start w-100">
        <div class="col">
          <div class="w-100 buggy-stripes">&nbsp;</div>
          <div class="alert alert-info text-center">
            <h4>
              {% if next_race.title %}
                <strong>{{ next_race.title }}</strong>
              {% else %}
                <strong>Next Race</strong>
              {% endif %}
            </h4>
            {% if next_race.desc %}
              <div class="m-3">
                {{ next_race.desc|safe }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="d-flex align-items-start w-100">
        <div class="col">
          <div class="alert alert-success text-center">
            <h2 class="m-3">
              <strong>
              {{ next_race.start_at.strftime('%A') }}
              <br>
              {{ next_race.start_at.strftime('%Y-%m-%d') }}
              <br>
              {{ next_race.start_at.strftime('%H:%M') }}
              </strong>
            </h2>
          </div>
        </div>
        <div class="col">
          <div class="alert alert-danger text-center">
            <h2 class="m-3">
              <strong>
                Cost limit<br>
                <span style="font-size:200%">{{ next_race.cost_limit }}</span>
              </strong>
              </h2>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-start w-100">
        <div class="col">
          <div class="alert alert-warning text-center">
            <p class="m-3">
              Make sure you've uploaded a buggy with a total cost less than or
              equal to {{ next_race.cost_limit }} <em>before</em> the race starts.
            </p>
          </div>
        </div>
      </div>
      
    {% else %}
      <div class="alert alert-warning w-100 text-center">
        <p class="m-3"><strong>Next race not yet announced.</strong></p>
      </div>
    {% endif %}  
  </div>
</div>

<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">Previous race results</h1>
  </div>  
  {% if races|length == 0 %}
    <div class="alert alert-warning w-100 text-center">
      <p class="m-3"><strong>No races have been run yet. No results to show.</strong></p>
    </div>
  {% else %}
    <div class="row">
      <table class="col table table-striped table-bordered table-hover table-responsive bg-white">
        <thead>
          <tr>
            <th><span class="icon-trophy"></span></th>
            <th class="text-center">1</th>
            <th class="text-center">2</th>
            <th class="text-center">3</th>
            <th>Race time</th>
            <th>Cost limit</th>
            <th>Title & details</th>
          </tr>
        </thead>
        <tbody>
            {% for race in races %}
              <tr class="race-visible-{{ race.is_visible }}">
                {% if race.results_uploaded_at %}
                  <td>
                    {% if race.results_uploaded_at %}
                      <a class="btn btn-outline-secondary btn-white"
                      href="{{ url_for('race.show_race_results', race_id=race.id) }}">Result &rtri;</a>
                    {% endif %}
                  </td>
                  <td>
                    {% for res in race.results if res.race_position == 1 %}
                      <div class="flag flag-col-{{ res.flag_color_secondary }}"><div class="flag-{{ res.flag_pattern }} flag-col-{{ res.flag_color }}">&nbsp;</div></div>
                    {% endfor %}
                  </td>
                  <td>
                    {% for res in race.results if res.race_position == 2 %}
                      <div class="flag flag-col-{{ res.flag_color_secondary }}"><div class="flag-{{ res.flag_pattern }} flag-col-{{ res.flag_color }}">&nbsp;</div></div>
                    {% endfor %}
                  </td>
                  <td>
                    {% for res in race.results if res.race_position == 3 %}
                      <div class="flag flag-col-{{ res.flag_color_secondary }}"><div class="flag-{{ res.flag_pattern }} flag-col-{{ res.flag_color }}">&nbsp;</div></div>
                    {% endfor %}
                  </td>
                {% else %}
                  <td colspan="4" class="text-center">
                    <em>Awaiting race report</em>
                  </td>
                {% endif %}
                <td>
                  {{ race.start_at.strftime('%Y-%m-%d %H:%M') }}
                </td>
                <td class="text-center">
                  {{ race.cost_limit }}
                </td>
                <td>
                  <div class="cell-title">
                    {% if race.title %}<strong>{{ race.title }}</strong>{% else %}<em>Untitled</em>{% endif %}
                  </div>
                  {% if race.desc %}
                    <div class="my-2 race-desc">{{ race.desc }}</div>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
  <div class="row">
    <div class="col text-center">
      <img class="img-fluid" src="{{ static_url_for('static', filename='build/img/rene-buggy-1.png') }}" />
    </div>
  </div>
</div>

{% endblock %}

