<div class="row p-0 m-2 bg-white" style="border:2px solid #ddd;">
  <h4 class="col-sm-12 p-2" style="background-color:#ddd;">
    {{ link_settings | length }} links to external sites:
  </h4>
  <div class="col-lg-7">
    <p class="pr-3">
      Links to up to four "Other places" (such as social media) are shown
      on the server's home page. If you're using supporting sites such as
      Moodle, Discord, Teams or Piazza, add them below.
    </p>
  </div>
  <div class="col-lg-5">
    <p>
      if you leave the <em>Name</em> of a site blank, the link 
      <strong>will not be displayed</strong>.
    </p>
  </div>
</div>
{% for site in link_settings %}
  <div class="row p-0 m-2 bg-white" style="border:2px solid #ddd;">
    <h4 class="col-sm-12 p-2" style="background-color:#ddd;">
      External site:
      {% if site.name %}
        {{ site.name }}
      {% else %}
        #{{ site.index }}
      {% endif %}
    </h4>
    <div class="col">
      <div class="row py-2 m-1 bg-white">
        <div class="col-sm-3">
          Name
        </div>
        <div class="col-sm-4">
          {% set link_field = site.index * 3 %}
          {% set name = "SITE_" ~ site.index ~ "_NAME" %}
          <input name="{{ SETTING_PREFIX }}-{{ link_field }}-name" type="hidden" value="{{ name }}" />
          <input name="{{ SETTING_PREFIX }}-{{ link_field }}-value" type="text" value="{{ site.name }}" class="form-control"/>
        </div>
        <div class="col-sm-5">
          {% include "admin/_env_setting_override.html" %}
          {{ html_descriptions[name] | safe }}
          <p>
            <em>Example:</em> <code>Discord</code>
          </p>
        </div>
      </div>
      <div class="row py-2 m-1 bg-white">
        <div class="col-sm-3">
          URL
        </div>
        <div class="col-sm-4">
          {% set link_field = link_field + 1 %}
          {% set name = "SITE_" ~ site.index ~ "_URL" %}
          <input name="{{ SETTING_PREFIX }}-{{ link_field }}-name" type="hidden" value="{{ name }}" />
          <input name="{{ SETTING_PREFIX }}-{{ link_field }}-value" type="text" value="{{ site.url }}" class="form-control"/>
        </div>
        <div class="col-sm-5">
          {% include "admin/_env_setting_override.html" %}
          {{ html_descriptions[name] | safe }}
          <p>
            <em>Example:</em> <code>https://discord.example.com</code>
          </p>
        </div>
      </div>
      <div class="row py-2 m-1 bg-white">
        <div class="col-sm-3">
          Text/description
        </div>
        <div class="col-sm-4">
          {% set link_field = link_field + 1 %}
          {% set name = "SITE_" ~ site.index ~ "_TEXT" %}
          <input name="{{ SETTING_PREFIX }}-{{ link_field }}-name" type="hidden" value="{{ name }}" />
          <input name="{{ SETTING_PREFIX }}-{{ link_field }}-value" type="text"  value="{{ site.text }}" class="form-control"/>
        </div>
        <div class="col-sm-5">
          {% include "admin/_env_setting_override.html" %}
          {{ html_descriptions[name] | safe }}
          <p>
            <em>Example:</em><br>
            <code>Discord server for discussing project/asking for help.</code>
          <p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
