<div class="container">
  <div class="row">
    <p class="mt-5">
      <a class="btn btn-outline-secondary btn-admin" href="{{ url_for('admin.admin')}}">Dashboard &rtri;</a>
      &nbsp;
      <a class="btn btn-outline-secondary btn-admin" href="{{ url_for('admin.list_users')}}">Users &rtri;</a>
      &nbsp;
      <a class="btn btn-outline-secondary btn-admin" href="{{ url_for('admin.list_buggies')}}">Buggies &rtri;</a>
      &nbsp;
      <a class="btn btn-outline-secondary btn-admin" href="{{ url_for('race.list_races')}}">Races &rtri;</a>
      &nbsp;
      <a class="btn btn-outline-secondary btn-admin" href="{{ url_for('admin.list_announcements')}}">Announce &rtri;</a>
      &nbsp;
      <a class="btn btn-outline-secondary btn-admin" href="{{ url_for('admin.api_keys')}}">API keys &rtri;</a>
      &nbsp;
      <a class="btn {% if config['TECH_NOTES_GENERATED_DATETIME'] %}btn-outline-secondary {% else %}btn-outline-danger{% endif %} btn-admin" href="{{ url_for('admin.tech_notes_admin')}}">Tech notes &rtri;</a>
      &nbsp;
      <a class="btn btn-outline-secondary btn-admin" href="{{ url_for('admin.settings')}}">Config &rtri;</a>
    </p>
  </div>
</div>