<div class="row">
  <div class="col">
    <h3 class="p-2">{{ pretty_group_name_dict[group] }} settings</h3>
  </div>
</div>
{% if group == 'SOCIAL' %}
  {%include "admin/_social_settings.html" %}
{% else %}
  {% for name in groups[group] %}
    <div class="row py-2 m-1 bg-white">
      <div class="col-lg-7 col-md-6">
          <div class="row">
            <div class="col-lg-6">
              <label for="{{ SETTING_PREFIX }}-{{ loop.index0 }}-name"><code>{{ name }}</code></label>
            </div>
            <div class="col-lg-6 mb-3">
              <input type="hidden" name="{{ SETTING_PREFIX }}-{{ loop.index0 }}-name" value="{{ name }}"/>
              {%if name == "PROJECT_REPORT_TYPE" %}
                {%include "admin/_report_type_input.html" %}
              {% elif type_of_settings[name] == "bool" %}
                <select name="{{ SETTING_PREFIX }}-{{ loop.index0 }}-value" class="form-control">
                  <option value="0" {% if settings[name] == "0" %} selected="selected" {% endif %}>No</option>
                  <option value="1" {% if settings[name] == "1" %} selected="selected" {% endif %}>Yes</option>
                </select>
              {% else %}
                <input name="{{ SETTING_PREFIX }}-{{ loop.index0 }}-value" class="form-control mr-sm-1" 
                {% if type_of_settings[name] == "int" %}
                    type="number"
                {% elif type_of_settings[name] == "pass"%}
                    type="password"
                {% elif type_of_settings[name] == "datetime"%}
                    type="datetime-local"
                {% else %}
                    type="text"
                {% endif %}
                {%if settings[name] %} value="{{ settings[name] }}" {% endif %}
                />
              {% endif %}
              </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        {% include "admin/_env_setting_override.html" %}
        {{ html_descriptions[name] | safe }}
        <div class="setting-default">
            <em>Default:</em>
            {% if pretty_default_settings[name] == "" %}
              <em class="empty-setting">nothing/empty</em>
            {% else %}
              <code>{{ pretty_default_settings[name] }}</code>
            {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
