<div class="row">
  <div class="col">
    {{ macros.docs_btn(
        pretty_group_name_dict[group],
        "/customising/" + group | lower | replace('_', '-'),
        "float-right"
      ) 
    }}
    <h3 class="p-2">
      {{ pretty_group_name_dict[group] }}
      {% if pretty_group_name_dict[group] == 'VCS' %}
       (Version Control System)
      {% endif %}
      settings</h3>
  </div>
</div>
{% if group == 'SOCIAL' %}
  {%include "admin/_social_settings.html" %}
{% else %}
  {% for name in groups[group] %}
    <div class="row py-2 m-1 bg-white">
      <div class="col-lg-7 col-md-6">
          <div class="row">
            <div class="col-lg-6">
              <label for="{{ SETTING_PREFIX }}-{{ loop.index0 }}-name"><code>{{ name }}</code></label>
            </div>
            <div class="col-lg-6 mb-3">
              <input type="hidden" name="{{ SETTING_PREFIX }}-{{ loop.index0 }}-name" value="{{ name }}"/>
              {%if name == "PROJECT_REPORT_TYPE" %}
                {%include "admin/_report_type_input.html" %}
              {% elif name == "PROJECT_ZIP_NAME_TYPE" %}
                {% include "admin/_zip_name_type_input.html" %}
              {% elif name == "EDITOR_DISTRIBUTION_METHOD" %}
                {% include "admin/_editor_distrib_method_input.html" %}
              {% elif type_of_settings[name] == "bool" %}
                <select name="{{ SETTING_PREFIX }}-{{ loop.index0 }}-value" class="form-control">
                  <option value="0" {% if settings[name] == "0" %} selected="selected" {% endif %}>No</option>
                  <option value="1" {% if settings[name] == "1" %} selected="selected" {% endif %}>Yes</option>
                </select>
              {% else %}
                <input name="{{ SETTING_PREFIX }}-{{ loop.index0 }}-value" class="form-control mr-sm-1" 
                {% if type_of_settings[name] == "int" %}
                    type="text" inputmode="numeric" pattern="[0-9]*"
                {% elif type_of_settings[name] in ['pass', 'sensitive'] %}
                    type="password"
                {% elif type_of_settings[name] == "datetime"%}
                    type="datetime-local"
                {% else %}
                    type="text"
                {% endif %}
                {%if settings[name] %} value="{{ settings[name] }}" {% endif %}
                />
              {% endif %}
              </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        {% include "admin/_env_setting_override.html" %}
        {% if name == "EDITOR_DISTRIBUTION_METHOD" %}
          <p class="btn-collection text-right">
            {{
              macros.docs_btn(
                "Distributing the code",
                "/buggy-editor/distributing-the-code",
                ""
              )
            }}
          </p>
        {% endif %}
        {{ html_descriptions[name] | safe }}
        <div class="setting-default">
            <em>Default:</em>
            {% if pretty_default_settings[name] == "" %}
              <em class="empty-setting">nothing/empty</em>
            {% else %}
              <code>{{ pretty_default_settings[name] }}</code>
            {% endif %}
        </div>
        {% if name in pretty_suggested_settings %}
        <div class="setting-default setting-suggestion mt-2">
          <em>Suggested:</em>
            {% if pretty_default_settings[name] == pretty_suggested_settings[name] %}
              <em class="empty-setting">use default</em>
            {% else %}
              {% if pretty_suggested_settings[name] == NONEMPTY_VALUE %}
                <em>should <strong>not</strong> be empty</em>
              {% elif pretty_suggested_settings[name] == "" %}
                <em class="empty-setting">nothing/empty</em>
              {% else %}
                <code>{{ pretty_suggested_settings[name] }}</code>
              {% endif %}
            {% endif %}
          <br>
          (because <code>EDITOR_DISTRIBUTION_METHOD</code> is <code><strong>{{ editor_distrib_method }}</strong></code>)
      </div>
      {% endif %}
      </div>
    </div>
  {% endfor %}
{% endif %}
{% if group in ('SERVER', 'RACES') %}
  <script>
    {
      const BUGGY_RACE_SERVER_URL = "BUGGY_RACE_SERVER_URL";
      const DEFAULT_FLAG_COLOR = "DEFAULT_FLAG_COLOR";
      const SPECIAL_SETTINGS = [DEFAULT_FLAG_COLOR, BUGGY_RACE_SERVER_URL];
      const NAME_REGEX = /^(settings-\d+-)name$/;
      for (let hidden_input of document.querySelectorAll('input[type="hidden"]')){
        if (hidden_input.name) {
          let match = hidden_input.name.match(NAME_REGEX);
          if (match && (
            hidden_input.value===BUGGY_RACE_SERVER_URL
            || hidden_input.value===DEFAULT_FLAG_COLOR
          )) {
            let value_input_name = match[1] + "value";
            let parent_div = hidden_input.parentNode;
            let value_input = parent_div.querySelector('input[name="' + value_input_name + '"');
            if (value_input){
              if (hidden_input.value===BUGGY_RACE_SERVER_URL) {
                let current_url = value_input.value;
                let page_url = window.location.protocol + "//" + window.location.host;
                // If the url the browser is seeing (page_url) does not match the
                // setting for server URL, offer a button to fix it, because if
                // it's running on www.example.com, then that's probably what this
                // setting should be. It's potentially the only setting that cannot
                // be left as its default value, so nudge the administrator.
                if (current_url.indexOf(page_url) != 0) {
                  let new_button = document.createElement("button");
                  new_button.classList.add("btn", "btn-admin", "btn-outline-danger", "my-2");
                  new_button.innerText="Change to " + page_url;
                  new_button.addEventListener("click", function(e){
                    e.preventDefault();
                    value_input.value = page_url;
                  })
                  parent_div.append(new_button);
                }
              } else if (hidden_input.value===DEFAULT_FLAG_COLOR) {
                // offer a color picker, but make it optional just in case the
                // default is a more complex than the basic #888888-format
                let current_color = value_input.value;
                let new_button = document.createElement("button");
                new_button.classList.add("btn", "btn-outline-primary", "btn-sm", "my-2");
                const btn_text = {
                  "text": "Use color-picker",
                  "color": "Use text input"
                }
                new_button.innerText = btn_text[value_input.getAttribute("type")];
                new_button.addEventListener("click", function(e){
                  e.preventDefault();
                  const new_type = value_input.getAttribute("type") === "color" ? "text" : "color";
                  value_input.setAttribute("type", new_type);
                  new_button.innerText = btn_text[new_type];
                })
                parent_div.append(new_button);
              }
            }
          }
        }
      }
    }
  </script>
{% endif %}