{% extends "layout.html" %}
{% block page_title %} Admin: announcements {% endblock %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      Announcements
    </h1>
  </div>
  <div class="row">
    <div class="col pb-2 text-right">
      {% if is_html_enabled %}
        <a href="{{ url_for('admin.list_announcements_without_html') }}" class="btn btn-sm btn-outline-primary">Suppress HTML in list</a>
      {% else %}
      <a href="{{ url_for('admin.list_announcements') }}" class="btn btn-sm btn-outline-primary">Apply HTML in list</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    {% if announcements %}
      <table class="col table table-striped table-bordered table-hover table-responsive-md bg-white">
        <thead>
          <tr>
            <th></th>
            <th>type</th>
            <th>text</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for announcement in announcements %}
            <tr>
              <td>
                {% if is_html_enabled %}
                  <a href="{{ url_for('admin.edit_announcement', announcement_id=announcement.id)}}"
                  class="btn btn-outline-secondary btn-admin btn-jump">Edit</a>
                {% else %}
                  <a href="{{ url_for('admin.edit_announcement_without_html', announcement_id=announcement.id)}}"
                  class="btn btn-outline-secondary btn-admin btn-jump">Edit</a>
                {% endif %}
              </td>
              <td>{{announcement.type}}</td>
              <td>
                {% if is_html_enabled and announcement.is_html %}
                  {{announcement.text|safe}}
                {% else %}
                  {{announcement.text}}
                {% endif %}
              </td>
              <td>
                <form action="{{ url_for('admin.publish_announcement', announcement_id=announcement.id) }}" method="POST">
                  {{ form.csrf_token }}
                  {% if announcement.is_visible %}
                    {{ form.submit_hide(class="btn btn-primary")}}
                  {% else %}
                    {{ form.submit_publish(class="btn btn-danger") }}
                  {% endif %}
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="col">
        <div class="alert alert-warning">
          No announcements in the database. Make a new one, or add an example and edit it.
        </div>
      </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col">
      <p class="btn-collection">
        <a href="{{ url_for('admin.edit_announcement') }}" class="btn btn-outline-secondary btn-admin btn-jump">New announcement</a>
      </p>
      {% if example_form %}
        <form action="{{ url_for('admin.add_example_announcement') }}" method="POST">
          {{ example_form.csrf_token }}
          <p class="btn-collection">
            <input type="submit" class="btn btn-primary" value="Add example announcement"/>
          </p>
        </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
