{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      {% if announcement %}
        Edit
      {% else %}
        New
      {% endif %}
      Announcement
    </h1>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="border container">
        <form id="AnnounceForm" class="form form-announce" method="POST" action="{{url_for('admin.edit_announcement', announcement_id=id)}}" role="form">
          {{ form.csrf_token }}
          <div class="row">
            <div class="col my-2">
              <div class="form-group">
                {{form.type.label}}
                <select name="type" class="form-control">
                  {% for option_group in type_option_groups %}
                    <optgroup label="{{ option_group }}">
                      {% for option in type_option_groups[option_group] %}
                        <option {% if announcement.type == option %}selected{% endif %}>{{ option }}</option>
                      {% endfor %}
                    </optgroup>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col my-2">
              <div class="form-group">
                {{form.is_html.label}}
                <select name="is_html" id="is_html" class="form-control mr-sm-1">
                  <option value="y" {% if announcement.is_html %} selected {% endif %}>Yes</option>
                  <option value="" {% if not announcement.is_html %} selected {% endif %}>No</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col my-2">
              <div class="form-group">
                {{form.text.label}}
                {{form.text(placeholder="Message text", class_="form-control mr-sm-1")}}
              </div>
            </div>
          </div>
          <input class="btn btn-primary my-3" type="submit" value="Submit announcment" />
        </form>
      </div>
      <div class="border container my-4 p-3">
              <form id="AnnounceDeleteForm" class="form form-delete" method="POST"
                action="{{ url_for('admin.delete_announcement', announcement_id=announcement.id)}}" role="form">
                {{ delete_form.csrf_token }}
                {{ delete_form.submit_delete(class="btn btn-danger")}}
              </form>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="alert alert-danger mb-3">
        Be <strong>very careful</strong> if you enable HTML in an announcement:
        <em>you can break the layout of the pages</em>. Check and double check
        that you have closed all the tags you've opened!
      </div>
      <p>
        You may need to hide/publish announcements to see changes take
        effect after you have submitted them.  
      </p>
      <h3>Top-of-page announcements</h3>
      <p>
        Announcements of type
        <code class="alert-danger p-1">danger</code>,
        <code class="alert-info p-1">info</code>,
        <code class="bg-yellow p-1">special</code> or
        <code class="alert-warning p-1">warning</code>
        appear on all pages (except tech notes).
      </p>
      <h3>Page-specific announcements</h3>
      <p>
        The <code>login</code> and <code>tagline</code> announcements are
        not styled, and <strong>only</strong> appear on these pages:
      </p>
      <table class="col table table-striped table-bordered table-hover table-responsive-md bg-white">
        <tr>
          <th>Announcement</th>
          <th>Where does it appear?</th>
        </tr>
        <tr>
          <td><code>get-editor</code></td>
          <td>
            <a href="{{ url_for('public.home') }}">User settings</a> page
            (when the student has forked their editor repo)
          </td>
        </tr>
        <tr>
          <td><code>home</code></td>
          <td><a href="{{ url_for('public.home') }}">Home page</a></td>
        </tr>
        <tr>
          <td><code>login</code></td>
          <td><a href="{{ url_for('public.login') }}">Login form</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>

{% endblock %}
