{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      {% if announcement %}
        Edit
      {% else %}
        New
      {% endif %}
      Announcement
    </h1>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="border border-secondary container">
        <form id="AnnounceForm" class="form form-announce" method="POST" action="{{url_for('admin.edit_announcement', id=id)}}" role="form">
          {{ form.csrf_token }}
          <input type="hidden" name="id" value="{{ id }}"/>
          <div class="row">
            <div class="col my-2">
              <div class="form-group">
                {{form.type.label}}
                {{form.type(placeholder="info", class_="form-control")}}
              </div>
            </div>
            <div class="col my-2">
              <div class="form-group">
                {{form.is_html.label}}
                <select name="is_html" id="is_html" class="form-control mr-sm-1">
                  <option value="y" {% if announcement.is_html %} selected {% endif %}>Yes</option>
                  <option value="" {% if not announcement.is_html %} selected {% endif %}>No</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col my-2">
              <div class="form-group">
                {{form.text.label}}
                {{form.text(placeholder="Message text", class_="form-control mr-sm-1")}}
              </div>
            </div>
          </div>
          <input class="btn btn-primary my-3" type="submit" value="Submit announcment" />
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 my-3">
      You may need to hide/publish announcements to see changes take
      effect after you have submitted them.
    </div>
  </div>

  {% if announcement %}
    <div class="row my-3">
      <div class="col-lg-6">
        <div class="border border-secondary container p-3">
          <form id="AnnounceDeleteForm" class="form form-delete" method="POST" action="{{ url_for('admin.delete_announcement')}}" role="form">
            {{ delete_form.csrf_token }}
            {{ delete_form.submit_delete(class="btn btn-danger")}}
                <input type="hidden" name="id" value="{{ announcement.id }}" />
          </form>
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}
