{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      API test
    </h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      Use this page to test the API (admin accounts only).
      <br>
      Be careful: successful requests update buggy data (so maybe only test with your own username).
      <br>
      You'll get raw JSON back as the response.
      <br>
      Example JSON contains a random number of wheels.
      <br><br>
      <a href="{{ url_for('admin.api_test') }}" class="btn btn-secondary">Refresh values</a>
    </div>
  </div>
  <div class="row my-3">
    <form method="POST" action="/api/upload" role="form">
      <table class="col table table-striped table-bordered table-hover bg-white">
        <thead>
          <tr>
            <th>request</th>
            <th><code>POST /api/upload</code></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <code>user:</code>
            </td>
            <td>
              <input type="text" name="user" value="{{ current_user.username }}"/>
            </td>
          </tr>
          <tr>
            <td>
              <code>key:</code>
            </td>
            <td>
              <input type="text" name="key" value="{{ current_user.api_key }}"/>
            </td>
          </tr>
          <tr>
            <td>
              <code>secret:</code>
            </td>
            <td>
              <input type="text" name="secret" value="{{ current_user.api_secret }}"/>
              <a style="margin-left:1em;" href="{{ url_for('user.set_api_secret') }}" class="btn btn-outline-secondary btn-white">Set API secret &rtri;</a>
            </td>
          </tr>
          <tr>
            <td>
              <code>buggy_json:</code>
            </td>
            <td>
              <textarea name="buggy_json" style="height:8rem">
{
  "qty_wheels": {{ random_qty_wheels }}
}
              </textarea>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <button class="btn btn-primary" id="check-all-btn">submit API request</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
{% endblock %}
