{% extends "layout.html" %}
{% block page_title %} Admin: API test {% endblock %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-2">
  <div class="row">
    <h1 class="col my-3">
      API test (staff only)
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>
        Use this page to test the API (available to staff accounts only).
        <br>
        {% if current_user.is_staff %}
          <strong>Be careful:</strong> successful requests update
          buggy data: so maybe only test with your own username?
        {% else %}
          You can only test with your own username.
        {% endif %}
        <br>
        You'll get raw JSON back as the response.
      </p>
    </div>
    <div class="col-md-6">
      <div class="border p-3">
        <div class="row">
          <div class="col">
            API credentials for 
            <code>{{ current_user.username }}</code>
          </div>
          <div class="col btn-collection">
            {% include "admin/_api_key_form_user.html" %}
            <a id="btn-to-own-secret" href="{{ url_for('user.set_api_secret') }}" class="btn btn-outline-secondary btn-white btn-jump my-2">Set API secret</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mt-3">
    <div class="col-md-8 col-lg-6">
      <div class="alert alert-danger">
        The example JSON only contains a <strong>random number of wheels</strong>:
        remember that any values missing from the JSON in a successful API post
        will be set to their defaults in the buggy! 
      </div>
    </div>
  </div>
  <form method="POST" action="/api/upload" role="form">
    <div class="row my-3">
      <div class="col-md-8 col-lg-6">
        <table class="table table-bordered bg-white">
          <thead>
            <tr>
              <th>request</th>
              <th><code>POST /api/upload</code></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <code>user:</code>
              </td>
              <td>
                {% if current_user.is_staff %}
                  <input type="text" id="user" name="user" value="{{ current_user.username }}" class="form-control mr-sm-1"/>
                {% else %}
                  <input type="hidden" is="user" name="user" value="{{ current_user.username }}"/>
                  <code>{{ current_user.username }}</code>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <code>key:</code>
              </td>
              <td>
                <input type="text" name="key" value="{{ current_user.api_key or '' }}" class="form-control mr-sm-1"/>
              </td>
            </tr>
            <tr>
              <td>
                <code>secret:</code>
              </td>
              <td>
                <input type="text" name="secret" value="{{ current_user.api_secret or '' }}"  class="form-control mr-sm-1"/>
              </td>
            </tr>
            <tr>
              <td>
                <code>buggy_json:</code>
              </td>
              <td>
                <textarea name="buggy_json" rows="4" class="form-control mr-sm-1">
  {
    "qty_wheels": {{ random_qty_wheels }}
  }
                </textarea>
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
                <button class="btn btn-primary" id="check-all-btn">Submit API request</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col my-3">
      <p class="btn-collection">
        <a href="{{ url_for('admin.api_test') }}" class="btn btn-secondary">Refresh values</a>
      </p>
      <p class="mt-4">
        Note: you can only set your <em>own</em> API secret.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col my-3 text-right">
      {{ macros.docs_btn("API", "/running/api") }}
    </div>
  </div>
</div>
<script>
  const btn_to_own_secret = document.getElementById('btn-to-own-secret');
  const username_input = document.getElementById('user');
  function show_hide_btn_to_own_secret(){
    if (username_input.value == "{{ current_user.username }}") {
      btn_to_own_secret.classList.remove("disabled");
    } else {
      btn_to_own_secret.classList.add("disabled");
    }
  }
  username_input.addEventListener("change", show_hide_btn_to_own_secret);
  show_hide_btn_to_own_secret();
</script>
{% endblock %}
