{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="mt-5">
      Generate or clear API keys
    </h1>
  </div>
  <div class="row">
    <p>
      A user can only access the API (used by task 5-API) if they provide an API key that matches what is
      set here. 
      <br>
      Note that the API key is required in addition to the
      <a href="{{  url_for('user.set_api_secret') }}">API secret</a>, which each user must set for
      themselves. The <code>key</code> allows you to grant or deny access to the API, whereas the
      <code>secret</code> is simulating a timely token (such as those used in payment transactions).
    </p>
  </div>
  <form class="form p-3" id="ApiKeyForm" method="POST" action="{{ url_for('public.api_keys') }}" role="form">
    {{ form.csrf_token }}
    <div class="row">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Username</th>
            <th>API key</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td class="check">
                <input type="checkbox" name="usernames" id="user-{{ user.username }}" value="{{ user.username }}">
                <label for="user-{{ user.username }}">{{ user.username | title }}</label>
              </td>
              {% if user.api_key == None %}
                <td class="has-no-key">
                  —
                </td>
              {% else %}
                <td class="has-key">
                  <code>{{ user.api_key }}</code>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <p class="text-right">
        <button class="btn btn-outline-secondary" id="check-all-btn">Check all &utri;</button>
        &nbsp;
        <button class="btn btn-outline-secondary" id="toggle-all-btn">Toggle all &utri;</button>
        &nbsp;
        {{ form.submit_generate_keys(class="btn btn-primary") }}
        &nbsp;
        {{ form.submit_clear_keys(class="btn btn-primary") }}
      </p>
    </div>
  </form>
  <script>
    let checkboxes = document.querySelectorAll(".check input");
    document.getElementById("check-all-btn").addEventListener("click", function(e){
      e.preventDefault();
      for (let checkbox of checkboxes){
        checkbox.checked = true;
      }
    });
    document.getElementById("toggle-all-btn").addEventListener("click", function(e){
      e.preventDefault();
      for (let checkbox of checkboxes){
        checkbox.checked = !checkbox.checked;
      }
    })
  </script>

{% endblock %}

