{% extends "layout.html" %}
{% block page_title %} Admin: publish buggy editor {% endblock %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-2">
  <div class="row">
    <h1 class="col my-3">
      Publish the Buggy Editor zip file
    </h1>
  </div>
  <div class="row mb-4">
    <div class="col-md-8">
      <p>
        The editor files will be zipped up together with this custom
        <code>{{ readme_filename }}</code>. You can also update the hardcoded
        server url in <code>{{ editor_python_filename }}</code> so the students'
        editors link back to <em>this</em> race server.
      </p>
      <p>
        The files are a fixed snapshot from the editor repo, taken from this
        commit:
        <a href="{{ buggy_editor_origin_github_url }}/commit/{{ editor_source_commit }}">{{ editor_source_commit[:9] }}</a>
        (although the README, below, will be slightly different).
      </p>
      <p>
        When you submit this form, the config settings
        <code>IS_WRITING_SERVER_URL_IN_EDITOR</code>,  <code>IS_WRITING_HOST_IN_EDITOR</code> and
        <code>IS_WRITING_PORT_IN_EDITOR</code> will be updated to
        remember your choices.
      </p>
    </div>
    <div class="col-md-4">
      <p class="btn-collection">
        <a href="{{ url_for('admin.settings', group_name='editor') }}"
        class="btn btn-outline-secondary btn-config-group"><span>Editor</span></a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form action="{{ url_for('admin.publish_editor_zip') }}" method="POST">
        {{ form.csrf_token }}
        <div class="container border">
          <div class="row">
            <div class="col p-3" id="readme-col">
              <p>This README contains some current config setting values<br>
                (for example, the race server URL: <code>{{ server_url }}</code>)
              </p>
              {{ form.readme_contents.label() }}
              {{ form.readme_contents(id="readme-input", class="form-control mr-sm-1", rows=qty_lines_in_readme) }}
            </div>      
          </div>
          <div class="alert alert-secondary">
            <h2 class="alert-title">Inside <code>app.py</code></h2>
          <div class="row">
            <div class="col-md-4 p-3">
              {{ form.is_writing_server_url_in_editor.label() }}
              <p><code>{{ server_url }}</code></p>
              <select name="is_writing_server_url_in_editor" class="form-control">
                <option value="" {% if not is_writing_server_url_in_editor %}selected{% endif %}>No</option>
                <option value="1" {% if is_writing_server_url_in_editor %}selected{% endif %}>Yes</option>
              </select>
            </div>
            <div class="col-md-4 p-3">
              {{ form.is_writing_host_in_editor.label() }}
              <p><code>{{ editor_host }}</code> replacing <code>0.0.0.0</code></p>
              <select name="is_writing_host_in_editor" class="form-control">
                <option value="" {% if not is_writing_host_in_editor %}selected{% endif %}>No</option>
                <option value="1" {% if is_writing_host_in_editor %}selected{% endif %}>Yes</option>
              </select>
            </div>
            <div class="col-md-4 p-3">
              {{ form.is_writing_port_in_editor.label() }}
              <p><code>{{ editor_port }}</code> replacing <code>5000</code></p>
              <select name="is_writing_port_in_editor" class="form-control">
                <option value="" {% if not is_writing_port_in_editor %}selected{% endif %}>No</option>
                <option value="1" {% if is_writing_port_in_editor %}selected{% endif %}>Yes</option>
              </select>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col p-3 btn-collection">
              <button class="btn btn-primary">Create zip file and publish</button>
            </div>
          </div>
        </div>
      </form>
      {% if qty_lines_in_readme > 16 %}
        <script>
          const QTY_LINES_IN_README = Math.round("{{ qty_lines_in_readme }}");
          const REASONABLE_QTY_LINES = 6;
          const EXPAND_TEXT = "Expand input";
          const SHRINK_TEXT = "Shrink input";
          const readme_input = document.getElementById("readme-input");
          readme_input.setAttribute("rows", REASONABLE_QTY_LINES);
          const readme_size_btn = document.createElement("button");
          readme_size_btn.classList.add("btn", "btn-outline-secondary", "btn-sm", "float-right", "m-2");
          readme_size_btn.innerText="Expand input";
          readme_size_btn.addEventListener("click", function(e){
            e.preventDefault();
            let text, qty_rows; // 
            if (readme_size_btn.innerText == EXPAND_TEXT) {
              text = SHRINK_TEXT;
              qty_rows = QTY_LINES_IN_README
            } else  {
              text = EXPAND_TEXT;
              qty_rows = REASONABLE_QTY_LINES
            }
            readme_size_btn.innerText = text;
            readme_input.setAttribute("rows", qty_rows);
          })
          document.getElementById("readme-col").prepend(readme_size_btn);
        </script>
      {% endif %}
    </div>  
  </div>
  <div class="row">
    <div class="col my-3 text-right btn-collection">
      {{ macros.docs_btn("Buggy editor", "/buggy-editor") }}
      {{ macros.docs_btn("Customising the editor", "/buggy-editor/customising") }}
    </div>
  </div>
</div>
{% endblock %}

