{% extends "layout.html" %}
{% block page_title %} Admin: buggy editor {% endblock %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      Buggy Editor (the students' repo)
    </h1>
  </div>
  {% if not is_using_github %}
    <div class="row">
      <div class="col-md-6">
        <div class="alert alert-info">
          <h2 class="alert-title">Not using GitHub</h2>
          {% if buggy_editor_zipfile_url %}
            <p>
              Your students can download the editor source code
              from <code><a href="{{ buggy_editor_zipfile_url }}">{{ buggy_editor_zipfile_url }}</a></code>
            </p>
          {% else %}
            <p>
              Your students can download the editor source as a
              zip file from this server.
            </p>
            <p class="btn-collection">
              <a class="btn btn-outline-secondary btn-admin btn-jump"
              href="{{ url_for('admin.publish_editor_zip') }}">Publish editor zipfile</a>
            </p>
          {% endif %}
        </div>
        <p>
          You can change this behaviour with the "GitHub" config
          settings.
        </p>
        <p class="btn-collection">
          <a href="{{ url_for('admin.settings', group_name='github') }}" class="btn btn-outline-secondary btn-config-group btn-white"><span>GitHub</span></a>
        </p>
      </div>
      <div class="col-md-6">
        {% if is_editor_zipfile_published %}
          <div class="alert {% if not buggy_editor_zipfile_url %}alert-success{% else %}alert-warning{% endif %}">
            <h2 class="alert-title">Zipfile is published</h2>
            <p>
              The zipfile was published at {{ editor_zip_generated_datetime }}.
            </p>
            {% if buggy_editor_zipfile_url %}
              <p>
                Students <strong>cannot download it</strong> from here because
                you've specified a URL that overrides the default on this server.
              </p>
            {% else %}
              <p>
                Students can download it from
                <a href="{{ url_for('public.download_editor_zip') }}">{{ url_for("public.download_editor_zip") }}</a>
                (this is the <em><strong>Source code</strong>/Get the code</em> link on the server's
                <a href="{{ url_for('public.home') }}">home&nbsp;page</a>).
              </p>
            {% endif %}
            <p class="btn-collection">
              <a class="btn btn-outline-secondary btn-admin btn-download" href="{{ url_for('admin.download_editor_zip_for_admin')}}">Download zipfile (staff only)</a>
            </p>
          </div>
        {% else %}
          <div class="alert alert-danger">
            <h2 class="alert-title">Zipfile is not yet published</h2>
            <p>
              The zipfile has not been published and is not
              yet available for students to download.
            </p>
          </div>
        {% endif %}
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-6">
        {% if is_default_repo_owner  %}
          <div class="alert alert-danger">
            <p>
              This race server is currently configured to
              use the default buggy editor, owned by
              <code>buggyrace</code>.
            </p>
            <p>
              You <em>can</em> run like this, but it's probably
              better to use a customised fork instead.
            </p>
          </div>
        {% else %}
          <div class="alert alert-success">
            <p>
              This race server is currently configured to
              use a fork of the buggy editor, owned by
              <code>{{ buggy_editor_repo_owner }}</code>.  
            </p>
          </div>
        {% endif %}
        <div class="alert alert-info">
          <p>
            This is the source code repo that your students will
            be downloading:
          </p>
          <p>
            <code>{{ buggy_editor_github_url }}</code>
          </p>
          </p>
          <p class="btn-collection">
            <a href="{{ buggy_editor_github_url }}" class="btn btn-outline-primary btn-jump btn-white">Buggy editor repo on GitHub</a>
          </p>  
        </div>
      </div>
      <div class="col-md-6">
        <div class="alert alert-warning">
          <h2 class="alert-title">Customising the editor repo</h2>
          <p>
            {% if is_default_repo_owner  %}
              You should probably fork that repo into your own GitHub account
              (or one belonging to {{ institution_short_name or institution_name or 'your institution'}}).
            {% endif %}
            Before your project starts, you should customise the <code>{{ readme_filename }}</code>
            with the example text below (or something like it), and commit the changes.
            Finally make sure the server's config settings are pointing at
            your customised repo.
          </p>
          <p class="btn-collection">
            <a href="{{ url_for('admin.settings', group_name='github') }}" class="btn btn-outline-secondary btn-config-group btn-white"><span>GitHub</span></a>          
          </p>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-md-8 my-3">
      <h2>An example {{ readme_filename }}</h2>
      <p>
        The default <code>{{ readme_filename }}</code> in the buggy editor repo owned by <code>buggyrace</code>
        is, by necessity, not customised. For example, ideally its {{ readme_filename }} should
        include a link back to <em>this</em> race server (<code>{{ buggy_race_server_url }}</code>).
      </p>
      <p>
        The example below has your server's current config settings in place.
      </p>
      <p>
        Check that the advice it's giving makes sense to your students, based
        on the way you're planning on running the project.
      </p>
      {% if is_editor_zipfile_published %}
        <div class="alert alert-warning">
          <h2 class="alert-title">Contents may differ</h2>
          <p>
            When you published the zipfile, you customised its README
            text. The text shown here is the suggested example — you
            may have edited the contents of <code>{{ readme_filename }}</code>,
            which is now inside the zipfile, differently.
          </p>    
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col copy-to-clipboard" data-target="example-editor-readme">
<pre id="example-editor-readme" class="p-3 task-text">
{% include "admin/_buggy_editor_readme.txt" %}
</pre>
      </div>
    </div>
  </div>
</div>
{% endblock %}

