{% extends "layout.html" %}
{% block page_title %} Admin: config docs helper {% endblock %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">Config docs helper</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>
        This is a (staff-access, read-only and mostly undocumented) page for
        producing up-to-date config details suitable for pasting (carefully)
        into the customisation documentation...
      </p>
      <p>
        ...ultimately the markdown text below ends up as the config sections
        (tables) on pages like this: &rarr;
        {{ macros.docs_btn("Customising & config: server", "/customising/server#config-settings-server") }}
      </p>
      <p>
        See this <a href="https://github.com/buggyrace/buggy-race-about/blob/main/utils/update-customising-with-current-config.py">Python script</a>
        in the <code>utils/</code> directory of the documentation repo for details.
      </p>
      <p>
        You can enable/disable access to <em>this</em> page on this server via the
        environment/config setting  <code>_IS_DOCS_HELPER_PAGE_ENABLED</code>.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col copy-to-clipboard" data-target="config-documentation-markdown">
      <pre class="border border-secondary task-text p-3" id="config-documentation-markdown">
{% for group_name in sorted_groupnames %}{% if group_name != "AUTH" %}
---------------------------------------------------------
# {{ pretty_group_name_dict[group_name] }}
---------------------------------------------------------

## Config settings ("{{ pretty_group_name_dict[group_name] }}")

{: .config-settings}
| Setting  | Description   |
|----------|---------------|
{% for setting_name in groups[group_name] %}| `{{ setting_name }}` | {{ descriptions[ setting_name ] }}  &lt;br&gt;&lt;br&gt; _Default value:_ {{ md_pretty_default_settings[ setting_name ] }} |
{% endfor %}{% endif %}
{% endfor %}
      </pre>
    </div>
  </div>
</div>
{% endblock %}

