{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col">Admin dashboard</h1>
  </div>
  {% if not tasks %}
    <div class="alert alert-danger">
      <strong>There are no tasks in the project</strong>
      <br>
      Go to <a href="{{ url_for('admin.tasks_admin')}}">config for tasks</a>
      and either accept the default tasks or upload your own customised markdown file.
    </div>
  {% endif %}
  {% if not students %}
    <div class="alert alert-warning">
      <strong>There are no active enrolled students</strong>
      <br>
      You can <a href="{{ url_for('admin.bulk_register', data_format=None )}}">register users</a>
      from a CSV file — see the example format on that page.
    </div>
  {% endif %}
  {% if not external_tech_notes_url %}
    {% if not tech_notes_generated_at %}
      <div class="alert alert-warning">
        <strong>Tech notes have not been published yet</strong>
        <br>
        When you have finished changing any config settings they might use, go to
        <a href="{{ url_for('admin.tech_notes_admin')}}">config for tech notes</a>
        and press the <strong>Publish</strong> button.
      </div>
    {% endif %}
  {% endif %}
  <div class="row">
    <div class="col-sm-6">
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td colspan="2">Students</td>
          <td class="text-right">{{ qty_students_active }}</td>
        </tr>
        <tr>
          <td>Logged in today</td>
          <td class="text-right">
            {% if qty_students_active > 0 %}
              {{ (100 * qty_students_logged_in_today/qty_students_active) | int }}%
            {% endif %}
          </td>
          <td class="text-right">{{ qty_students_logged_in_today }}</td>
        </tr>
        {% if students_logged_in_today %}
          <tr>
            <td colspan="3">
              <ul class="user-list">
                {% for s in students_logged_in_today %}
                  <li>
                    <a class="user-link" href="{{ url_for('admin.show_user', user_id=s.username) }}">{{ s.pretty_username }}</a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
        <tr>
          <td>Logged in last 7 days</td>
          <td class="text-right">
            {% if qty_students_active > 0 %}
              {{ (100 * qty_students_logged_in_this_week/qty_students_active) | int }}%
            {% endif %}
          </td>
          <td class="text-right">{{ qty_students_logged_in_this_week }}</td>
        </tr>
        {% if students_logged_in_this_week %}
          <tr>
            <td colspan="3">
              <ul class="user-list">
                {% for s in students_logged_in_this_week %}
                  <li>
                    <a class="user-link" href="{{ url_for('admin.show_user', user_id=s.username) }}">{{ s.pretty_username }}</a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
        <tr>
          <td>Never logged in</td>
          <td class="text-right">
            {% if qty_students_never_logged_in > 0 %}
              {{ (100 * qty_students_never_logged_in/qty_students_active) | int }}%
            {% endif %}
          </td>
          <td class="text-right">{{ qty_students_never_logged_in }}</td>
        </tr>
        {% if students_never_logged_in %}
          <tr>
            <td colspan="3">
              <ul class="user-list">
                {% for s in students_never_logged_in %}
                  <li>
                    <a class="user-link" href="{{ url_for('admin.show_user', user_id=s.username) }}">{{ s.pretty_username }}</a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}


        <tr>
          <td colspan="2">Deactivated users</td>
          <td class="text-right">{{ qty_users_deactivated }} </td>
        </tr>
        {% if users_deactivated %}
          <tr>
            <td colspan="3">
              <ul class="user-list">
                {% for u in users_deactivated %}
                  <li>
                    <a class="user-link" href="{{ url_for('admin.show_user', user_id=u.username) }}">{{ u.pretty_username }}</a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
        <tr>
          <td colspan="2">Admin users</td>
          <td class="text-right">{{ qty_admin_users }}</td>
        </tr>
        <tr>
          <td colspan="3">
            <ul class="user-list">
              {% for u in admin_users %}
                <li>
                  <a class="user-link" href="{{ url_for('admin.show_user', user_id=u.username) }}">{{ u.pretty_username }}</a>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% if qty_other_users %}
          <tr>
            <td colspan="2">Other users (e.g. guests)</td>
            <td class="text-right">{{ qty_other_users }}</td>
          </tr>
          <tr>
            <td colspan="3">
              <ul class="user-list">
                {% for u in other_users %}
                  <li>
                    <a class="user-link" href="{{ url_for('admin.show_user', user_id=u.username) }}">{{ u.pretty_username }}</a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
        <tr>
          <td colspan="2">Total users</td>
          <td class="text-right">{{ qty_users }}</td>
        </tr>
      </table>
    </div>

    <div class="col-sm-6">
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td>Buggies uploaded</td>
          <td class="text-right">
            {% if qty_students > 0 %}
              {{ (100 * qty_buggies/qty_students) | int }}%
            {% endif %}
          </td>
          <td class="text-right">{{ qty_buggies }}</td>
        </tr>
        <tr>
          <td>Uploaded today</td>
          <td class="text-right">
            {% if qty_students > 0 %}
              {{ (100 * qty_uploads_today/qty_students) | int }}%
            {% endif %}
          </td>
          <td class="text-right">{{ qty_uploads_today }}</td>
        </tr>
        <tr>
          <td>Uploaded in last 7 days</td>
          <td class="text-right">
            {% if qty_students > 0 %}
              {{ (100 * qty_uploads_week/qty_students) | int }}%
            {% endif %}
          </td>
          <td class="text-right">{{ qty_uploads_week}}</td>
        </tr>
      </table>

      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td>Project deadline</td>
          <!-- "dedaline-container" is magic: js enhanced -->
          <td id="deadline-container" colspan="3">
            {% if submission_deadline %}
              <span style="display:inline-block;margin-right:1em;">{{ submission_deadline | replace("T", " ") }}</span>
              <span id="deadline-countdown" style="display:inline-block" data-deadline="{{ submission_deadline }}"></span>
            {% else %}
              not set
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>With report?</td>
          <td>
            {% if config['PROJECT_REPORT_TYPE'] == "" %}
              no
            {% else %}
              yes
              {% if config['PROJECT_REPORT_TYPE'] != "report" %}
                (as "{{ config['PROJECT_REPORT_TYPE'] }}")
              {% endif %}
            {% endif %}
          </td>
          <td>Tasks</td>
          <td class="text-right">{{ qty_tasks }}</td>
        </tr>
      </table>

      {% if is_storing_notes %}
        <table class="table table-striped table-bordered table-hover">
          <tr>
            <td>Total notes</td>
            <td class="text-right">{{ qty_notes }}</td>
          </tr>
          {% for task in tasks %}
            {% if qty_notes_by_task[task.fullname] > 0 %}
              <tr>
                <td> {{ task.fullname }}</td>
                <td class="text-right">{{ qty_notes_by_task[task.fullname] }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      {% endif %}
    </div>
  </div>
  {% if unexpected_config_settings %}
    <div class="row">
      <div class="col-sm-6">
        <div class="alert alert-warning">
          <p>
            Unexpected config settings found in database:
            {% for name in unexpected_config_settings %}
            <code>{{ name }}</code>
            {% endfor %}
          </p>
          {% for name in unexpected_config_settings %}
            <p class="btn-collection">
              <form action="{{ url_for('admin.purge_unexpected_config_setting', setting_name=name) }}" method="POST">
                {{ purge_form.csrf_token }}
                <button type="submit" class="btn btn-primary">Purge {{name}}</button>
              </form>
            </p>
          {% endfor %}
          <p>These settings are deprecated: it's safe to purge them.</p>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

