{% extends "layout.html" %}
{% block page_title %} Admin: dashboard {% endblock %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">Admin dashboard</h1>
  </div>
  {% if not tasks %}
    <div class="alert alert-danger">
      <h2 class="alert-title">There are no tasks in the project</h2>
      Go to <a href="{{ url_for('admin.tasks_admin')}}">config for tasks</a>
      and either accept the default tasks or upload your own customised markdown file.
    </div>
  {% endif %}
  {% if not is_task_list_published %} 
    <div class="alert alert-danger">
      <div class="row">
        <div class="col mb-3">
          <h2 class="alert-title">The task list has not been published</h2>
          Specifically, the generated task list file cannot be found.
          Go to <a href="{{ url_for('admin.tasks_admin') }}">config for tasks</a>
          to publish it.
        </div>
        {% if task_list_updated_timestamp %}
          <div class="col-lg-4">
            <h2 class="alert-title"><span class="subtitle">Last&nbsp;published: {{ task_list_updated_timestamp }}</span></h2>
            <form method="POST" action="{{ url_for('admin.tasks_generate') }}" role="form">
              {{ form.csrf_token }}
              <button class="btn btn-danger">Publish task list</button>
            </form>  
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if not external_tech_notes_url and is_publishing_enabled %}
    {% if not (is_tech_notes_index_published and tech_notes_generated_at) %}
      <div class="alert alert-danger">
        <div class="row">
          <div class="col mb-3">
            <h2 class="alert-title">Tech notes have not been published yet</h2>
            When you have finished changing any config settings they might use, go to
            <a href="{{ url_for('admin.tech_notes_admin')}}">config for tech notes</a>
            and press the <strong>Publish</strong> button.
          </div>
          {% if notes_generated_timestamp %}
            <div class="col-lg-4">
              <h2 class="alert-title"><span class="subtitle">Last&nbsp;generated: {{ notes_generated_timestamp }}</span></h2>
              <form method="POST" action="{{ url_for('admin.tech_notes_publish') }}" role="form">
                {{ form.csrf_token }}
                <button class="btn btn-danger">Publish tech notes</button>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}
  {% if not is_using_github %}
    {% if not buggy_editor_download_url and not is_editor_zipfile_published %}
      <div class="alert alert-danger">
        <h2 class="alert-title">Editor source zipfile has not been published yet</h2>
        Go to <a href="{{ url_for('admin.show_buggy_editor_info')}}">Buggy Editor config</a>
        for more information and link to customise and publish the zipfile.
      </div>
    {% endif %}
  {% endif %}
  {% if not students_active %}
    <div class="alert alert-warning">
      <h2 class="alert-title">There are no active enrolled students</h2>
      You can <a href="{{ url_for('admin.bulk_register', data_format=None )}}">register users</a>
      from a CSV file — see the example format on that page.
    </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-6">
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td colspan="2">Students</td>
          <td class="text-right">{{ qty_students_active }}</td>
        </tr>
        <tr>
          <td>Active today</td>
          <td class="text-right">
            {% if qty_students_active > 0 %}
              {{ (100 * qty_students_logged_in_today/qty_students_active) | int }}%
            {% endif %}
          </td>
          <td class="text-right">{{ qty_students_logged_in_today }}</td>
        </tr>
        {% if students_logged_in_today %}
          <tr>
            <td colspan="3">
              <ul class="sm-item-list">
                {% for s in students_logged_in_today %}
                  <li>
                    <a class="sm-item-link" href="{{ url_for('admin.show_user', user_id=s.username) }}">{{ s.pretty_username }}</a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
        <tr>
          <td>Active last 7 days</td>
          <td class="text-right">
            {% if qty_students_active > 0 %}
              {{ (100 * qty_students_logged_in_this_week/qty_students_active) | int }}%
            {% endif %}
          </td>
          <td class="text-right">{{ qty_students_logged_in_this_week }}</td>
        </tr>
        {% if students_logged_in_this_week %}
          <tr>
            <td colspan="3">
              <ul class="sm-item-list">
                {% for s in students_logged_in_this_week %}
                  <li>
                    <a class="sm-item-link" href="{{ url_for('admin.show_user', user_id=s.username) }}">{{ s.pretty_username }}</a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
        <tr>
          <td>Never logged in</td>
          <td class="text-right">
            {% if qty_students_never_logged_in > 0 %}
              {{ (100 * qty_students_never_logged_in/qty_students_active) | int }}%
            {% endif %}
          </td>
          <td class="text-right">{{ qty_students_never_logged_in }}</td>
        </tr>
        {% if students_never_logged_in %}
          <tr>
            <td colspan="3">
              <ul class="sm-item-list">
                {% for s in students_never_logged_in %}
                  <li>
                    <a class="sm-item-link" href="{{ url_for('admin.show_user', user_id=s.username) }}">{{ s.pretty_username }}</a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}


        <tr>
          <td colspan="2">Deactivated users</td>
          <td class="text-right">{{ qty_users_deactivated }} </td>
        </tr>
        {% if users_deactivated %}
          <tr>
            <td colspan="3">
              <ul class="sm-item-list">
                {% for u in users_deactivated %}
                  <li>
                    <a class="sm-item-link" href="{{ url_for('admin.show_user', user_id=u.username) }}">{{ u.pretty_username }}</a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
        <tr>
          <td colspan="2">Staff users</td>
          <td class="text-right">{{ qty_staff_users }}</td>
        </tr>
        <tr>
          <td colspan="3">
            <ul class="sm-item-list">
              {% for u in staff_users %}
                <li>
                  <a class="sm-item-link" href="{{ url_for('admin.show_user', user_id=u.username) }}">{{ u.pretty_username }}</a>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% if qty_other_users %}
          <tr>
            <td colspan="2">Other users (e.g. guests)</td>
            <td class="text-right">{{ qty_other_users }}</td>
          </tr>
          <tr>
            <td colspan="3">
              <ul class="sm-item-list">
                {% for u in other_users %}
                  <li>
                    <a class="sm-item-link" href="{{ url_for('admin.show_user', user_id=u.username) }}">{{ u.pretty_username }}</a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
        <tr>
          <td colspan="2">Total users</td>
          <td class="text-right">{{ qty_users }}</td>
        </tr>
      </table>
    </div>

    <div class="col-sm-6">
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td>Buggies uploaded</td>
          <td class="text-right">
            {% if qty_students > 0 %}
              {{ (100 * qty_buggies/qty_students) | int }}%
            {% endif %}
          </td>
          <td class="text-right">{{ qty_buggies }}</td>
        </tr>
        <tr>
          <td>Uploaded today</td>
          <td class="text-right">
            {% if qty_students > 0 %}
              {{ (100 * qty_uploads_today/qty_students) | int }}%
            {% endif %}
          </td>
          <td class="text-right">{{ qty_uploads_today }}</td>
        </tr>
        <tr>
          <td>Uploaded in last 7 days</td>
          <td class="text-right">
            {% if qty_students > 0 %}
              {{ (100 * qty_uploads_week/qty_students) | int }}%
            {% endif %}
          </td>
          <td class="text-right">{{ qty_uploads_week}}</td>
        </tr>
      </table>

      <table class="table table-striped table-bordered table-hover">
        <tr>
          <td>Project deadline</td>
          <!-- "dedaline-container" is magic: js enhanced -->
          <td id="deadline-container" colspan="3">
            {% if submission_deadline %}
              <span style="display:inline-block;margin-right:1em;">{{ submit_deadline_day }} {{ submission_deadline | replace("T", " ") }}</span>
              <span id="deadline-countdown" style="display:inline-block" data-deadline="{{ submission_deadline }}"></span>
            {% else %}
              not set
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>With report?</td>
          <td>
            {% if config['PROJECT_REPORT_TYPE'] == "" %}
              no
            {% else %}
              yes
              {% if config['PROJECT_REPORT_TYPE'] != "report" %}
                (as "{{ config['PROJECT_REPORT_TYPE'] }}")
              {% endif %}
            {% endif %}
          </td>
          <td>Tasks</td>
          <td class="text-right">{{ qty_tasks }}</td>
        </tr>
      </table>

      {% if is_storing_texts %}
        <table class="table table-striped table-bordered table-hover">
          <tr>
            <td>Total texts</td>
            <td class="text-right">{{ qty_texts }}</td>
          </tr>
          {% for task in tasks %}
            {% if qty_texts_by_task[task.fullname] > 0 %}
              <tr>
                <td> {{ task.fullname }}</td>
                <td class="text-right">{{ qty_texts_by_task[task.fullname] }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      {% endif %}
    </div>
  </div>
  {% if unexpected_config_settings %}
    <div class="row">
      <div class="col-sm-6">
        <div class="alert alert-warning">
          <p>
            Unexpected config settings found in database:
            {% for name in unexpected_config_settings %}
            <code>{{ name }}</code>
            {% endfor %}
          </p>
          {% for name in unexpected_config_settings %}
            <p class="btn-collection">
              <form action="{{ url_for('admin.purge_unexpected_config_setting', setting_name=name) }}" method="POST">
                {{ purge_form.csrf_token }}
                <button type="submit" class="btn btn-primary">Purge {{name}}</button>
              </form>
            </p>
          {% endfor %}
          <p>These settings are deprecated: it's safe to purge them.</p>
        </div>
      </div>
    </div>
  {% endif %}
  {% if current_user.is_administrator %}
    <div class="row">
      <div class="col mt-5">
          <p class="btn-collection">
            <a href="{{ url_for('admin.show_system_info') }}" class="btn btn-outline-secondary btn-admin btn-jump">System info</a>
          </p>
        </p>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

