{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col">Students' task notes</h1>
  </div>
  <div class="row">
    <div class="col">
      <div class="alert alert-warning">
        TODO! Work in progress!
        <br>
        This page not fully implemented yet! (Will be displaying/linking note and user details)
      </div>
      <p class="btn-collection">
        <button id="show-buttons-btn" class="hidden btn btn-outline-secondary">Show users as buttons</button>
      </p>
    </div>
  </div>
  <div class="row">
    <table id="all-student-notes" class="col table bg-white table-striped table-bordered table-hover table-responsive-md">
      <thead>
        <tr>
          <th>
            User
          </th>
          <th class="table-vertical-heading"><div>Buggy&nbsp;upload</div></th>
          {% for task in tasks %}
            <th class="table-vertical-heading"><div>{{ task.fullname }}</div></th>
         {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td class="username-display">
              <div>{{ student.pretty_username }}</div>
              <a class="hidden btn btn-outline-secondary m-0" href="{{ url_for('admin.show_user', user_id=student.id) }}">{{ student.pretty_username }} &rtri;</button>
            </td>
            <td class="status">
              {% if buggies_by_username[student.username] %}
                <a href="{{ url_for('admin.show_buggy', username=student.username) }}" class="bg-success"></a>
              {% endif %}
            </td>
            {% for task in tasks %}
              <td class="status">
                {% if notes_by_username[student.username][task.id] %}
                  <a href="#"
                    {% if notes_by_username[student.username][task.id].text | length < 16 %}
                      class="bg-warning"
                    {% else %}
                      class="bg-success"
                    {% endif %}
                  >&nbsp;</a>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}  
      </tbody>
    </table>
  </div>
</div>
<script>
  const btn=document.getElementById("show-buttons-btn");
  btn.addEventListener("click", function(){
    let tds = document.getElementsByClassName("username-display");
    for (let td of tds){
      td.classList.add("p-1", "pr-0");
      td.getElementsByTagName("DIV")[0].classList.add("hidden");
      td.getElementsByTagName("A")[0].classList.remove("hidden");
    }
  })
  btn.classList.remove("hidden");

</script>
{% endblock %}