{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      Students' task notes
    </h1>
  </div>
  <div class="row">
    <div class="col">
      <div class="alert alert-warning">
        Currently only notes belonging to <em>active students</em> are shown on this page.
      </div>
      {% if not students %}
        <div class="alert alert-danger">
          No active students found.
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <table id="all-student-notes" class="col table table-striped table-bordered table-hover table-responsive-md bg-white">
      <thead>
        <tr>
          <th>
            User
          </th>
          <th class="table-vertical-heading"><div>Buggy&nbsp;upload</div></th>
          {% for task in tasks %}
            <th class="table-vertical-heading"><div>{{ task.fullname }}</div></th>
         {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td class="username-display">
              <a class="user-link" href="{{ url_for('admin.show_user', user_id=student.id) }}">{{ student.pretty_username }}</a>
            </td>
            <td class="status">
              {% if buggies_by_username[student.username] %}
                <a href="{{ url_for('admin.show_buggy', username=student.username) }}" class="bg-success text-center p-2"><span class="icon-wrench"></span></a>
              {% endif %}
            </td>
            {% for task in tasks %}
              <td class="status">
                {% if notes_by_username[student.username][task.id] %}
                  <a href="{{ url_for('admin.show_user', user_id=student.id) }}#{{ task.anchor }}"
                    {% if notes_by_username[student.username][task.id].text | length < 16 %}
                      class="bg-warning"
                    {% else %}
                      class="bg-success"
                    {% endif %}
                  >&nbsp;</a>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}  
      </tbody>
    </table>
  </div>
</div>
{% endblock %}