{% extends "layout.html" %}
{% block page_title %}
  Admin: {{ race.title or "untitled race" }}
{% endblock %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-2">
  <div class="row">
    <h1 class="col my-3">
      {{ race.title or "Untitled race" }}
    </h1>
  </div>
  <div class="row">
    <div class="col">
      <div class="alert alert-info">
        <h2 class="alert-title">Results &amp; race file (JSON)</h2>
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              {% if has_results %}
                <p>
                  <strong>This race already has results.</strong>
                  <br>
                  {% if race.race_file_url %}
                    {% if race_file_is_local %}
                      A race file for this race has been uploaded to
                      this server.
                    {% else %}
                      A race file for this race has been uploaded to
                      an external location.
                    {% endif %}
                  {% else %}
                    Either the race file hasn't been published,
                    or you haven't added its URL yet.
                  {% endif %}
                </p>
              {% else %}
                {% if race.results_uploaded_at %}
                  <p>
                    <strong>This race has empty results</strong>.
                  </p>
                  <p>
                    There are no buggies in the results, but there <em>is</em>
                    a results-uploaded date, which effectively means the race
                    has been declared to have had <strong>no participants</strong>.
                    If this is incorrect, either delete the "Results uploaded at"
                    date below and submit no date instead, or upload a race file
                    that contains some results.
                  </p>
                {% else %}
                  <p>
                    <strong>This race has no results (yet)</strong>.
                  </p>
                {% endif %}
                <p>
                  The race file is the input you need to run a race
                  offline. Running the race produces a new race file,
                  containing the results and events, which you can
                  then upload.
                </p>
              {% endif %}
            </div>
            <div class="col-md-5 p-3 btn-collection">

              {% if race.race_file_url %}
                <a class="btn btn-primary btn-download mb-3"
                href="{{ race.race_file_url }}"
                >Get race file (with results)</a>
              {% endif %}
              {% if not has_results %}
                <a class="btn btn-primary btn-download mb-3"
                  href="{{ url_for('admin_race.download_race_json_with_buggies', race_id=race.id) }}"
                  >Download race file with (current) buggies</a>
              {% endif %}
              <button id="show-options-btn" class="hidden btn btn-outline-secondary btn-white mb-3">Show more download options</button>
            </div>
          </div>
          <div class="row optional-section">
            <div class="col-md-7">
              <p>
                <em>Including buggies</em><br>
                If you include buggies in the download, you are getting a snapshot
                of the buggies that are on the server <em>right now</em>. You can
                choose to download the race file without buggies if you've already
                saved the buggies for this race separately.
              </p>
              {% if has_results %}
                <p>
                  <em>Including events</em><br>
                  The events that happened in the race are used in to animate the
                  replay.
                  {% if race.race_file_url %}
                    If they are not in the race file you uploaded earlier, they
                    are not available here on the server (they are generated offline,
                    when you run the race, and written into the race file you then
                    upload).
                  {% else %}
                    These do not exist for this race yet (generate them by running
                    the race offline, and uploading the race file it produces).
                  {% endif %}
                </p>
              {% endif %}
            </div>
            <div class="col-md-5">
              {% if has_results %}
                <a class="btn btn-danger btn-download mb-3"
                  href="{{ url_for('admin_race.download_race_json_with_buggies', race_id=race.id) }}"
                  >Download race file
                  <strong>without events</strong>
                  and with (current) buggies</a>
              {% endif %}
              <a class="btn btn-danger btn-download"
                href="{{ url_for('admin_race.download_race_json_without_buggies', race_id=race.id) }}"
                >Download race file
                {% if has_results %}
                  <strong>without events</strong> and
                {% endif %}
                without buggies</a>
            </div>
          </div>
          <script>
            const OPTION_BTN_TEXT = {
              false: "Show more download options",
              true: "Hide download options"
            }
            const OPTION_BTN = document.getElementById("show-options-btn");
            const OPTIONAL_DIVS = document.getElementsByClassName("optional-section");
            for (let optional_div of OPTIONAL_DIVS){
              optional_div.classList.add("hidden");
            }
            OPTION_BTN.classList.remove("hidden");
            OPTION_BTN.addEventListener(
              "click",
              function(e){
                e.preventDefault();
                let is_showing = OPTION_BTN.innerText == OPTION_BTN_TEXT[true];
                OPTION_BTN.innerText = OPTION_BTN_TEXT[! is_showing];
                for (let optional_div of OPTIONAL_DIVS){
                  if (is_showing){
                    optional_div.classList.add("hidden");
                  } else {
                    optional_div.classList.remove("hidden");
                  }
                }
              }
            )
          </script>
        </div>
        <div class="btn-collection text-right">
          {{ macros.docs_btn("Downloading race files", "/races/downloading") }}
          {{ macros.docs_btn("Uploading results", "/races/uploading-results") }}
        </div>
      </div>
    </div>
  </div>
  {% if urls_with_different_protocol_dict %}
    <div class="row">
      <div class="col">
        <div class="alert alert-danger">
          <p>
            <strong>Caution</strong>: 
            {% if urls_with_different_protocol_dict|count == 1 %}
              One of the URLs in this race has a different protocol from this
              server (<code>{{ server_protocol }}</code>).
            {% else %}
              Some of the URLs in this race have a different protocol from this
              server (<code>{{ server_protocol }}</code>).
            {% endif %}
            This might cause problems displaying races.
          </p>
          <ul>
            {% for url_name in urls_with_different_protocol_dict %}
              <li>{{ url_name }}: <code>{{ urls_with_different_protocol_dict[url_name] }}</code></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered table-hover bg-white">
        <tbody>
          <tr>
            <td colspan="2" class="btn-collection">
              <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin_race.edit_race', race_id=race.id) }}">Edit race</a>
              {% if race.race_file_url %}
                <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('race.replay_race', race_id=race.id) }}">Replay</a>
              {% endif %}
              {% if race.is_visible and race.is_result_visible %}
                <a class="btn btn-outline-secondary btn-white btn-jump" href="{{ url_for('race.show_race_results', race_id=race.id) }}">View results (public)</a>
              {% else %}
                <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('race.show_race_results', race_id=race.id) }}">View results (preview)</a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Title</td>
            <td>
              {% if race.title is none or race.title == "" %}
                <em class="empty-setting">Untitled race</em>
              {% else %}
                <strong>{{ race.title }}</strong>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Description</td>
            <td>
              {% if race.desc is none or race.desc == "" %}
                <em class="empty-setting">none</em>
              {% else %}
                {{ race.desc }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Start time</td>
            <td>
              {% if race.start_at %}
                {{ race.start_at | servertime }}
              {% else %}
                <em class="empty-setting">not set</em>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Cost limit</td>
            <td>
              {% if race.cost_limit is number %}
                {{ race.cost_limit }}
              {% else %}
                <em class="empty-setting">none</em>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Is visible?</td>
            <td class="bool-{{ race.is_visible | lower }}">
              {% if race.is_visible %} Yes {% else %} No {% endif %}
            </td>
          </tr>
          <tr>
            <td>Are results visible?</td>
            <td class="bool-{{ race.is_result_visible | lower }}">
              {% if race.is_result_visible %} Yes {% else %} No {% endif %}
            </td>
          </tr>
          <tr>
            <td>Was the race abandoned?</td>
            {# note: "Yes" is the alarming state here, so reverse CSS class #}
            <td class="bool-{{ not race.is_abandoned | lower }}">
              {% if race.is_abandoned %} Yes {% else %} No {% endif %}
            </td>
          </tr>
          <tr>
            <td>URL of image</td>
            <td>
              {% if race.track_image_url is none or race.track_image_url == "" %}
                <em class="empty-setting">none</em>
              {% else %}
                <code>{{ race.track_image_url }}</code>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>URL of path SVG</td>
            <td>
              {% if race.track_svg_url is none or race.track_svg_url == "" %}
                <em class="empty-setting">none</em>
              {% else %}
                <code>{{ race.track_svg_url }}</code>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Lap length</td>
            <td>
              {% if race.lap_length is number %}
                {{ race.lap_length }}
              {% else %}
                <em class="empty-setting">none</em>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Is Did-Not-Finish a position?</td>
            <td>
              {% if race.is_dnf_position %} Yes {% else %} No {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% include "admin/_racetrack_svg.html" %}
  <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered table-hover bg-white">
        <thead>
          <tr>
            <th colspan="2">Results</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>URL of race file (JSON)</td>
            <td>
              {% if race.race_file_url is none or race.race_file_url == "" %}
                <em class="empty-setting">none</em>
              {% else %}
                <code>{{ race.race_file_url }}</code>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Results uploaded at</td>
            <td {% if not race.results_uploaded_at %}class="bool-false"{% endif %}>
              {% if race.results_uploaded_at %}
                <code>{{ race.results_uploaded_at | servertime }}</code>
              {% else %}
                <em class="empty-setting">never</em>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Number of laps</td>
            <td>
              {% if race.max_laps is number %}
                {{ race.max_laps }}
              {% else %}
                <em class="empty-setting">none</em>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Buggies entered</td>
            <td>
              {% if race.buggies_entered is number %}
                {{ race.buggies_entered }}
              {% else %}
                <em class="empty-setting">none</em>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Buggies started</td>
            <td>
              {% if race.buggies_started is number %}
                {{ race.buggies_started }}
              {% else %}
                <em class="empty-setting">none</em>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Buggies finished</td>
            <td>
              {% if race.buggies_finished is number %}
                {{ race.buggies_finished }}
              {% else %}
                <em class="empty-setting">none</em>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% include "races/_results.html" %}
  <div class="row">
    <div class="col my-3 text-right">
      {{ macros.docs_btn("Races", "/races") }}
    </div>
  </div>
</div>

{% endblock %}

