{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      Upload race results
      {% if race.title %}
        for <em>{{ race.title }}</em>
      {% endif %}
    </h1>
  </div>
  {% if race.results_uploaded_at %}
    <div class="row m-3">
      <div class="col alert alert-danger text-center">
        Uploading will <strong>replace any existing results</strong>
        for this race!
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="border container">
        <form id="RaceResultsForm" method="POST"
          action="{{ url_for('admin_race.upload_race_file', race_id=race.id) }}"
          enctype="multipart/form-data" role="form">
          {{ form.csrf_token }}
          <div class="row">
            <div class="col-sm-4 p-3">
              <label for="results_json_file">
                Upload a JSON results file
              </label>
            </div>
            <div class="col-sm-8 p-3">
              {{ form.results_json_file(required='required') }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 p-3">
              <label for="is_ignoring_warnings">
                Ignore warnings?
              </label>
            </div>
            <div class="col-sm-8 p-3">
              <select name="is_ignoring_warnings" class="form-control">
                <option value="" selected>No</option>
                <option value="1">Yes</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 p-3">
              <label for="is_overwriting_urls">
                Overwrite existing URLs with any
                found in JSON?
              </label>
            </div>
            <div class="col-sm-8 p-3">
              <select name="is_overwriting_urls" class="form-control">
                <option value="" selected>No</option>
                <option value="1">Yes</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col my-2 p-3">
              <button class="btn btn-primary">Upload results</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <p>
        If there are any problems with the results uploaded, you'll see
        warnings and the race results will not be updated. Sometimes it's OK to
        <strong>ignore warnings</strong> (for example, if a user has changed
        their username since the race, so the name in the JSON can't be found).
        Otherwise, you may need to edit and fix the JSON file you are uploading.
        If you're <em>sure</em> the warnings can be ignored, choose
        <code>No</code> and upload the JSON file again.
      </p>
      {% if race.has_urls %}
        <div class="alert alert-warning">
          <h2 class="alert-title">Caution: existing URLs</h2>
          This race already has some URLs associated with it — see below.
          If you choose to <strong>overwrite URLs</strong>, these will be
          replaced with any URLs found in the JSON (but empty values in the
          JSON will not remove existing URLs).
        </div>
      {% endif %}
    </div>
  </div>
  {% if race.has_urls %}
    <div clas="row">
      <div class="col">
        <table class="table table-striped table-bordered table-hover">
          <tr>
            <th colspan="2">
              Current URLs for this race <span class="font-weight-normal">(before you upload results JSON)</span>
            </th>
          </tr>
          {% if race.race_file_url %}
            <tr>
              <td><code>race_file_url</code></td>
              <td>
                <p>
                  <a href="{{ race.race_file_url }}">{{ race.race_file_url }}</a>
                </p>
                <p>
                  The URL of the results file, that is, <em>the JSON file you are uploading</em>
                  <br>
                  <em>This URL is necessary for replaying the race.</em>
                </p>
              </td>
            </tr>
          {% endif %}
          {% if race.race_log_url %}
            <tr>
              <td><code>race_log_url</code></td>
              <td>
                <p>
                  <a href="{{ race.race_log_url }}">{{ race.race_log_url }}</a>
                </p>
                <p>
                  The URL of the <strong>event log</strong> (step-by-step description
                  of what happened, in JSON format).
                  <br>
                  <em>This URL is necessary for replaying the race.</em>
                </p>
              </td>
            </tr>
          {% endif %}
          {% if race.track_image_url %}
            <tr>
              <td><code>track_image_url</code></td>
              <td>
                <p>
                  <a href="{{ race.race_log_url }}">{{ race.race_log_url }}</a>
                </p>
                <p>
                  URL for the racetrack image (2:1 aspect ratio background image, typically JPEG or PNG).
                  <br>
                  <em>This URL is necessary for replaying the race.</em>
                  <br>
                  {% if default_racetrack_image %}
                    There is a default value for this:
                    <code><a href="{{ default_racetrack_image }}">{{ default_racetrack_image }}</a></code>
                  {% endif %}
                </p>
              </td>
            </tr>
          {% endif %}
          {% if race.track_svg_url %}
            <tr>
              <td><code>track_svg_url</code></td>
              <td>
                <p>
                  <a href="{{ race.track_svg_url }}">{{ race.track_svg_url }}</a>
                </p>
                <p>
                  URL for the SVG file containing the racetrack path described as the single
                  <code>&lt;path&gt;</code> element within it.
                  <br>
                  <em>This URL is necessary for replaying the race.</em>
                  <br>
                  {% if default_racetrack_path_svg %}
                    There is a default value for this:
                    <code><a href="{{ default_racetrack_path_svg }}">{{ default_racetrack_path_svg }}</a></code>
                  {% endif %}
                </p>
              </td>
            </tr>
          {% endif %}
        </table>
      </div>
    </div>
  {% endif %}
</div>

{% endblock %}

