{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      Races
    </h1>
  </div>
  <div class="row">
    <table class="col table table-striped table-bordered table-hover table-responsive bg-white">
      <thead>
        <tr>
          <th></th>
          <th>Race<br>shown?</th>
          <th>Results<br>shown?</th>
          <th>Race start<br>(upload deadline)</th>
          <th>Title &amp;<br>Description</th>
          <th>Cost<br>limit</th>
          <th>Entered</th>
          <th>Started</th>
          <th>Finished</th>
        </tr>
      </thead>
      <tbody>
        {% for race in races %}
          {% if race.start_at.date() == date_today %}
            <tr class="">
              <td colspan="9" class="text-center alert-success">
                &darr; This race is today!
              </td>
            </tr>
            {% endif %}
          <tr class="race-visible-{{ race.is_visible }}">
            <td>
              <a class="btn btn-outline-secondary btn-admin btn-sm" href="{{ url_for('race.edit_race', race_id=race.id) }}">Edit&nbsp;&rtri;</a>
            </td>
            <td class="bool-{{ race.is_visible | lower }}">
              {% if race.is_visible %}
                Yes
              {% else %}
                No
              {% endif %}
            </td>
            <td class="bool-{{ race.is_result_visible | lower }}">
              {% if race.is_result_visible %}
                Yes
              {% else %}
                No
              {% endif %}
            </td>
            <td>
              {{ race.start_at.strftime('%Y-%m-%d %H:%M') }}
            </td>
            <td>
              <div class="cell-title">
                {{ race.title }}
              </div>
              {% if race.desc %}
                <div class="my-2">{{ race.desc }}</div>
              {% endif %}
            </td>
            <td class="text-right">
              {{ race.cost_limit }}
            </td>
            <td class="text-right">
              {{ race.buggies_entered }}
            </td>
            <td class="text-right">
              {{ race.buggies_started }}
            </td>
            <td class="text-right">
              {{ race.buggies_finished }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="container pb-5">
  <div class="row">
    <a href="{{ url_for('race.new_race')}}" class="btn btn-outline-secondary btn-admin">Add new race &rtri;</a>
  </div>
</div>
{% endblock %}

