{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      Races
    </h1>
  </div>
  <div class="row">
    <table class="col table table-striped table-bordered table-hover table-responsive bg-white">
      <thead>
        <tr>
          {% if current_user.is_administrator %}
            <th rowspan="2"></th>
          {% endif %}
          <th rowspan="2">Race<br>shown?</th>
          <th rowspan="2">Results<br>shown?</th>
          <th rowspan="2">Race start<br>(upload deadline)</th>
          <th rowspan="2">Title &amp;<br>Description</th>
          <th rowspan="2">Cost<br>limit</th>
          <th colspan="3" class="text-center">Buggies</th>
        </tr>
        <tr>
          <th>Entered</th>
          <th>Started</th>
          <th>Finished</th>
        </tr>
      </thead>
      <tbody>
        {% for race in races %}
          {% if race.start_at.date() == date_today %}
            <tr class="">
              <td colspan="9" class="text-center alert-success">
                &darr; This race is today! &darr;
              </td>
            </tr>
            {% endif %}
          <tr class="race-visible-{{ race.is_visible }}">
            {% if current_user.is_administrator %}
              <td class="btn-collection">
                <a class="btn btn-outline-secondary btn-admin btn-sm btn-jump" href="{{ url_for('race.edit_race', race_id=race.id) }}">Edit</a>
                {% if race.result_log_url %}
                  <a class="btn btn-outline-secondary btn-admin btn-sm btn-jump" href="{{ url_for('race.replay_race', race_id=race.id) }}{{ replay_anchor }}">Replay</a>
                {% endif %}
                {% if race.results_uploaded_at %}
                  <a class="btn btn-outline-secondary btn-admin btn-sm btn-download" href="{{ url_for('race.download_results', race_id=race.id) }}">Download&nbsp;results</a>
                {% endif %}
                
              </td>
            {% endif %}
            <td class="bool-{{ race.is_visible | lower }}">
              {% if race.is_visible %}
                Yes
              {% else %}
                No
              {% endif %}
            </td>
            <td class="bool-{{ race.is_result_visible | lower }}">
              {% if race.is_result_visible %}
                Yes
              {% else %}
                No
              {% endif %}
            </td>
            <td>
              {{ race.start_at | servertime }}
            </td>
            <td>
              <div class="cell-title">
                {% if race.title %}<strong>{{ race.title }}</strong>{% else %}<em>Untitled</em>{% endif %}
              </div>
              {% if race.desc %}
                <div class="my-2 race-desc">{{ race.desc }}</div>
              {% endif %}
            </td>
            <td class="text-right">
              {{ race.cost_limit }}
            </td>
            {% if race.results_uploaded_at %}
              <td class="text-right">
                {{ race.buggies_entered }}
              </td>
              <td class="text-right">
                {{ race.buggies_started }}
              </td>
              <td class="text-right">
                {{ race.buggies_finished }}
              </td>
            {% else %}
              <td colspan="3" class="text-right">
                <a href="{{ url_for('race.upload_results', race_id=race.id) }}" class="btn btn-outline-secondary btn-admin btn-sm btn-jump">Upload results</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if current_user.is_administrator %}
    <div class="row">
      <div class="col my-3">
        <p class="btn-collection">
          <a href="{{ url_for('race.new_race')}}" class="btn btn-outline-secondary btn-admin btn-jump">Add new race</a>
        </p>
      </div>
    </div>
  {% endif %}
  {% if current_user.is_staff %}
    <div class="row">
      <div class="col my-3 border">
        <div class="row">
          <div class="col-md-6 p-3">
            If you want to test a race replay before it's in the database, use
            this standalone player (which accepts the JSON results file URL as
            the <code>?race=</code> variable). You can replay a race even if
            the buggies/users are not in the database.
            <br>
            This is not a public page — only staff can access it.
            <noscript>
              <p>
                <strong>You must enable JavaScript to replay races.</strong>
              </p>
            </noscript>
          </div>
          <div class="col-md-6 p-3">
            <div>
              <label id="result-json-label" for="result-json-input" class="hidden">
                URL of race results JSON file
              </label>
              <input id="result-json-input" class="hidden form-control mr-sm-1" type="text"/>
            </div>
            <p class="btn-collection">
              <a id="result-json-btn" href="{{ url_for('admin.staff_race_replayer')}}{{ replay_anchor }}" class="btn btn-outline-secondary btn-admin btn-jump">Replay race</a>
            </p>
          </div>
      </div>
    </div>
    <script>
      let result_json_label = document.getElementById("result-json-label");
      let result_json_input = document.getElementById("result-json-input");
      let result_json_btn = document.getElementById("result-json-btn");
      result_json_btn.addEventListener("click", function(e){
        e.preventDefault();
        let url = "{{ url_for('admin.staff_race_replayer')}}?race="
                + result_json_input.value + "{{ replay_anchor }}";
        window.location.href=url;
      })
      result_json_label.classList.remove("hidden");
      result_json_input.classList.remove("hidden");
    </script>
  {% endif %}
</div>
{% endblock %}

