{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      Races
    </h1>
  </div>
  <div class="row">
    <table class="col table table-striped table-bordered table-hover table-responsive-lg bg-white">
      <thead>
        <tr>
          <th></th>
          <th>id</th>
          <th>race time</th>
          <th>cost limit</th>
          <th>title</th>
        </tr>
      </thead>
      <tbody>
        {% for r in races %}
          <tr class="race-visible-{{ r.is_visible }}">
            <td>
              {% if r.is_visible %} &check; {% endif %}
            </td>
            <td>
              {{ r.id }}
            </td>
            <td>
              {{ r.start_at.strftime('%Y-%m-%d %H:%M') }}
            </td>
            <td>
              {{ r.cost_limit }}
            </td>
            <td>
              {{ r.title }}
              {% if r.desc %}
              <div style="padding:0.2em 0.2em 0.2em 2em;">{{ r.desc|safe }}</div>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="container pb-5">
  <div class="row">
    <a href="{{ url_for('race.new_race')}}" class="btn btn-outline-secondary btn-admin">Add new race &rtri;</a>
  </div>
</div>
{% endblock %}

