{% extends "layout.html" %}
{% block page_title %} Admin: racetracks {% endblock %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-2">
  <div class="row">
    <div class="col my-3">
      <h1>
        Racetracks
      </h1>
    </div>
  </div>
  <div class="row my-2 border p-3">
    {% include "admin/_racetracks.html" %}
  </div>
  <div class="row">
    <div class="col btn-collection">
      <a href="{{ url_for('admin_race.new_track') }}" class="btn btn-admin btn-outline-secondary btn-jump">Add new racetrack</a>
    </div>
  </div>
  {% if is_showing_example_racetracks %}
    <div class="row my-4">
      <div class="col-md-6 p-3">
        There are some example racetracks already on this server. If you
        don't see them here, you can automatically add them.
      </div>
      <div class="col-md-6 p-3">
        <form action="{{ url_for('admin_race.autofill_tracks') }}" method="POST">
          {{ form.csrf_token }}
          <button class="btn btn-primary">Add missing racetracks</button>
        </form>
      </div> 
    </div>
  {% endif %}
  <div class="row">
    <div class="col my-3 text-right">
      {{ macros.docs_btn("Racetracks", "/races/racetracks") }}
    </div>
  </div>
</div>

{% endblock %}

