{% extends "layout.html" %}
{% block page_title %} 
  Admin:
  {% if race %} edit {% else %} new {% endif %} race
{% endblock %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      {% if race %}
        Edit
      {% else %}
        New
      {% endif %}
      Race
    </h1>
  </div>
  {% if race %}
    <div class="row">
      <div class="col my-3">
        <div class="alert-info">
          <div class="row p-3">
            <div class="col-md-4">
              <a href="{{ url_for('admin_race.upload_race_file', race_id=race.id) }}" class="btn btn-outline-secondary btn-admin btn-jump">Upload results</a>
            </div>
            <div class="col-md-8">
              To upload results, you'll need to have the <strong>results JSON
              file</strong> that is produced when you run the race using the
              (offline) run-buggy-race utliity.
            </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col grey-wrapper p-2">
      <form id="RaceForm" class="form form-race" method="POST"
        action="{% if race %}{{ url_for('admin_race.edit_race', race_id=race.id)}}{% else %}{{ url_for('admin_race.new_race') }}{% endif %}"
        role="form">
        {{ form.csrf_token }}
        {{ form.id() }}
        <div class="row bg-white py-2 m-1">
          <div class="col-sm-3">
            {{ form.title.label }}
          </div>
          <div class="col-sm-4">
            {{ form.title(placeholder="Season opener", class_="form-control mr-sm-1") }}
          </div>
          <div class="col-sm-5">
            Title is used to distinguish this race.
          </div>
        </div>
        <div class="row bg-white py-2 m-1">
          <div class="col-sm-3">
            {{form.desc.label}}
          </div>
          <div class="col-sm-4">
            {{form.desc(class_="form-control mr-sm-1" )}}
          </div>
          <div class="col-sm-5">
            Use the description to add any detail including environmental factors
            if terrain or track type matters in the races you're running.
          </div>
        </div>
        <div class="row bg-white py-2 m-1">
          <div class="col-sm-3">
            {{ form.start_at.label }}
          </div>
          <div class="col-sm-4">
            {{ form.start_at(placeholder="YYYY-MM-DD HH:MM", class_="form-control mr-sm-1", type="datetime-local") }}
          </div>
          <div class="col-sm-5">
            <p>
              The start of the race is effectively the <strong>deadline for
              students to upload buggy JSON</strong>. This isn't enforced
              automatically.
            </p>
            <p><em>Default:</em> 2 minutes to midnight, tomorrow</p>
          </div>
        </div>
        <div class="row bg-white py-2 m-1">
          <div class="col-sm-3">
            {{ form.cost_limit.label }}
          </div>
          <div class="col-sm-4">
            {{ form.cost_limit(class_="form-control mr-sm-1", type="number") }}
          </div>
          <div class="col-sm-5">
            <p>
              The maximum cost of buggies that qualify for this race.
              If a buggy's cost is greater than this limit at the time
              of the race start, it will be disqualified.
            </p>
            <p>
              <em>Default:</em> {{ default_race_cost_limit }}
            </p>
          </div>
        </div>
        <div id="track-picker-btn-row" class="row alert-info py-2 m-1 track-picker-control hidden">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-4">
            <button  id="track-picker-btn" type="button" class="btn btn-primary"
              data-toggle="modal" data-target="#track-picker-modal">
              Select a racetrack
            </button>
          </div>
          <div class="col-sm-5">
            You can select a racetrack to automatically insert its URLs and
            lap-length data into the race.
          </div>
        </div>
        <div class="row bg-white py-2 m-1 track-picker-control">
          <div class="col-sm-3">
            {{ form.track_image_url.label }}
          </div>
          <div class="col-sm-4">
            {{ form.track_image_url(class_="form-control mr-sm-1") }}
          </div>
          <div class="col-sm-5">
            <p>
              URL for the racetrack image (2:1 aspect ratio background image,
              typically JPEG or PNG).
            </p>
          </div>
        </div>
        <div class="row bg-white py-2 m-1 track-picker-control">
          <div class="col-sm-3">
            {{ form.track_svg_url.label }}
          </div>
          <div class="col-sm-4">
            {{ form.track_svg_url(class_="form-control mr-sm-1") }}
          </div>
          <div class="col-sm-5">
            <p>
              URL for the SVG file containing the racetrack path described
              as the single <code>&lt;path&gt;</code> element within it.
            </p>
          </div>
        </div>
        <div class="row bg-white py-2 m-1 track-picker-control">
          <div class="col-sm-3">
            {{ form.lap_length.label }}
          </div>
          <div class="col-sm-4">
            {{ form.lap_length(class_="form-control mr-sm-1") }}
          </div>
          <div class="col-sm-5">
            <p>
              Length of one lap. Specifically, this is the length of the path
              in the SVG file you nominate for the track. If you don't know
              this value already, you can see it by viewing the racetrack in
              the racetrack gallery.
            </p>
          </div>
        </div>
        <div class="row bg-white py-2 m-1">
          <div class="col-sm-3">
            {{ form.is_visible.label }}
          </div>
          <div class="col-sm-4">
            <select name="is_visible" class="form-control">
              <option value="" {% if (not race and not default_is_race_visible) or not race.is_visible %} selected="selected" {% endif %}>No</option>
              <option value="1" {% if (not race and default_is_race_visible) or race.is_visible %} selected="selected" {% endif %}>Yes</option>
            </select>
          </div>
          <div class="col-sm-5">
            <p>
              Is the race displayed on the website? If it is not,
              the students cannot see it.
            </p>
            <p>
              <em>Default:</em> {{ default_is_race_visible }}
            </p>
          </div>
        </div>
        <div class="row bg-white py-2 m-1">
          <div class="col-sm-3">
            {{ form.is_result_visible.label }}
          </div>
          <div class="col-sm-4">
            <select id="is_result_visible" name="is_result_visible" class="form-control">
              <option value="" {% if (not race) or not race.is_result_visible %} selected="selected" {% endif %}>No</option>
              <option value="1" {% if race.is_result_visible %} selected="selected" {% endif %}>Yes</option>
            </select>
          </div>
          <div class="col-sm-5">
            <p>
              Are the race results published on the website? Set this to
              <code>No</code> if you don't want to display the results
              to the students until you've confirmed them.
            </p>
            <p>
              <em>Default:</em> <code>No</code>
            </p>
          </div>
        </div>
        {% if race %}
          <div class="row bg-white py-2 m-1 ">
            <div class="col-sm-3">
              {{ form.race_file_url.label }}
            </div>
            <div class="col-sm-4">
              {{ form.race_file_url(class_="form-control mr-sm-1") }}
            </div>
            <div class="col-sm-5">
              <p>
                URL for the JSON file containing the race results (if any).
              </p>
            </div>
          </div>
          <div class="row alert-warning py-2 m-1 ">
            <div class="col-sm-3">
              Results meta-data
            </div>
            <div class="col-sm-4">
              <p>
                <em>&darr; You might not need to change these manually here.</em>
              </p>
            </div>
            <div class="col-sm-5">
              Some or all of the following fields may be set automatically
              when you upload results, because they can be included in the
              result JSON that is generated when you run the race.
            </div>
          </div>
          <div class="row alert-warning py-2 m-1 ">
            <div class="col-sm-3">
              {{ form.results_uploaded_at.label }}
            </div>
            <div class="col-sm-4">
              {{ form.results_uploaded_at(class_="form-control mr-sm-1", type="datetime-local") }}
            </div>
            <div class="col-sm-5">
              <p>
                Timestamp when results were uploaded.
              </p>
            </div>
          </div>
          <div class="row alert-warning py-2 m-1 ">
            <div class="col-sm-3">
              {{ form.max_laps.label }}
            </div>
            <div class="col-sm-4">
              {{ form.max_laps(class_="form-control mr-sm-1") }}
            </div>
            <div class="col-sm-5">
              <p>
                Number of laps to complete the race.
              </p>
            </div>
          </div>
        {% endif %}

        <!-- skipping leagues for now -->
        <div class="row bg-white py-2 m-1">
          <div class="col-sm-7 py-2">
            {% if race %}
              <input id="race-submit-btn" class="btn btn-primary" type="submit" value="Submit race">
            {% else %}
              <input  id="race-submit-btn" class="btn btn-danger" type="submit" value="Add new race">
            {% endif %}
          </div>
          <div class="col-sm-5 py-2">
            {% if not race %}
              Note that there are more fields which you can update once you've
              created the race.
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </div>

  {% if race %}
    <div class="row">
      <div class="col my-5">
        <p>
          You can delete this race — be careful, you can't undo this.
        </p>
        <div class="border border container">
          <form id="RaceDeleteForm" class="form form-delete" method="POST"
            action="{{ url_for('admin_race.delete_race', race_id=race.id)}}" role="form">
            {{ delete_form.csrf_token }}
            <div class="row">
              <div class="col-md-6 p-3">
                {{ delete_form.is_confirmed.label }}
                <select id="is_confirmed" name="is_confirmed" class="form-control">
                  <option selected value="">No</option>
                  <option value="">I think so</option>
                  <option value="y">Yes</option>
                </select>  
              </div>
              <div class="col-md-6 p-3 bottom">
                <input type="submit" class="btn btn-danger" value="Delete race"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}

</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="track-picker-modal" tabindex="-1" aria-labelledby="track-picker-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="track-picker-modal-label">Select a racetrack</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row p-3">
        {% include "admin/_racetracks.html" %}
      </div>
      <div class="modal-footer" style="justify-content:space-between">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" id="cancel-btn">Cancel</button>
        <a href="{{ url_for('admin_race.show_tracks') }}" target="_blank" id="btn-to-user-texts" class="btn btn-admin btn-outline-secondary btn-jump">View racetracks</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bd-example-modal-md" id="confirm-modal" tabindex="-1" aria-labelledby="confirm-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="track-picker-modal-label">Confirm data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row p-3">
        <div class="col">
          <p id="confirm-msg">
            Insert URLs and lap length into race?
          </p>
          <p>
            Remember you'll still need to click 
            <strong id="reminder-btn-text">Submit race</strong>
            to save these changes!
          </p>
        </div>
      </div>
      <div class="modal-footer" style="justify-content:space-between">
        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button id="confirm-track-insert" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

