{% extends "layout.html" %}
{% block page_title %}
  Admin: {{ group_name or "" }} config settings
{% endblock %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      Configuration settings
    </h1>
  </div>
  <div class="row">
    <div class="col">
      <p class="btn-collection">
        <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.setup') }}">Summary</a>
        <a href="{{ url_for('admin.show_buggy_editor_info') }}" class="btn btn-outline-secondary btn-admin btn-jump">Buggy editor</a>
        <a class="btn {% if is_tasks_ok %}btn-outline-secondary{% else %}btn-outline-danger{% endif %} btn-admin btn-jump" href="{{ url_for('admin.tasks_admin')}}">Tasks</a>
        {% if is_tech_note_publishing_enabled %}
          <a class="btn {% if tech_notes_timestamp %}btn-outline-secondary {% else %}btn-outline-danger{% endif %} btn-admin btn-jump" href="{{ url_for('admin.tech_notes_admin')}}">Tech notes</a>
        {% endif %}
      </p>
    </div>
  </div>
  <div class="row js-only" id="show-settings-btns">
    <div class="col">
      <p class="btn-collection">
        {% for name in sorted_groupnames %}
          {% if group_name == name | lower %}
            {% set btn_class = "btn-dark" %}
          {% else %}
            {% set btn_class = "btn-outline-secondary" %}
          {% endif %}
          <a href="{{ url_for('admin.settings', group_name=name | lower) }}"
          class="btn {{ btn_class }} btn-config-group"><span>{{ pretty_group_name_dict[name] }}</span></a>
        {% endfor %}
      </p>
    </div>
  </div>
  {% for group in sorted_groupnames %}
    {% if group_name == None or group_name == group | lower %}
      <div class="my-4 p-2 grey-wrapper" id="form-{{ group | lower }}">
        <form action="{{ url_for('admin.settings', group_name=group | lower) }}" method="post">
          {{ form.csrf_token }}
          <input type="hidden" name="group" value="{{ group }}"/>
          {% if group == "AUTH" %}
            <div class="row">
              <div class="col">
                <h3 class="p-2">Change authorisation code</h3>
              </div>
            </div>
            <div class="row py-2 m-1 bg-white">
              <div class="col-sm-3">
                New authorisation code
              </div>
              <div class="col-sm-4">
                <input name="{{ SETTING_PREFIX }}-0-name" type="hidden" value="AUTHORISATION_CODE" />
                <input name="{{ SETTING_PREFIX }}-0-value" type="password"  class="form-control mr-sm-1"/>
              </div>
              <div class="col-sm-5">
                {% set name = "AUTHORISATION_CODE" %}
                {% include "admin/_env_setting_override.html" %}
                <p>
                  Admin staff need to know the authorisation code when they make changes
                  to user or system data.<br>
                  Do not forget the new value of the authorisation code when you change it!
                </p>
              </div>
            </div>
            <div class="row bg-warning py-2 m-1">
              <div class="col-sm-3">
                <label for="auth_code">Authorisation code</label>
              </div>
              <div class="col-sm-4">
                <input id="auth_code" name="auth_code" type="password" value=""  class="form-control mr-sm-1"/>
              </div>
              <div class="col-sm-5">
                You must provide the current authorisation code to make changes.
              </div>
            </div>
            <input type="submit" class="btn btn-primary m-2" value="Submit new code"/>
          {% else %}
            {% include "admin/_settings_group.html" %}
            <div class="row bg-warning py-2 m-1">
              <div class="col-sm-3">
                {{ form.auth_code.label }}
              </div>
              <div class="col-sm-4">
                {{ form.auth_code(class="mr-sm-1")}}
              </div>
              <div class="col-sm-5">
                You must provide the current authorisation code to make changes.
              </div>
            </div>
            <input type="submit" class="btn btn-primary m-2" value="Submit {{ pretty_group_name_dict[group] }} settings"/>
          {% endif %}
        </form>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}

