{% extends "layout.html" %}
{% block page_title %}
  Admin: setup
  {{ setup_status }} of {{ qty_setup_steps }}
{% endblock %}
{% block content %}
<div class="container pb-2">
  <div class="row">
    <div class="col-md-8 my-3">
      <h1>Setup: step {{ setup_status }} of {{ qty_setup_steps }}</h1>
      <div class="alert alert-info my-3">
        {{ setup_group_description }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-2 p-2 grey-wrapper">
      <form action="{{ url_for('admin.setup') }}" method="post">
        {{ form.csrf_token }}
        <input type="hidden" name="group" value="{{ group }}"/>
        {% if setup_status == 1 %}
          <div class="row">
            <h3 class="col">Create admin user</h3>
          </div>
          <div class="row bg-warning py-2 m-1">
            <div class="col-sm-3">
              {{ form.auth_code.label }}
            </div>
            <div class="col-sm-4">
              {{ form.auth_code(class="mr-sm-1") }}
              <span class="password-toggler hidden icon-eye-blocked" data-for="auth_code"></span>
            </div>
            <div class="col-sm-5">
              {% set name = "AUTHORISATION_CODE" %}
              <p>
                You must provide the current authorisation code to commmence setup.
              </p>
              {% if name in env_setting_overrides %}
                {# special case, so not invoking _env_setting_override.html #}
                <div class="alert-danger p-2 mb-2">
                  <strong>The auth code has been declared as an environment variable</strong>:
                  remember to remove that declaration when you finish setup. If you don't,
                  the new value (that you're about to set below&nbsp;&darr;) will be
                  overwritten with <em>this</em> old value when you next restart the server...
                  because ENV declarations always have priority, and are automatically
                  (over)written into the database when the server starts.
                </div>
              {% else %}
                You haven't explicitly set an authorisation code in your server
                environment so you'll need to use the default that's shown in the
                documentation.
              {% endif %}
            </div>
          </div>
          <div class="row bg-white py-2 m-1">
            <div class="col-sm-3">
              {{ form.new_auth_code.label }}
            </div>
            <div class="col-sm-4">
              {{ form.new_auth_code(class="mr-sm-1") }}
              <span class="password-toggler hidden icon-eye-blocked" data-for="new_auth_code"></span>
            </div>
            <div class="col-sm-5">
              You <strong>must</strong> change the authorisation code.
              Do not forget the new value! (It is possible to change it later,
              but only if you remember what it is).
              <p class="alert-danger p-2 mt-2">
                This should not be the same as the admin account password
                you're also setting at this stage. 
              </p>
              <p class="alert-warning p-2">
                You'll need this auth code whenever you register or edit users,
                or change configuration settings: keep it safe, and keep it
                secret. Later you might add more admin accounts (for staff
                colleagues) but can choose not to share the authorisation code
                with them.
              </p>
              {% if name in env_setting_overrides %}
                <p>
                  All passwords (including the auth code) are stored in the database
                  as hashes, which is another reason why you should delete that old
                  plaintext declaration from your environment once you've finished with it.
                </p>
              {% endif %}
            </div>
          </div>
          <div class="row bg-white py-2 m-1">
            <div class="col-sm-3">
              {{ form.admin_username.label }}
            </div>
            <div class="col-sm-4">
              {{ form.admin_username(class="mr-sm-1") }}
            </div>
            <div class="col-sm-5">
              Provide a username for an administrator's account — maybe your first
              name. If you're not sure, use <code>admin</code> (you can change it later).
            </div>
          </div>
          <div class="row bg-white py-2 m-1">
            <div class="col-sm-3">
              {{ form.admin_password.label }}
            </div>
            <div class="col-sm-4">
              {{ form.admin_password(class="mr-sm-1") }}
              <span class="password-toggler hidden icon-eye-blocked" data-for="admin_password"></span>
            </div>
            <div class="col-sm-5">
              Password of the admin user (once you've finished setup, you
              can change this later — but <em>do not forget it!</em>)
              <p class="alert-danger p-2 mt-2">
                This should not be the same as the authorisation code you're
                also setting at this stage. 
              </p>
            </div>
          </div>
          <input type="submit" class="btn btn-primary m-2" value="Submit {{ pretty_group_name_dict[group_name] }} settings"/>
        {% else %}
          {% set group = group_name %}
          {% include "admin/_settings_group.html" %}
          <input type="submit" class="btn btn-primary m-2" value="Submit {{ pretty_group_name_dict[group_name] }} settings"/>
        {% endif %}
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col my-3 text-right">
      {{ macros.docs_btn("Customising", "/customising") }}
    </div>
  </div>
</div>
{% endblock %}

