{% extends "layout.html" %}
{% block content %}
<div class="container pb-5">
  <div class="row">
    <div class="col">
      <h1>Setup: step {{ setup_status }} of {{ qty_setup_steps }}</h1>
      <p>
        {{ setup_group_description[group_name] }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col mb-2 p-2 grey-wrapper">
      <form action="{{ url_for('admin.setup') }}" method="post">
        {{ form.csrf_token }}
        <input type="hidden" name="group" value="{{ group }}"/>
        {% if setup_status == 1 %}
          <div class="row">
            <h3 class="col">Create admin user</h3>
          </div>
          <div class="row bg-warning py-2 m-1">
            <div class="col-sm-3">
              {{ form.auth_code.label }}
            </div>
            <div class="col-sm-4">
              {{ form.auth_code(class="mr-sm-1") }}
            </div>
            <div class="col-sm-5">
              {% set name = "AUTHORISATION_CODE" %}
              {% include "admin/_env_setting_override.html" %}
              <p>
                You must provide the current authorisation code to commmence setup.
                You'll also need the auth code whenever you register or edit
                users, or change configuration settings.
              </p>
            </div>
          </div>
          <div class="row bg-white py-2 m-1">
            <div class="col-sm-3">
              {{ form.new_auth_code.label }}
            </div>
            <div class="col-sm-4">
              {{ form.new_auth_code(class="mr-sm-1") }}
            </div>
            <div class="col-sm-5">
              You <strong>must</strong> change the authorisation code.
              Do not forget the new value! (It is possible to change
              it later, but only if you remember what it is).
              <em>This should <strong>not</strong> be the same</em> as the admin account
              password you're also setting at this stage. Later you might add more
              admin accounts (e.g., for teaching assistants) but can choose not to
              share the authorisation code with them.
            </div>
          </div>
          <div class="row bg-white py-2 m-1">
            <div class="col-sm-3">
              {{ form.admin_username.label }}
            </div>
            <div class="col-sm-4">
              {{ form.admin_username(class="mr-sm-1") }}
            </div>
            <div class="col-sm-5">
              Provide a username for an administrator's account — maybe your first
              name. If you're not sure, use <code>admin</code> (you can change it later).
            </div>
          </div>
          <div class="row bg-white py-2 m-1">
            <div class="col-sm-3">
              {{ form.admin_password.label }}
            </div>
            <div class="col-sm-4">
              {{ form.admin_password(class="mr-sm-1") }}
            </div>
            <div class="col-sm-5">
              Password of the admin user (once you've finished setup, you
              can change this later — but <em>do not forget it!</em>)
            </div>
          </div>
          <input type="submit" class="btn btn-primary m-2" value="Submit {{ group_name | title }} settings"/>
        {% else %}
          {% set group = group_name %}
          {% include "admin/_settings_group.html" %}
          <input type="submit" class="btn btn-primary m-2" value="Submit {{ group | lower }} settings"/>
          {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

