{% extends "layout.html" %}
{% block content %}
<div class="container pb-5">
  <div class="row">
  {% if setup_status == 1 %}
    <h1>Setup {{ setup_status }}</h1>
    <p>setup 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  {% elif setup_status == 2 %}
    <h1>Setup {{ setup_status }}</h1>
    <p>setup 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  {% elif setup_status == 3 %}
    <h1>Setup {{ setup_status }}</h1>
    <p>setup 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  {% elif setup_status == 4 %}
    <h1>Setup {{ setup_status }}</h1>
    <p>setup 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  {% endif %}
  </div>
  {% for group in groups %}
    <div style="border:1px solid gray;padding:0.5em 1em;margin-bottom:1em;background-color:#eee">
      <form action="{{ url_for('admin.setup') }}" method="post">
        {{ form.csrf_token }}
        <input type="hidden" name="group" value="{{ group }}"/>
        {% if group == "AUTH" %}
           <h3>Set the authorisation code</h3>
          <div class="row" style="background-color:#fff;margin:1em 0">
            <div class="col-sm-3">
              Current code
            </div>
            <div class="col-sm-4">
              <input id="authorisation_code" name="authorisation_code" type="password" value=""/>
            </div>
            <div class="col-sm-5">
              The authorisation code is needed when you register or edit
              users. To change it here, you must provide the current auth
              code as well as the new value.
            </div>
          </div>
          <div class="row" style="background-color:#fff;margin:1em 0">
            <div class="col-sm-3">
              New auth code
            </div>
            <div class="col-sm-4">
              <input name="{{ SETTING_PREFIX }}-0-name" type="hidden" value="REGISTRATION_AUTH_CODE" />
              <input name="{{ SETTING_PREFIX }}-0-value" type="password" />
            </div>
            <div class="col-sm-5">
              Be sure to remember the auth code you set! (It is possible to change it later, but you'll
              need to know its current value in order to do so).
            </div>
          </div>
          <input type="submit" class="btn btn-primary" value="Submit new code"/>
        {% else %}
          <h3>{{ group | title }} settings</h3>
          {% for name in groups[group] %}
            <div class="row" style="background-color:#fff;margin:1em 0">
              <div class="col-sm-3">
                <code>{{ name }}</code>
              </div>
              <div class="col-sm-4">
                <input type="hidden" name="{{ SETTING_PREFIX }}-{{ loop.index0 }}-name" value="{{ name }}"/>
                {% if type_of_settings[name] == "bool" %}
                  <select name="{{ SETTING_PREFIX }}-{{ loop.index0 }}-value">
                    <option value="0" {% if settings[name] == "0" %} selected="selected" {% endif %}>No</option>
                    <option value="1" {% if settings[name] == "1" %} selected="selected" {% endif %}>Yes</option>
                  </select>              
                {% else %}
                  <input name="{{ SETTING_PREFIX }}-{{ loop.index0 }}-value" 
                  {% if type_of_settings[name] == "int" %}
                      type="number"
                  {% elif type_of_settings[name] == "pass"%}
                      type="password"
                  {% else %}
                      type="text"
                  {% endif %}
                  {%if settings[name] %} value="{{ settings[name] }}" {% endif %}/>
                {% endif %}
              </div>
              <div class="col-sm-5">
                {{ descriptions[name] }}
                <div class="setting-default">
                  <em>Default:</em> <code>{{ pretty_default_settings[name] }}</code>
                </div>
              </div>
            </div>
          {% endfor %}
          <input type="submit" class="btn btn-primary" value="Submit {{ group }} settings"/>
        {% endif %}
      </form>
    </div>
  {% endfor %}

</div>
{% endblock %}

