{% extends "layout.html" %}
{% block page_title %} Admin: setup summary {% endblock %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-2">
  <div class="row">
    <h1 class="col my-3">
      Setup summary
    </h1>
  </div>
  <div class="row">
    <div class="col">
      <div class="alert alert-success">
        <h2 class="alert-title">Setup is complete</h2>
        <div class="row">
          <div class="col-10">
            This is the race server for
            {{ institution_full_name }} ({{ institution_short_name }}) —
            <a href="{{ institution_home_url }}">{{ pretty_institution_home_url }}</a>
          </div>
          <div class="col-2 tex-right btn-collection text-right">
            <a href="{{ url_for('admin.settings', group_name='org') }}" class="btn btn-outline-secondary btn-config-group btn-white"><span>Org</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="alert {% if qty_students == 0 %} alert-danger {% else %} alert-info {% endif %}">
        <h2 class="alert-title">Users</h2>
        {% if qty_users ==  1 %}
          <p>
            There is only <strong>1 user</strong> in the database.
          </p>
        {% else %}
          <p>
            {% if qty_students == 0 %}
              There are <strong>{{ qty_users }} users</strong>, of which none are students.
            {% elif qty_students == 1 %}
              There are <strong>{{ qty_users }} users</strong>, of which only 1 is a students.
            {% else %}
              There are <strong>{{ qty_users }} users</strong>, of which {{ qty_students }} are students.
            {% endif %}
          </p>
        {% endif %}
        <p>
          To view or edit existing users, or reset passwords, start from the admin <em>Users</em> page:
        </p>
        <p class="btn-collection">
          <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.list_users')}}">Users</a>
          <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.bulk_register') }}">Register&nbsp;users</a>
        </p>
        <p>
          {% if pretty_user_fields %}
            Each user has a username, and these fields: {{ pretty_user_fields }}.
          {% else %}
            Each user only has a username (this may be enough!).
          {% endif %}
          {% if qty_students %}
            You <em>can</em> change this, but be careful because if you add new fields
            you'll need to edit existing students to add missing values.
          {% else %}
            If you're going to change fields users have, it's best to do it <strong>before</strong>
            you register any users.
          {% endif %}
        </p>
        <p class="btn-collection">
          <a href="{{ url_for('admin.settings', group_name='users') }}" class="btn btn-outline-secondary btn-config-group btn-white"><span>Users</span></a>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert {% if qty_tasks == 0 or not (is_task_list_published and task_list_published_at) %} alert-danger {% else %} alert-info {% endif %}">
        <h2 class="alert-title">Tasks</h2>
        <p>
          {% if qty_tasks %}
            {% if qty_tasks == 1 %}
              There is <strong>only 1 project task</strong> for students to do.
            {% else %}
              There are <strong>{{ qty_tasks }} tasks</strong> for students to do.
            {% endif %}
          {% else %}
            There are <strong>no project tasks</strong> for students to do yet.  
            Load tasks from the admin <em>Tasks</em> page (accept the defaults
            or edit and upload markdown).
          {% endif %}
          <br>
          {% if not (is_task_list_published and task_list_published_at) %}
            The <strong>task list has not been published</strong> yet.
          {% else %}
            The <strong>task list</strong> was last published on 
            {{ task_list_published_at | servertime }}
          {% endif %}
        </p>
        <p class="btn-collection">
          <a href="{{ url_for('admin.tasks_admin') }}" class="btn btn-outline-secondary btn-admin btn-jump">Tasks</a>
          <a href="{{ url_for('public.serve_project_page', page='tasks') }}" class="btn btn-outline-secondary btn-white btn-jump">Task&nbsp;list</a>
        </p>
      </div>
      <div class="alert {% if not (is_tech_notes_index_published and tech_notes_published_at) %} alert-danger {% else %} alert-info {% endif %}">
        <h2 class="alert-title">Tech notes</h2>
        <p>
          {% if tech_notes_external_url %}
            The <strong>tech notes are not server by this server</strong>: instead
            they are at <code>{{ tech_notes_external_url }}</code>.
          {% else %}
            {% if is_tech_notes_index_published and tech_notes_published_at %}
              The supporting <strong>tech notes</strong> were published on {{ tech_notes_published_at | servertime }}.
            {% else %}
              The supporting <strong>tech notes have not yet been published</strong>.
            {% endif %}
          {% endif %}
          {% if not is_tech_note_publishing_enabled %}
            You <strong>cannot publish tech notes</strong> on this server: the config
            currently disables this feature.
          {% endif %}
        </p>
        <p class="btn-collection">
          <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.tech_notes_admin')}}">Tech notes</a>
          <a class="btn btn-outline-secondary btn-white btn-jump" href="{{ url_for('public.serve_tech_notes', path='index') }}">View tech notes</a>
        </p>
        <p class="btn-collection">
          <a href="{{ url_for('admin.settings', group_name='tech_notes') }}" class="btn btn-outline-secondary btn-config-group btn-white"><span>Tech notes</span></a>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="alert alert-warning">
        <h2 class="alert-title">Project</h2>
        <p>
          {% if is_report %}
            {% if report_type == "document" %}
              The <strong>{{ project_code }} buggy racing project</strong>
              requires students to produce a report.
            {% else %}
              {% if poster_type == "in editor" %}
                The <strong>{{ project_code }} buggy racing project</strong>
                requires students to include <code>/report</code> <em>and</em>
                <code>/poster</code> pages inside their editor.
              {% else %}
                The <strong>{{ project_code }} buggy racing project</strong>
                requires students to include a <code>/report</code> page inside
                their editor.
              {% endif %}
            {% endif %}
          {% else %}
            {% if is_poster %}
              The <strong>{{ project_code }} buggy racing project</strong>
              requires no report.
            {% else %}
              The <strong>{{ project_code }} buggy racing project</strong>
              does not require students to produce a report or a poster.
            {% endif %}
          {% endif %}
          {% if is_poster %}
            {% if poster_type == "in editor" %}
              {% if report_type != "in editor" %}
                Students must include a <code>/poster</code> page inside their
                editor.
              {% endif %}
            {% elif poster_type == "top of report" %} 
              There must be a poster at the top of the report.
            {% elif poster_type == "bottom of report" %} 
              There must be a poster at the bottom of the report.
            {% else %}
              Students must produce a poster.
            {% endif %}
          {% elif is_report %}{# because already described if no report #}
            Students are not required to produce a poster.
          {% endif %}
          {% if submission_deadline %}
            The submission deadline is {{ submission_deadline }}.
          {% else %}
            You have not set a submission deadline.
          {% endif %}
          {% if project_phase_min_target %}
            All students are expected to complete tasks up to and including
            phase&nbsp;{{ project_phase_min_target }}.
          {% else %}
            No target for completing phases (groups of tasks) has been set.
          {% endif %}
          {% if not is_showing_project_workflow %}
            The workflow summary is not being shown to students.
          {% elif workflow_url %}
            The workflow summary is hosted externally, at
            <code>{{ workflow_url }}</code>.
          {% endif %}
        </p>
        <p class="btn-collection">
          {% if is_report %}
           <a href="{{ url_for( 'public.serve_project_page', page='report' ) }}" class="btn btn-outline-secondary btn-white btn-jump">Report details</a>
          {% endif %}
          {% if is_poster %}
           <a href="{{ url_for( 'public.serve_project_page', page='poster' ) }}" class="btn btn-outline-secondary btn-white btn-jump">Poster details</a>
          {% endif %}
          {% if is_showing_project_workflow %}
            <a href="{{ workflow_url or url_for('public.serve_project_page', page='workflow') }}" class="btn btn-outline-secondary btn-white btn-jump">Workflow</a>
          {% endif %}
          {% if submission_link %}
              <a href="{{ submission_link }}" class="btn btn-outline-secondary btn-white btn-jump">Submission</a>
          {% endif %}
        </p>
        <p class="btn-collection">
          <a href="{{ url_for('admin.settings', group_name='project') }}" class="btn btn-outline-secondary btn-config-group btn-white"><span>Project</span></a>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert alert-warning">
        <h2 class="alert-title">Editor distribution: <em>{{ editor_distrib_method }}</em></h2>
        <p>
          {{ editor_distrib_desc }}
        </p>
        {% if config_diff_against_suggestions %}
          <div class="alert alert-danger">
            <p>Config that doesn't match suggested values for this distribution method:</p>
            <ul class="sm-item-list">
              {% for setting in config_diff_against_suggestions | sort %}
                <li>
                  <code>{{ setting }}</code>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <p class="btn-collection">
          <a href="{{ url_for('admin.settings', group_name='editor') }}" class="btn btn-outline-secondary btn-config-group btn-white"><span>Editor</span></a>
          {% for group_name in config_diff_group_names %}
            {% if group_name != "EDITOR" %}
              <a href="{{ url_for('admin.settings', group_name=group_name|lower) }}" class="btn btn-outline-secondary btn-config-group btn-white"><span>{{ config_diff_group_names[group_name] }}</span></a>
            {% endif %}
          {% endfor %}
        </p>
      </div>
      {% if is_using_vcs %}
        <div class="alert alert-warning">
        <h2 class="alert-title">{{ vcs_name }} &amp; editor repo</h2>
        <p>
          <code><a href="{{ buggy_editor_repo_url }}">{{ buggy_editor_repo_url }}</a></code>
          <br>
          {% if is_default_repo_owner  %}
             The editor repo is owned by <code>{{ buggy_editor_repo_owner }}</code>
             (it's better to fork this and customise it).
          {% else %}
             The editor repo is a fork owned by <code>{{ buggy_editor_repo_owner }}</code>.
          {% endif %}
        </p>
        <p class="btn-collection">
          <a href="{{ url_for('admin.show_buggy_editor_info') }}" class="btn btn-outline-secondary btn-admin btn-jump">Buggy editor</a>
        </p>
        <p>
          {% if not is_student_using_repo %}
            The students do not need their <strong>own {{ vcs_name }} repos</strong>
            for this project.
          {% else %}
            The students are using their <strong>own {{ vcs_name }} repos</strong>
            for this project.
            {% if is_using_github_api_to_fork %}
              {% if is_using_github_api_to_inject_issues %}
                The race server will help them <strong>fork</strong> the
                editor repo, and <strong>inject tasks as issues</strong> into
                their forked repo.
              {% else %}
                The race server will help them <strong>fork</strong> the
                repo (but won't inject any issues).
              {% endif %}
            {% else %}
              No forking (or injection of issues) is being performed by the
              server.
            {% endif %}
          {% endif %}
        </p>
        <p class="btn-collection">
          <a href="{{ url_for('admin.settings', group_name='github') }}" class="btn btn-outline-secondary btn-config-group btn-white"><span>GitHub</span></a>
        </p>
        </div>
      {% else %}
        <div class="alert {% if not (buggy_editor_download_url or is_editor_zipfile_published) %}alert-danger{% else %}alert-warning{% endif %}">
          <h2 class="alert-title">Not using {{ vcs_name }}</h2>
          {% if buggy_editor_download_url %}
            <p>
              Students download the source code for their buggy editor
              from <code><a href="{{ buggy_editor_download_url }}">{{ buggy_editor_download_url }}</a></code>
            </p>
            <p class="btn-collection">
              <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.show_buggy_editor_info')}}">Buggy editor</a>
            </p>
          {% else %}
            <p>
              Students download the source code for their buggy editor as
              a zip file from this server.
              {% if not is_editor_zipfile_published %}
                <strong>The zipfile has not been published yet</strong>.
              {% else %}
                The zipfile was published on {{ editor_zip_generated_datetime }}
              {% endif %}
            </p>
            <p class="btn-collection">
              {% if not is_editor_zipfile_published %}
                <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.publish_editor_zip')}}">Publish editor zipfile</a>
              {% endif %}
              <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.show_buggy_editor_info')}}">Buggy editor</a>
            </p>
          {% endif %}
          <p class="btn-collection">
            <a href="{{ url_for('admin.settings', group_name='github') }}" class="btn btn-outline-secondary btn-config-group btn-white"><span>GitHub</span></a>
          </p>
          </div>
      {% endif %}
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="alert alert-info">
        <h2 class="alert-title">Announcements</h2>
        <p>
          {% if not qty_announcements_global %}
            Currently <strong>no global announcements</strong> are being displayed.
          {% else %}
            {% if qty_announcements_global == 1 %}
              Currently <strong>1 global announcement</strong> is being displayed.
            {% else %}
              Currently <strong>{{ qty_announcements_global }} global announcements</strong> are being displayed.
            {% endif %}
          {% endif %}
          {% if qty_announcements_tagline == 0 %}
            There is <strong>no tagline</strong> on the home page.
          {% elif qty_announcements_tagline == 1 %}
            There is <strong>a tagline</strong> on the home page.
          {% else %}
            There are <strong>{{ qty_announcements_tagline }} taglines</strong> on the home page.
          {% endif %}
          {% if qty_announcements_login == 0 %}
            <strong>No messages</strong> are shown on the login page.
          {% elif qty_announcements_login == 1 %}
            <strong>A message</strong> is shown on the login page.
          {% else %}
            <strong>{{ qty_announcements_login }} messages</strong> are being shown on the login page.
          {% endif %}
          </p>
        <p class="btn-collection">
          <a href="{{ url_for('admin.list_announcements') }}" class="btn btn-outline-secondary btn-admin btn-jump">Announcements</a>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert alert-secondary">
        <h2 class="alert-title">Server API</h2>
        <p>
          API secrets expire after about <strong>{{ api_secret_ttl_pretty }}</strong>.
          {% if is_api_secret_otp %}
            Users' secrets are <em>one-time passwords</em>
            (can only be used once before they must be reset).
          {% else %}
            Users' secrets can be used repeatedly until they expire.
          {% endif %}
          {% if is_student_api_otp_allowed %}
            Students <strong>can override</strong> the
            one-time password behaviour on their own secrets.
          {% else %}
            Students cannot override this.
          {% endif %}
        </p>
        <p class="btn-collection">
          <a href="{{ url_for('admin.api_keys') }}" class="btn btn-outline-secondary btn-admin btn-jump">API keys</a>
          <a href="{{url_for('admin.api_test')}}" class="btn btn-outline-secondary btn-admin btn-jump">Test API</a>
        </p>
        <p class="btn-collection">
          <a href="{{ url_for('admin.settings', group_name='server') }}" class="btn btn-outline-secondary btn-config-group btn-white"><span>Server</span></a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="alert alert-secondary">
        <h2 class="alert-title">Config</h2>
        <p>
          Change or inspect all the <strong>configuration settings</strong>,
          including authorising more admin users, and adding social links.
        </p>
        <p class="btn-collection">
          <a href="{{ url_for('admin.settings', group=None) }}" class="btn btn-outline-secondary btn-admin btn-jump">Config</a>
          <a href="{{ url_for('admin.show_system_info') }}" class="btn btn-outline-secondary btn-admin btn-jump">System&nbsp;info</a>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert alert-secondary">
        <h2 class="alert-title">Server time</h2>
        <p>
          <code>{{ server_time }}</code>
        </p>
        <p class="btn-collection">
          <a href="{{ url_for('admin.settings', group_name='server') }}" class="btn btn-outline-secondary btn-config-group btn-white"><span>Server</span></a>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col my-3 text-right btn-collection">
      {{ macros.docs_btn("Full docs", "/") }}
      {{ macros.docs_btn("Customising", "/customising") }}
      {{ macros.docs_btn("Day-to-day running", "/running") }}
    </div>
  </div>
</div>
{% endblock %}