{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      System information
    </h1>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <table class="table table-striped table-bordered table-hover table-responsive-md bg-white">
        <thead>
          <tr>
            <th>Item</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>BCRYPT_LOG_ROUNDS</code></td>
            <td><code>{{ config['BCRYPT_LOG_ROUNDS'] }}</code></td>
          </tr>
          <tr>
            <td><code>CACHE_TYPE</code></td>
            <td><code>{{ config['CACHE_TYPE'] }}</code></td>
          </tr>
          <tr>
            <td><code>DEBUG_TB_ENABLED</code></td>
            <td><code>{{ config['DEBUG_TB_ENABLED'] }}</code></td>
          </tr>
          <tr>
            <td><code>DEBUG_TB_INTERCEPT_REDIRECTS</code></td>
            <td><code>{{ config['DEBUG_TB_INTERCEPT_REDIRECTS'] }}</code></td>
          </tr>
          <tr>
            <td><code>FLASK_APP</code></td>
            <td><code>{{ config['FLASK_APP'] }}</code></td>
          </tr>
          <tr>
            <td><code>FLASK_DEBUG</code></td>
            <td><code>{{ config['FLASK_DEBUG'] }}</code></td>
          </tr>
          <tr>
            <td><code>FLASK_ENV</code></td>
            <td><code>{{ config['FLASK_ENV'] }}</code></td>
          </tr>
          <tr>
            <td><code>GUNICORN_WORKERS</code></td>
            <td><code>{{ config['GUNICORN_WORKERS'] }}</code></td>
          </tr>
          <tr>
            <td><code>JSONIFY_PRETTYPRINT_REGULAR</code></td>
            <td><code>{{ config['JSONIFY_PRETTYPRINT_REGULAR'] }}</code></td>
          </tr>
          <tr>
            <td><code>LOG_LEVEL</code></td>
            <td><code>{{ config['LOG_LEVEL'] }}</code></td>
          </tr>
          <tr>
            <td><code>SEND_FILE_MAX_AGE_DEFAULT</code></td>
            <td><code>{{ config['SEND_FILE_MAX_AGE_DEFAULT'] }}</code></td>
          </tr>
          <tr>
            <td><code>SQLALCHEMY_TRACK_MODIFICATIONS</code></td>
            <td><code>{{ config['SQLALCHEMY_TRACK_MODIFICATIONS'] }}</code></td>
          </tr>
          <tr>
            <td><code>UPLOAD_FOLDER</code></td>
            <td><code>{{ config['UPLOAD_FOLDER'] }}</code></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <table class="table table-striped table-bordered table-hover table-responsive-md bg-white">
        <thead>
          <tr>
            <th>Item</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Unexpected config<br>(found in db):</td>
            <td>
              {% for unexpected in unexpected_config_settings %}
                <code>{{ unexpected }}</code><br>
              {% else %}
                &mdash;
              {% endfor %}
            </td>
          <tr>
            <td><code>DATABASE_URL</code><br>(redacted)</td>
            <td><code style="word-break: break-all;">{{ redacted_database_url }}</code></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

