{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      System information
    </h1>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <p>
        These are config settings that are not exposed through the
        <a href="{{ url_for('admin.settings') }}">config settings</a>
        pages. If you set them as environment variables (maybe using
        <code>.env</code>, or exporting them as settings), the race
        server will pick them up when it restarts.
      </p>
      <table class="table table-striped table-bordered table-hover table-responsive-md bg-white">
        <thead>
          <tr>
            <th>Item</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>BCRYPT_LOG_ROUNDS</code></td>
            <td><code>{{ config['BCRYPT_LOG_ROUNDS'] }}</code></td>
          </tr>
          <tr>
            <td><code>CACHE_TYPE</code></td>
            <td><code>{{ config['CACHE_TYPE'] }}</code></td>
          </tr>
          <tr>
            <td><code>DEBUG_TB_ENABLED</code></td>
            <td><code>{{ config['DEBUG_TB_ENABLED'] }}</code></td>
          </tr>
          <tr>
            <td><code>DEBUG_TB_INTERCEPT_REDIRECTS</code></td>
            <td><code>{{ config['DEBUG_TB_INTERCEPT_REDIRECTS'] }}</code></td>
          </tr>
          <tr>
            <td><code>FLASK_APP</code></td>
            <td><code>{{ config['FLASK_APP'] }}</code></td>
          </tr>
          <tr>
            <td><code>FLASK_DEBUG</code></td>
            <td><code>{{ config['FLASK_DEBUG'] }}</code></td>
          </tr>
          <tr>
            <td><code>FLASK_ENV</code></td>
            <td><code>{{ config['FLASK_ENV'] }}</code></td>
          </tr>
          <tr>
            <td><code>GUNICORN_WORKERS</code></td>
            <td><code>{{ config['GUNICORN_WORKERS'] }}</code></td>
          </tr>
          <tr>
            <td><code>JSONIFY_PRETTYPRINT_REGULAR</code></td>
            <td><code>{{ config['JSONIFY_PRETTYPRINT_REGULAR'] }}</code></td>
          </tr>
          <tr>
            <td><code>LOG_LEVEL</code></td>
            <td><code>{{ config['LOG_LEVEL'] }}</code></td>
          </tr>
          <tr>
            <td><code>SEND_FILE_MAX_AGE_DEFAULT</code></td>
            <td><code>{{ config['SEND_FILE_MAX_AGE_DEFAULT'] }}</code></td>
          </tr>
          <tr>
            <td><code>SQLALCHEMY_TRACK_MODIFICATIONS</code></td>
            <td><code>{{ config['SQLALCHEMY_TRACK_MODIFICATIONS'] }}</code></td>
          </tr>
          <tr>
            <td><code>UPLOAD_FOLDER</code></td>
            <td><code>{{ config['UPLOAD_FOLDER'] }}</code></td>
          </tr>
          <tr>
            <td><code>_BUGGY_EDITOR_ISSUES_FILE</code></td>
            <td><code>{{ config['_BUGGY_EDITOR_ISSUES_FILE'] }}</code></td>
          </tr>
          <tr>
            <td><code>_ENV_SETTING_OVERRIDES</code></td>
            <td><code>{{ config['_ENV_SETTING_OVERRIDES'] }}</code></td>
          </tr>
          <tr>
            <td><code>_PUBLISHED_PATH</code></td>
            <td><code>{{ config['_PUBLISHED_PATH'] }}</code></td>
          </tr>
          <tr>
            <td>
              <code>_SETUP_STATUS</code>
              <br>
              Non-zero if setting up
            </td>
            <td><code>{{ config['_SETUP_STATUS'] }}</code></td>
          </tr>
          <tr>
            <td><code>_TASK_LIST_GENERATED_DATETIME</code></td>
            <td><code>{{ config['_TASK_LIST_GENERATED_DATETIME'] }}</code></td>
          </tr>
          <tr>
            <td><code>_TASKS_LOADED_DATETIME</code></td>
            <td><code>{{ config['_TASKS_LOADED_DATETIME'] }}</code></td>
          </tr>
          <tr>
            <td><code>_TECH_NOTES_GENERATED_DATETIME</code></td>
            <td><code>{{ config['_TECH_NOTES_GENERATED_DATETIME'] }}</code></td>
          </tr>
          <tr>
            <td><code>_TASK_LIST_HTML_FILENAME</code></td>
            <td><code>{{ config['_TASK_LIST_HTML_FILENAME'] }}</code></td>
          </tr>
          <tr>
            <td><code>_TECH_NOTES_CONFIG_FILE_NAME</code></td>
            <td><code>{{ config['_TECH_NOTES_CONFIG_FILE_NAME'] }}</code></td>
          </tr>
          <tr>
            <td><code>_TECH_NOTES_CONFIG_LIVE_NAME</code></td>
            <td><code>{{ config['_TECH_NOTES_CONFIG_LIVE_NAME'] }}</code></td>
          </tr>
          <tr>
            <td><code>_TECH_NOTES_CONFIG_PATH</code></td>
            <td><code>{{ config['_TECH_NOTES_CONFIG_PATH'] }}</code></td>
          </tr>
          <tr>
            <td><code>_TECH_NOTES_CONFIG_PUBLISH_NAME</code></td>
            <td><code>{{ config['_TECH_NOTES_CONFIG_PUBLISH_NAME'] }}</code></td>
          </tr>
          <tr>
            <td><code>_TECH_NOTES_CONTENT_DIR</code></td>
            <td><code>{{ config['_TECH_NOTES_CONTENT_DIR'] }}</code></td>
          </tr>
          <tr>
            <td><code>_TECH_NOTES_OUTPUT_DIR</code></td>
            <td><code>{{ config['_TECH_NOTES_OUTPUT_DIR'] }}</code></td>
          </tr>
          <tr>
            <td><code>_TECH_NOTES_PAGES_DIR</code></td>
            <td><code>{{ config['_TECH_NOTES_PAGES_DIR'] }}</code></td>
          </tr>
          <tr>
            <td><code>_TECH_NOTES_PATH</code></td>
            <td><code>{{ config['_TECH_NOTES_PATH'] }}</code></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <table class="table table-striped table-bordered table-hover table-responsive-md bg-white">
        <thead>
          <tr>
            <th>Item</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Unexpected config<br>(found in db):</td>
            <td>
              {% for unexpected in unexpected_config_settings %}
                <code>{{ unexpected }}</code><br>
              {% else %}
                &mdash;
              {% endfor %}
            </td>
          <tr>
            <td><code>DATABASE_URL</code><br>(redacted)</td>
            <td><code style="word-break: break-all;">{{ redacted_database_url }}</code></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

