{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      Tasks admin
    </h1>
  </div>

  {% if qty_tasks == 0 %}
    <div class="row">
      <div class="col">
        <div class="alert alert-warning my-3">
          <strong>There are no tasks in the project</strong>
          <br>
          You need to <strong>Load new tasks into database</strong> (red button, below):
          <ul>
            <li>If you don't upload a file, the server will use the default project tasks (which is OK!)</li>
            <li>Otherwise, if you want to use your own tasks, download the markdown describing them, edit it, and upload that</li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="row mb-3">
    <div class="col-md-6 mb-3">
      <div class="container border p-3">
        <form method="POST" action="{{ url_for('admin.tasks_generate') }}" role="form">
          {{ form.csrf_token }}
          <p>
            Last&nbsp;published:
            {% if task_list_updated_timestamp %}
              {{ task_list_updated_timestamp }}
            {% else %}
              <em>unknown/never</em>
            {% endif %}
          </p>
          <input type="submit" value="Publish task list"
            class="btn {% if is_fresh_update %}btn-danger{% else %}btn-primary{% endif %}"/>
        </form>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      The main <a href="{{ url_for('public.serve_project_page', page='tasks')}}">task list page</a>
      that the students see does not update automatically.
      {% if config[auto_republish_config_name] %}
        The config setting <code>{{ auto_republish_config_name }}</code>
        is set, so if you change any tasks <em>or config settings that
        it contains</em>, you should republish it here or restart the
        server.
      {% else %}
        The config setting <code>{{ auto_republish_config_name }}</code>
        is not set (which is normal), so if you change any tasks <em>or
        config settings that it contains</em>, you should republish it
        here.
      {% endif %}
      {% if is_injecting_github_issues %}
        Publishing the task list also refreshes the CSV file used when
        when <strong>injecting tasks as GitHub issues</strong> into
        students' GitHub accounts.
      {% endif %}
    </div>
  </div>

  {% if qty_disabled_tasks %}
    <div class="row">
      {% if is_showing_all_tasks %}
        <div class="col mb-3 alert-danger p-3">
          <span class="mr-3">Showing all tasks, including hidden ones ({{ qty_disabled_tasks }}).</span>
          <a href="{{ url_for('admin.tasks_admin') }}" class="btn btn-outline-secondary btn-admin">Exclude hidden tasks&nbsp;&rtri;</a>
        </div>
      {% else %}
        <div class="col mb-3 p-3">
          <a href="{{ url_for('admin.tasks_admin_all') }}" class="btn btn-outline-secondary btn-admin">Include hidden tasks&nbsp;&rtri;</a>
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if qty_tasks > 0 %}
    <div class="row">
      <div class="col">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th colspan="2">Task</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
              <tr {% if not task.phase % 2 %}class="table-secondary"{% endif %} %}>
                <td>
                  <a href="{{ url_for('admin.edit_task', task_id=task.fullname) }}" class="btn btn-outline-secondary btn-admin">Edit</a>
                </td>
                <td>
                  {% if task.is_enabled %}
                    <a href="{{ url_for('public.serve_project_page', page='tasks') }}#{{ task.anchor }}"
                    class="btn btn-outline-secondary btn-white">{{ task.fullname }}&nbsp;&rtri;</a>
                  {% else %}
                    <span class="btn btn-outline-secondary disabled ">{{ task.fullname }}&nbsp;&times;</span>
                {% endif %}
                </td>
                <td>
                  {% if not task.is_enabled %}<s>{% endif %}{{ task.title }}{% if not task.is_enabled %}</s>{% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  <div class="row mt-5">
    <div class="col">
      <h2>Loading tasks</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>
        Loading the tasks <strong>deletes all existing tasks</strong>
        from the database (including any edits you may have made), and
        replaces them with the new ones.
        Only do this if you are sure you want to: really, it only makes
        sense to do this <strong>before the project has started</strong>.
        After that, if you need to change tasks, you should edit them
        (above, on this page) rather than generating them.
      </p>
      <p>
        If you want to load your own customised tasks, download
        the default tasks and edit them (look inside that file
        to see the markdown syntax: <code>#</code> (<code>h1</code>)
        for phase-name, <code>##</code>  (<code>h2</code>) for title,
        and so on). Then upload your edited file to load the tasks.
        If you've edited any of the current tasks, the markdown file
        will not be the same as the default file.
      </p>
      <p class="btn-collection my-4">
        <a href="{{ url_for('admin.download_tasks', type='current', format='md') }}"
        class="btn btn-outline-secondary btn-admin">Download&nbsp;<strong>current</strong>
        tasks as Markdown&nbsp;&dtri;</a>
        <a href="{{ url_for('admin.download_tasks', type='default', format='md') }}"
        class="btn btn-outline-secondary btn-admin">Download&nbsp;<strong>default</strong>
        tasks as Markdown&nbsp;&dtri;</a>
      </p>
      <p>
        <em>Current</em> tasks include any edits you have made to the tasks
        since installation. <em>Default</em> tasks are the "factory reset"
        version.
      </p>
      {%include "admin/_task_markdown_aside.html" %}
    </div>
    <div class="col-md-6">
      <div class="alert-danger container border border-danger">
        <form method="POST" action="{{ url_for('admin.tasks_admin') }}"
          enctype="multipart/form-data" role="form">
          {{ form.csrf_token }}
          <div class="row py-3">
            <div class="col">
              {% if tasks_loaded_at %}
                Tasks loaded into&nbsp;database: {{ tasks_loaded_at }}
              {% else %}
                Missing timestamp
                (maybe no tasks have been loaded&nbsp;yet)
              {% endif %}
            </div>
          </div>
          {% if tasks %}
            <div class="row px-3">
              <div class="col border border-danger text-center p-3">
                <strong>
                  This will delete all existing tasks!
                </strong>
              </div>
            </div>
          {% endif %}
          <div class="row mt-3">
            <div class="col-sm-4">
              {{ form.is_confirmed.label }}
            </div>
            <div class="col-sm-8">
              <select id="is_confirmed" name="is_confirmed" class="form-control">
                <option selected value="">No</option>
                <option value="">I think so</option>
                <option value="y">Yes</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              {{ form.markdown_file.label }}
            </div>
            <div class="col-sm-8">
              {{ form.markdown_file() }}
            </div>
          </div>
          <div class="row bg-warning p-3">
            <div class="col-sm-4">
              {{ form.auth_code.label }}
            </div>
            <div class="col-sm-8">
              {{ form.auth_code(class_="form-control mr-sm-1") }}
            </div>
          </div>
          <div class="row">
            <div class="col p-3">
              <input type="submit" value="Load new tasks into database" class="btn btn-danger"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col">
      <h2>Task summary CSV (for issues) </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>
        <em>You don't normally need this file!</em><br>
        The CSV file contains a comma-separated <strong>summary</strong>
        of the tasks which we use for injecting issues into students' GitHub
        repos. If you're using your own mechanism this might be handy,
        so you can download it here.
      </p> 
      <p>
        The issues CSV file is public (so the GitHub API can access it from
        outside) and is generated whenever you publish the task list. The
        <em>current</em> list is calculated on-the-fly here if you need it
        <em>before</em> you've published it.
      </p>
      <p class="btn-collection my-4">
        <a href="{{ url_for('public.tasks_as_issues_csv') }}"
        class="btn btn-outline-secondary btn-white">Download published issues CSV&nbsp;&dtri;</a>
        <a href="{{ url_for('admin.download_tasks', type='current', format='csv') }}"
        class="btn btn-outline-secondary btn-admin">Download <strong>current</strong>tasks as issues CSV&nbsp;&dtri;</a>
      </p>
      <p>
        Check that the config settings it uses (shown below) are correct,
        because they are used to generate the links within the CSV. Be
        aware that these links might break if you change tasks after you've downloaded
        it. You should do all your task-editing <em>before</em> downloading or
        sharing any links to them.
      </p>
    </div>
  </div>
  <div class="row my-4">
    <div class="col">
      <table class="table table-striped table-bordered table-hover bg-white">
        <thead>
          <tr>
            <th>Setting</th>
            <th>Current value</th>
          </tr>
        </thead>
        <tbody>
          {% for setting_name in key_settings %}
            <tr>
              <td><code>{{ setting_name }}</code></td>
              <td><code>{{ config[setting_name] }}</code></td>
            </tr>
          {% endfor %}
          {% if example_task %}
            <tr>
              <td>Example link<br>(check it works!)</td>
              <td>
                <code><a href="{{ example_task_url }}">{{ example_task_url }}</a></code>
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

