{% extends "layout.html" %}
{% block page_title %} Admin: load tasks {% endblock %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-2">
  <div class="row">
    <h1 class="col my-3">
      Load or bulk-edit tasks
    </h1>
  </div>

  {% if qty_tasks == 0 %}
    <div class="row">
      <div class="col">
        <div class="alert alert-warning my-3">
          <strong>There are no tasks in the project</strong>
          <br>
          You need to <strong>Load new tasks into database</strong> (red
          button, below):
          <ul>
            <li>
              If you don't upload a file, the server will use the built-in
              default project tasks (which is OK!).
            </li>
            <li>
              Otherwise, if you want to use your own tasks, choose
              <strong>Download tasks as Markdown</strong>, edit it,
              and upload that.
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col">
        <div class="container border mb-2">
          <div class="row py-3">
            <div class="col">
              {% if tasks_loaded_at %}
                Tasks loaded into&nbsp;database: {{ tasks_loaded_at | servertime }}
              {% else %}
                Missing timestamp
                (maybe no tasks have been loaded&nbsp;yet)
              {% endif %}
            </div>
          </div>
        </div>
        <div class="alert alert-danger">
          <strong>
            Loading tasks now will delete all existing tasks! See notes below&nbsp;&darr;
          </strong>
        </div>
      </div>
    </div>
  {% endif %}
  {% if qty_texts > 0 %}
    <div class="row">
      <div class="col">
        <div class="alert alert-danger">
          <h2 class="alert-title">Danger!
            {% if qty_texts == 1 %}
              There is one task text!
            {% else %}
               {{ qty_texts }} task texts exist!
            {% endif %}
          </h2>
          <p>
            The following users have made task texts: all their texts
            <strong>will be deleted</strong> if you load new tasks now!
          </p>
          <p class="btn-collection">
            {% for user in text_authors %}
              <a class="sm-item-link" href="{{ url_for('admin.show_user', user_id=user.id) }}#task-texts">{{ user.pretty_username }}</a>
            {% endfor %}  
          </p>
          <p>
            This is unexpected because normally you load tasks at the start of
            your project before any users (and especially students) have made
            any texts.
          </p>
        </div>
      </div>
    </div>  
  {% endif %}
  <div class="row">
    <div class="col">
      <form method="POST" action="{{ url_for('admin.tasks_load') }}" enctype="multipart/form-data" role="form">
        {{ form.csrf_token }}
        <div class="container alert-warning border border-warning my-3 p-0">
          <div class="tabs">
            <div class="tab">
              <input type="radio" class="tab-itself" id="tab-1" name="tab-group-1" checked>
              <label for="tab-1" class="tab-itself">Use defaults</label>
              <div class="tab-content">
                <div class="float-right">
                  {{ macros.docs_btn("Distributing the source code", "/buggy-editor/distributing-the-code") }}
                </div>
                <h4>Use built-in default tasks</h4>
                <div class="p-3">
                    The editor distribution method for your project affects tasks
                    0-GET and 0-RUN. It is currently set to be
                    <strong>{{ editor_distribution_method }}</strong>:
                    {{ pretty_distrib_method }}.
                    <p class="btn-collection">
                      <a href="{{ url_for('admin.settings', group_name='project') }}" class="btn btn-outline-secondary btn-config-group btn-white float-right"><span>Project</span></a>
                      If you need to change the distribution method,
                      change the config setting <em>before</em> loading the
                      default tasks.
                    </p>
                </div>
              </div>
            </div>
            <div class="tab">
              <input type="radio" class="tab-itself" id="tab-2" name="tab-group-1">
              <label for="tab-2" class="tab-itself">Upload custom markdown</label>
              <div class="tab-content">
                <h4>Upload your own customised file containing all tasks</h4>
                <div class="p-3">
                  {{ form.markdown_file.label(class="d-block") }}
                  {{ form.markdown_file() }}
                  <p class="mt-2">
                     If you don't have such a file yet, download it (see notes and buttons below&nbsp;&darr;)
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% if qty_tasks > 0 %}
            <div class="row">
              <div class="col p-3">
                {{ form.is_confirmed.label(class="mx-3") }}
                {% if qty_texts > 0 %}
                  <p class="mt-0 mb-2 mx-3">
                    <strong>Be careful!</strong> Because you're about to delete
                    existing tasks, <em>all task texts will also be deleted!</em>
                  </p>
                {% endif %}
                <div class="col-sm-8">
                  <select id="is_confirmed" name="is_confirmed" class="form-control">
                    <option selected value="">No</option>
                    <option value="">I think so</option>
                    <option value="y">Yes</option>
                  </select>
                </div>
              </div>
            </div>
          {% else %}
            <input type="hidden" name="is_confirmed" value="y"/>
          {% endif %}
          <div class="row">
            <div class="col">
              <div class="container bg-warning">
                <div class="p-3">
                  {{ form.auth_code.label(class="") }}
                  {{ form.auth_code(class_="mx-0 form-control") }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col p-3">
              <input type="submit" value="Load tasks into database" class="btn btn-danger m-3"/>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>
        Loading the tasks <strong>deletes all existing tasks</strong>
        from the database (including any edits you may have made), and
        replaces them with the new ones.
        Only do this if you are sure you want to: really, it only makes
        sense to do this <strong>before the project has started</strong>.
        After that, if you need to change tasks, you should edit them
        (above, on this page) rather than generating them.
      </p>
    </div>
  </div>
  <div class="row">
    <h2 class="col my-3" id="download-markdown">
      Download tasks as single Markdown file
    </h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="btn-collection mb-4">
        <a href="{{ url_for('admin.download_tasks', type='default', format='md') }}"
        class="btn btn-outline-secondary btn-admin btn-download">Download&nbsp;<strong>default</strong>
        tasks as Markdown</a>
        <a href="{{ url_for('admin.download_tasks', type='current', format='md') }}"
          class="btn btn-outline-secondary btn-admin btn-download {% if qty_tasks == 0 %}disabled{% endif %}">Download&nbsp;<strong>current</strong>
          tasks as Markdown</a>
      </p>
      {%include "admin/_task_markdown_aside.html" %}
    </div>
    <div class="col-md-6">
      <p>
        If you want to load your own customised tasks, download
        the default tasks and edit them (look inside that file
        to see the markdown syntax: <code>#</code> (<code>h1</code>)
        for phase-name, <code>##</code>  (<code>h2</code>) for title,
        and so on). Then upload your edited file to load all the tasks
        in bulk.
      </p>
      <p>
        <em>Current</em> tasks include any edits you have made to the tasks
        since installation. <em>Default</em> tasks are the "factory reset"
        version and assume the default distribution method (which is 
        <em>downloading a zipfile from this server</em>). If you want to force
        a different distribution method, first load the default tasks with
        that choice, and then download the <em>current</em> tasks.
      </p>
    </div>
  </div>
  <p class="btn-collection">
    <a href="{{ url_for('admin.tasks_admin') }}" class="btn btn-outline-secondary btn-admin btn-jump">Tasks admin</a>
  </p>
  <div class="row">
    <div class="col my-3 text-right btn-collection">
      {{ macros.docs_btn("Creating tasks", "/customising/creating-tasks") }}
      {{ macros.docs_btn("Task list", "/static-content/task-list") }}
    </div>
  </div>
</div>
{% endblock %}

