{% extends "layout.html" %}
{% block page_title %} Admin: tech notes {% endblock %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-2">
  <div class="row">
    <h1 class="col my-3">
      Tech notes admin
    </h1>
  </div>
  {% if tech_notes_external_url %}
    <div class="row">
      <div class="col">
        <div class="alert alert-danger">
          <p>
            The config setting <code>TECH_NOTES_EXTERNAL_URL</code>
            is currently set to
            <a href="{{ tech_notes_external_url }}">{{ tech_notes_external_url }}</a>
          </p>
          <p>
          Tech notes published on <em>this</em> server
          <strong>will not be seen</strong>.
          </p>
        </div>
      </div>
    </div>
  {% endif %}
  {% if is_publishing_enabled %}
    <div class="row">
      <div class="col-md-6">
        <div class="border container p-3">
          <form method="POST" action="{{ url_for('admin.tech_notes_publish') }}" role="form">
            {{ form.csrf_token }}
            <p>
              Last&nbsp;generated:
              {{ notes_generated_timestamp or "never/unknown" }}
            </p>
            <input type="submit" value="Publish tech notes" class="btn {% if ns_admin.is_tech_notes_out_of_date %}btn-danger{% else %}btn-primary{% endif %}"/>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <p>
          Publishing the tech notes updates them using the most
          recent config settings (some examples are shown below).
          Do this if you've made any changes to the config since
          the server last restarted.
        </p>
        <p>
          This really constructs a config file and then runs the
          Pelican process, which generates the HTML files for the
          tech notes pages.
        </p>
        <p>
          Note that the HTML pages of the tech notes may be cached
          by your (or your students') browsers.
        </p>
        <p class="btn-collection my-3">
          <a href="{{ url_for('public.serve_tech_notes', path='index') }}?cachebuster={{ range(1000,9999) | random }}"
            class="btn btn-outline-secondary btn-jump">View tech notes</a>
        </p>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <table class="table table-striped table-bordered table-hover bg-white">
          <thead>
            <tr>
              <th>Setting</th>
              <th>Current value</th>
            </tr>
          </thead>
          <tbody>
            {% for setting_name in key_settings %}
              {# don't show empty social names #}
              {% if not setting_name.startswith('SOCIAL') or config[setting_name] %}
                <tr>
                  <td><code>{{ setting_name }}</code></td>
                  <td><code>{{ config[setting_name] }}</code></td>
                </tr>
              {% endif %}
            {% endfor %}
        </table>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <p>
          If these are wrong, you can
          <a href="{{ url_for('admin.settings') }}">change config settings</a>.  
        </p>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col">
        <div class="alert alert-danger">
          <p>
            The config setting <code>IS_TECH_NOTES_PUBLISHING_ENABLED</code>
            is not set, so you can't publish tech notes here.  
          </p>
          <p>
            To enable publishing,
            <a href="{{ url_for('admin.settings', group_name='tech_notes') }}">change the config</a>.
          </p>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col my-3 text-right">
      {{ macros.docs_btn("Tech notes", "/static-content/tech-notes") }}
    </div>
  </div>
</div>
{% endblock %}

