{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      User {{ user.pretty_username }}
    </h1>
  </div>
  {% if not user.is_active %}
    <div class="row">
      <div class="col">
        <div class="alert alert-danger p-3">
          This user is inactive, and cannot log in or participate in&nbsp;the&nbsp;project!
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped table-bordered table-hover bg-white">
        <tbody>
          <tr>
            <td colspan="2">
              <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.edit_user', user_id=user.id) }}">Edit user {{ user.pretty_username }}</a>
            </td>
          </tr>
          <tr>
            <td>Admin?</td>
            <td>
              Yes:
              {% if user.is_administrator %}
                &starf; administrator
              {% elif user.is_teaching_assistant %}
                &star; teaching assistant
              {% else %}
                <em>unknown</em>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Student?</td>
            <td {% if user.is_student %}class="alert-success"{% else %}class="alert-danger"{% endif %}>
              {% if user.is_student %} Yes {% else %} No {% endif %}
            </td>
          </tr>
          <tr>
            <td>Active?</td>
            <td {% if user.is_active %}class="alert-success"{% else %}class="alert-danger"{% endif %}>
              {% if user.is_active %} Yes {% else %} No {% endif %}
            </td>
          </tr>
          {% if config['USERS_HAVE_FIRST_NAME'] %}
            <tr>
              <td>
                {% if config['USERS_HAVE_LAST_NAME'] %}
                  First name
                {% else %}
                  Name
                {% endif %}
              </td>
              <td>
                {% if user.first_name is not none %}
                  {{ user.first_name }}
                {% endif %}
              </td>
            </tr>
          {% endif %}
          {% if config['USERS_HAVE_LAST_NAME'] %}
            <tr>
              <td>
                Last name
              </td>
              <td>
                {% if user.last_name is not none %}
                  {{ user.last_name }}
                {% endif %}
              </td>
            </tr>
          {% endif %}
          {% if config['USERS_HAVE_EMAIL'] %}
            <tr>
              <td>
                Email
              </td>
              <td>
                {% if user.last_name is not none %}
                  {{ user.last_name }}
                {% endif %}
              </td>
            </tr>
          {% endif %}
          {% if config['USERS_HAVE_EXT_USERNAME'] %}
            <tr>
              <td>
                {{ ext_username_name | title }}
              </td>
              <td>
                {% if user.ext_username is not none %}
                  <code>{{ user.ext_username }}</code>
                {% endif %}
              </td>
            </tr>
          {% endif %}
          {% if config['USERS_HAVE_EXT_ID'] %}
            <tr>
              <td>
                {{ ext_id_name | title }}
              </td>
              <td>
                {% if user.ext_id is not none %}
                  <code>{{ user.ext_id }}</code>
                {% endif %}
              </td>
            </tr>
          {% endif %}
          {% if config['IS_STUDENT_USING_GITHUB_REPO'] %}
            <tr>
              <td>
                GitHub username
              </td>
              <td>
                {% if user.github_username is not none %}
                  <a href="https://github.com/{{ user.github_username }}">{{ user.github_username }}</a>
                {% endif %}
              </td>  
            </tr>
          {% endif %}
          <tr>
            <td>
              Last logged in
            </td>
            <td>
              {% if user.logged_in_at is not none %}
                {{ user.logged_in_at }}
              {% endif %}
            </td>  
          </tr>
          <tr>
            <td>
              JSON uploaded
            </td>
            <td>
              {% if user.uploaded_at is not none %}
                {{ user.uploaded_at }}
              {% endif %}
            </td>  
          </tr>
          <tr>
            <td>
              API secret
            </td>
            <td>
              {% if user.api_secret %}
                <code>{{ user.api_secret }}</code>
                <br>
                {{ user.api_secret_at }}
              {% endif %}
            </td>  
          </tr>
          <tr>
            <td>
              API key
            </td>
            <td>
              {% if user.api_secret %}
                <code>{{ user.api_key }}</code>
              {% endif %}
            </td>  
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <div class="border mb-3">
        <div class="alert-secondary p-3 ">
            <strong class="mr-3">Comment:</strong> 
        </div>
        <p class="pt-3 px-3">
          {% if user.comment %}
            {{ user.comment }}
          {% else %}
            <em>No comment</em>
          {% endif %}
        </p>
      </div>
      <div class="border">
        <div class="alert-secondary p-3 ">
          <strong class="mr-3">Buggy JSON:</strong>
          <a href="{{ url_for('admin.show_buggy', username=user.username) }}" class="btn btn-outline-secondary btn-white btn-jump">View&nbsp;buggy</a>
        </div>
        {% if user.latest_json %}
          <pre class="p-3 ml-2 mb-4 mt-3 mr-3 task-text ">{{ user.latest_json }}</pre>
        {% else %}
          <p class="p-3">
            <em>No JSON</em>
          </p>
        {% endif %}
        <p class="p-3 m-3 border">
          Note that the buggy is built from the last upload that <em>contained
          no JSON errors</em>. If the JSON does not parse it is stored, but no
          buggy is generated or deleted.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col my-3">
      <h3>{{ user.pretty_username }}'s task texts</h3>
    </div>
  </div>
  {% include "admin/_task_texts_for_user.html" %}
  <div class="row">
    <div class="col my-3 btn-collection">
      {% if current_user.is_administrator %}
        <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.edit_user', user_id=user.id) }}">Edit user {{ user.pretty_username }}</a>
      {% endif %}
      {% if current_user.is_administrator or is_password_change_by_any_staff %}
        <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('user.change_password') }}">Change {{ user.pretty_username}}'s password</a>
      {% endif %}
      <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.list_users')}}">Users</a>
    </div>
  </div>
</div>
{% endblock %}

