{% extends "layout.html" %}
{% block page_title %}
  Admin:
  {% if user %}
    edit user {{ user.pretty_username }}
  {% else %}
    new user
  {% endif %}
{% endblock %}
{% block content %}
{% if is_current_user_administrator %}
  {%include "admin/_nav.html" %}
{% endif %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      {% if user %}
        Edit user {{ user.pretty_username }}
      {% else %}
        Register new user
      {% endif %}
      </h1>
  </div>

  {% if not user and is_registration_allowed %}
    <div class="row">
      <div class="col">
        <div class="alert alert-warning">
          <h2 class="alert-title">This page is public</h2>
          <div class="row">
            <div class="col-10">
              You can register a new user here <em>without being logged in</em> (if you
              know the authorisation code) because the server config setting
              <code>IS_PUBLIC_REGISTRATION_ALLOWED</code> is currently <code>Yes</code>.
              <br>
              <strong>This is an emergency setting</strong>. Normally, set it to
              <code>No</code> and register new users by logging in as an administrator.
            </div>
            {% if current_user.is_administrator %}
              <div class="col-2 tex-right btn-collection text-right">
                <a href="{{ url_for('admin.settings', group_name='server') }}" class="btn btn-outline-secondary btn-config-group btn-white"><span>Server</span></a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}


  <div class="row">
    <div class="col grey-wrapper p-2 mx-3">
      <form id="userForm" class="form-announce" method="POST" action="{{ action_url }}" role="form">
        {{ form.csrf_token }}
        {{form.id()}}
        <div class="row bg-white py-2 m-1">
          <div class="col-sm-3">
            {{form.username.label}}
          </div>
          <div class="col-sm-4">
            {{form.username(placeholder=example_username, class_="form-control mr-sm-1")}}
          </div>
          <div class="col-sm-5">
            Usernames are always lower case (although they may be displayed
            in title case: see the User settings in config).
          </div>
        </div>

        {% if not user %}
          <div class="row bg-white py-2 m-1">
            <div class="col-sm-3">
              {{form.password.label}}
            </div>
            <div class="col-sm-4">
              {{form.password(class_="form-control mr-sm-1")}}
            </div>
            <div class="col-sm-5">
            </div>
          </div>
          <div class="row bg-white py-2 m-1">
            <div class="col-sm-3">
              {{form.confirm.label}}
            </div>
            <div class="col-sm-4">
              {{form.confirm(class_="form-control mr-sm-1")}}
            </div>
            <div class="col-sm-5">
            </div>
          </div>
        {% endif %}

        {% if config['USERS_HAVE_EXT_USERNAME'] %}
          <div class="row bg-white py-2 m-1">
            <div class="col-sm-3">
              <label for="ext_username">{{ ext_username_name }}</label>
            </div>
            <div class="col-sm-4">
              {{form.ext_username(placeholder=ext_username_example, class_="form-control mr-sm-1")}}
            </div>
            <div class="col-sm-5">
              If users have an external username that they use in your organisation
              or institution, add it here. It's generally not used by the buggy race
              server unless you're using VS workspace files.
            </div>
          </div>
        {% endif %}

        {% if config['USERS_HAVE_FIRST_NAME'] %}
          <div class="row bg-white py-2 m-1">
            <div class="col-sm-3">
              {{form.first_name.label}}
            </div>
            <div class="col-sm-4">
              {{form.first_name(placeholder="Ada", class_="form-control mr-sm-1")}}
            </div>
            <div class="col-sm-5">
              User's first name (if you're using first names as usernames,
              you might not need this field).
            </div>
          </div>
        {% endif %}

        {% if config['USERS_HAVE_LAST_NAME'] %}
          <div class="row bg-white py-2 m-1">
            <div class="col-sm-3">
              {{form.last_name.label}}
            </div>
            <div class="col-sm-4">
              {{form.last_name(placeholder="Lovelace", class_="form-control mr-sm-1")}}
            </div>
            <div class="col-sm-5">
              User's last name.
            </div>
          </div>
        {% endif %}

        {% if config['USERS_HAVE_EMAIL'] %}
          <div class="row bg-white py-2 m-1">
            <div class="col-sm-3">
              {{form.email.label}}
            </div>
            <div class="col-sm-4">
              {{form.email(placeholder="name@example.com", class_="form-control mr-sm-1")}}
            </div>
            <div class="col-sm-5">
              User's email address.
            </div>
          </div>
        {% endif %}

        {% if config['USERS_HAVE_EXT_ID'] %}
          <div class="row bg-white py-2 m-1">
            <div class="col-sm-3">
              <label for="ext_id">{{ ext_id_name }}</label>
            </div>
            <div class="col-sm-4">
              {{form.ext_id(class_="form-control mr-sm-1")}}
            </div>
            <div class="col-sm-5">
              {% if external_id_name %}
                {{ external_id_name }}
              {% else %}
                If users have an external ID (for example, if you're
                using a system like Moodle, Canvas or Blackboard)
                add it here.
              {% endif %}
            </div>
          </div>
        {% endif %}

        <div class="row bg-white py-2 m-1">
          <div class="col-sm-3">
            {{form.is_student.label}}
          </div>
          <div class="col-sm-4">
            <select name="is_student" class="form-control mr-sm-1">
              <option value="" {% if user and not user.is_student %}selected{% endif %}>No</option>
              <option value="Yes" {% if not user or user.is_student %}selected{% endif %}>Yes</option>
            </select>
          </div>
          <div class="col-sm-5">
            Staff users probably shouldn't be marked as students (once the
            project is running).
          </div>
        </div>

        <div class="row bg-white py-2 m-1">
          <div class="col-sm-3">
            {{form.comment.label}}
          </div>
          <div class="col-sm-4">
            {{form.comment(class_="form-control mr-sm-1")}}
          </div>
          <div class="col-sm-5">
            Comments on a user are only shown to staff users, inside the admin.
          </div>
        </div>

        {% if user %}
          <div class="row py-2 m-1 {% if user and not user.is_active %}alert-danger{% else %}bg-white{% endif %}">
            <div class="col-sm-3">
              {{form.is_active.label}}
            </div>
            <div class="col-sm-4 ">
              {{form.is_active(class_="form-control", checked=user.is_active)}}
            </div>
            <div class="col-sm-5">
              Users that are not active cannot log in, and are effectively suspended.
            </div>
          </div>
        {% else %}
          {# registration: new users always active to start with #}
          <input type="hidden" name="is_active" value="1"/>
        {% endif %}

        <div class="row alert-warning py-2 m-1">
          <div class="col-sm-3">
            {{form.access_level.label}}
          </div>
          <div class="col-sm-4">
            <select name="access_level" id="access_level" class="form-control mr-sm-1">
              <option value="0" {% if not user.access_level %}selected{% endif %}>Not staff</option>
              <optgroup label="Staff">
                <option value="1" {% if user.access_level == 1 %}selected{% endif %}>Teaching assistant</option>
                <option value="9" {% if user.access_level == 9 %}selected{% endif %}>Administrator</option>
              </optgroup>
            </select>
          </div>
          <div class="col-sm-5">
            <strong>Teaching assistants</strong> have mostly read-only access to the
            data on the race server.
            <strong>Administrators</strong> have full access and can make changes.
          </div>
        </div>

        <div class="row bg-warning py-2 m-1">
          <div class="col-sm-3">
            {{form.auth_code.label}}
          </div>
          <div class="col-sm-4">
            {{form.auth_code(class_="form-control mr-sm-1")}}
          </div>
          <div class="col-sm-5">
            {% if user %}
              You must provide a valid authorisation code to
              edit user data.
            {% else %}
              You must provide a valid authorisation code to
              register new users.
            {% endif %}
          </div>
        </div>
        <div class="row bg-white py-2 m-1">
          <div class="col py-2">
            <input class="btn btn-primary" type="submit" value="{% if user %}Submit changes{% else %}Register new user{% endif %}">
          </div>
        </div>
      </div>
    </form>
  </div>
  {% if current_user.is_staff and user %}
    <div class="row">
      <div class="col p-2 mx-3">
        <div class="border container">
          <div class="row">
            <div class="col-sm-3 p-3">
               API key
            </div>
            <div class="col-sm-4 p-3">
              {% if user.api_key %}
                <code>{{ user.api_key }}</code>
              {% else %}
                —
              {% endif %}
            </div>
            <div class="col-sm-5 p-3">
              {% include "admin/_api_key_form_user.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if is_current_user_administrator %}
    {% if user and (user.github_username or user.github_access_token) %}
      <div class="row">
        <div class="col p-2 mx-3">
          <div class="border container">
            <div class="row">
              <div class="col-md-7 p-3">
                <p>
                  {% if user.github_username %}
                    GitHub username is <code>{{ user.github_username }}</code>
                  {% else %}
                    No GitHub username for this user.
                  {% endif %}
                  <br>
                  {% if user.github_access_token %}
                    A GitHub access token <strong>has</strong> been issued for this account.
                  {% else %}
                    There is <strong>no</strong> GitHub access token for this account.
                  {% endif %}
                </p>
                <p>
                  Deleting GitHub details here will not make any changes on GitHub, but
                  will remove any connection to the account. Do this if the user joined
                  with the wrong account and you want to clear it (maybe so they can try again).
                </p>
              </div>
              <div class="col-md-5">
                <form id="delete_github_form" method="POST" action="{{ url_for('admin.delete_github_details', user_id=user.id) }}" role="form">
                  {{ form.csrf_token }}
                  <input type="hidden" name="user_id" value="user.id"/>
                  <div class="row">
                    <div class="col p-3">
                      <label for="is_confirmed">Really delete GitHub details?</label>
                      <select id="is_confirmed" name="is_confirmed" class="form-control">
                       <option selected value="">No</option>
                        <option value="">I think so</option>
                        <option value="y">Yes</option>
                      </select>  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col p-3 bottom">
                      <input type="submit" class="btn btn-danger" value="Delete GitHub details"/>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col btn-collection my-3">
        {% if user %}
          <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.show_user', user_id=user.id) }}">Show user {{ user.pretty_username }}</a>
          <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('user.change_password', username=user.username) }}">Change {{ user.pretty_username}}'s password</a>
        {% endif %}
        <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.list_users')}}">Users</a>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

