{% extends "layout.html" %}
{% block page_title %} Admin: users {% endblock %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-2">
  <div class="row">
    <div class="col my-3">
      <h1>
        {%if want_detail %}
           All Users
        {% else %}
           Students
        {% endif %}
      </h1>
    </div>
  </div>
  {%if want_detail %}
    <div class="row">
      <div class="col">
        <p>
          All {{ users|length }} users in the system.
          {{ qty_students}} are students (&Sopf;),
          {% if is_demo_server and current_user.is_administrator and not current_user.is_demo_user %}
            {{ qty_admins }} are admins (&starf;, d=demo),
          {% else %}
            {{ qty_admins }} are admins (&starf;),
          {% endif %}
          {{ qty_teaching_assistants }} teaching assistants (&star;).
          <br>
          Percentages shown are of <em>students</em> (not total users).
        </p>
      </div>
    </div>
    <div class="row my-3" id="user-column-toggles">
      <div class="col">
        <button class="btn btn-outline-secondary btn-sm" data-item-hidden="all-columns">All&nbsp;columns</button>
        {% if config['USERS_HAVE_FIRST_NAME'] %}
          <button class="btn btn-outline-secondary btn-sm" data-item-hidden="u-first-name">First&nbsp;name</button>
        {% endif %}
        {% if config['USERS_HAVE_LAST_NAME'] %}
          <button class="btn btn-outline-secondary btn-sm" data-item-hidden="u-last-name">Last&nbsp;name</button>
        {% endif %}
        {% if config['USERS_HAVE_EMAIL'] %}
          <button class="btn btn-outline-secondary btn-sm" data-item-hidden="u-email">Email</button>
        {% endif %}
        {% if config['USERS_HAVE_EXT_USERNAME'] %}
          <button class="btn btn-outline-secondary btn-sm" data-item-hidden="u-org-username">{{ ext_username_name }}</button>
        {% endif %}
        {% if config['USERS_HAVE_EXT_ID'] %}
          <button class="btn btn-outline-secondary btn-sm" data-item-hidden="u-ext-id">{{ ext_id_name }}</button>
        {% endif %}
        <button class="btn btn-outline-secondary btn-sm" data-item-hidden="u-created-at">Created</button>
        <button class="btn btn-outline-secondary btn-sm" data-item-hidden="u-is-active">Active?</button>
        <button class="btn btn-outline-secondary btn-sm" data-item-hidden="u-is-login-enabled">Login enabled?</button>
        <button class="btn btn-outline-secondary btn-sm" data-item-hidden="u-login-at">Last&nbsp;activity</button>
        <button class="btn btn-outline-secondary btn-sm" data-item-hidden="u-first-login-at">First&nbsp;login</button>
        {% if is_showing_github_column %}
          <button class="btn btn-outline-secondary btn-sm" data-item-hidden="u-github">{{ vcs_name }}</button>
        {% endif %}
        <button class="btn btn-outline-secondary btn-sm" data-item-hidden="u-uploaded">Uploaded</button>
        <button id="long-short-time-chooser-btn" class="hidden btn btn-outline-secondary btn-sm" data-item-hidden="time-span"><span class="icon-clock"></span> HH:MM</button>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <table class="col table table-striped table-bordered table-hover table-responsive bg-white">
      <thead>
        <tr class="sticky-top bg-white">
          {% if current_user_can_edit %}
            <th></th>
          {% endif %}
          <th></th>
          <th class="u-username">Username</th>
          {%if want_detail %}
            {% if config['USERS_HAVE_FIRST_NAME'] %}
              <th class="u-first-name">Name</th>
            {% endif %}
            {% if config['USERS_HAVE_LAST_NAME'] %}
              <th class="u-last-name">Last name</th>
            {% endif %}
            {% if config['USERS_HAVE_EMAIL'] %}
              <th class="u-email">Email</th>
            {% endif %}
            {% if config['USERS_HAVE_EXT_USERNAME'] %}
              <th  class="u-org-username">{{ ext_username_name | title }}</th>
            {% endif %}
            {% if config['USERS_HAVE_EXT_ID'] %}
              <th  class="u-ext-id">{{ ext_id_name | title }}</th>
            {% endif %}
            <th  class="u-created-at">Created</th>
            <th  class="u-is-active">Active?</th>
            <th  class="u-is-login-enabled">Login enabled?</th>
          {% endif %}
          <th class="u-login-at">Last activity at</th>
          <th class="u-first-login-at">First login</th>
          {% if is_showing_github_column %}
            <th class="u-github">{{ vcs_name }}</th>
          {% endif %}
          <th colspan="2" class="u-uploaded">JSON uploaded</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% if qty_students > 0 %}
            {% if current_user_can_edit %}
              <td></td>
            {% endif %}
            <td></td>
            <td class="u-username"></td>
            {%if want_detail %}
              {% if config['USERS_HAVE_FIRST_NAME'] %}
                <td class="u-first-name"></td>
              {% endif %}
              {% if config['USERS_HAVE_LAST_NAME'] %}
                <td class="u-last-name"></td>
              {% endif %}
              {% if config['USERS_HAVE_EMAIL'] %}
                <td class="u-email"></td>
              {% endif %}
              {% if config['USERS_HAVE_EXT_USERNAME'] %}
                <td class="u-org-username"></td>
              {% endif %}
              {% if config['USERS_HAVE_EXT_ID'] %}
                <td class="u-ext-id"></td>
              {% endif %}
              <td class="u-created-at"></td>
              <td class="u-is-active">{{ qty_students_enabled }}   ({{ "%d" | format(100 * qty_students_enabled/qty_students) }}%) </td>
              <td class="u-is-login-enabled">{{ qty_students_login_enabled }}   ({{ "%d" | format(100 * qty_students_login_enabled/qty_students) }}%) </td>
            {% endif %}
            <td class="u-login-at">{{ qty_students_logged_in }}       ({{ "%d" | format(100 * qty_students_logged_in/qty_students) }}%)</td>
            <td class="u-first-login-at">{{ qty_students_logged_in_first }} ({{ "%d" | format(100 * qty_students_logged_in_first/qty_students) }}%)</td>
            {% if is_showing_github_column %}
              <td class="u-github">{{ qty_students_github }}   ({{ "%d" | format(100 * qty_students_github/qty_students) }}%)</td>
            {% endif %}
            <td colspan="2" class="u-uploaded">{{ qty_students_uploaded_json }} ({{ "%d" | format(100 * qty_students_uploaded_json/qty_students) }}%)</td>
          {% else %}
            <td colspan="9">No users enrolled as students</td>
          {% endif %}
        </tr>
        {% for u in users %}
          {% if want_detail or u.is_student %}
            <tr {% if u.is_staff %}class="staff" {% endif %}>
              {% if current_user_can_edit %}
                <td class="bool-{{ u.is_active | lower }}">
                  <a class="btn btn-outline-secondary btn-admin btn-sm btn-jump" href="{{ url_for(edit_method, user_id=u.id) }}">Edit</a>
                </td>
              {% endif %}
              <td style="width:1em">
                <span>{% if u.is_student %}&Sopf;{% endif %}{% if u.is_administrator %}&starf;{% if current_user.is_administrator and not current_user.is_demo_user and u.is_demo_user %}d{%endif %}{% elif u.is_teaching_assistant %}&star;{% endif %}</span>
              </td>
              <td class="u-username">
                <a class="sm-item-link" href="{{ url_for('admin.show_user', user_id=u.id) }}">{{ u.pretty_username }}</a>
                {% if u.comment %}
                 {% set user_comment = u.comment|replace('"', '\\"')|replace("\\n", "\\n") %}
                 <a class="show-comment btn btn-outline-secondary btn-admin btn-sm p-1 ml-1 float-right" href="#"
                   data-comment="{{ user_comment }}"
                   data-toggle="modal" data-target="#texts-modal"
                   data-un="{{ u.pretty_username }}"
                 ><span class="icon-bubble"></span></a>
                {% endif %}
              </td>
              {%if want_detail %}
                {% if config['USERS_HAVE_FIRST_NAME'] %}
                  <td class="u-first-name">{{ u.first_name if u.first_name is not none}}</td>
                {% endif %}
                {% if config['USERS_HAVE_LAST_NAME'] %}
                  <td class="u-last-name">{{ u.last_name if u.last_name is not none}}</td>
                {% endif %}
                {% if config['USERS_HAVE_EMAIL'] %}
                  <td class="u-email">  {{ u.email if u.email is not none }} </td>
                {% endif %}
                {% if config['USERS_HAVE_EXT_USERNAME'] %}
                  <td class="u-org-username">{% if u.ext_username is not none %}<code>{{ u.ext_username }}</code>{% endif %}</td>
                {% endif %}
                {% if config['USERS_HAVE_EXT_ID'] %}
                  <td class="u-ext-id">{% if u.ext_id is not none %}<code>{{ u.ext_id }}</code>{% endif %}</td>
                {% endif %}
                <td class="u-created-at">
                    {% if u.created_at %}
                      {{ u.created_at | servertime | time_span | safe  }}
                    {% else %}
                    <em class="empty-setting">none</em>
                    {% endif %}
                </td>
                <td class="bool-{{ u.is_active | lower }} u-is-active">
                  {% if u.is_active %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </td>
                <td class="{% if not u.is_administrator %}{{ u.is_login_enabled | lower }}{% endif %} u-is-login-enabled">
                  {% if u.is_administrator or not u.is_active %}
                    <em class="empty-setting">
                  {% endif %}
                  {% if u.is_login_enabled %}
                      Yes
                  {% else %}
                    No
                  {% endif %}
                  {% if u.is_administrator or not u.is_active %}
                    </em>
                  {% endif %}
                </td>
              {% endif %}
              <td class="u-login-at">
                {% if u.logged_in_at %}
                  {{ u.logged_in_at | servertime | time_span | safe }}
                {% else %}
                  <em class="empty-setting">none</em>
                {% endif %}
              </td>
              <td class="u-first-login-at">
                {% if u.first_logged_in_at %}
                  {{ u.first_logged_in_at | servertime | time_span | safe }}
                {% else %}
                  <em class="empty-setting">none</em>
                {% endif %}
              </td>
              {% if is_showing_github_column %}
                <td class="u-github">  
                  {% if u.github_username %}
                    <code>{{ u.github_username }}</code>
                  {% endif %}
                  {% if u.editor_repo_url %}
                    <a href="{{ u.editor_repo_url }}" title="buggy repo"
                    class="btn btn-outline-secondary btn-white btn-sm btn-jump float-right">Repo</a>
                  {% else %}
                    <em class="empty-setting">none</em>
                  {% endif %}
                </td>
              {% endif %}
              <td class="{% if not u.is_administrator %}{{ u.latest_json|length is greaterthan 1 | lower }}{% endif %} u-uploaded"> 
                {% if u.latest_json|length is greaterthan 1 %}
                  <a href="{{ url_for('admin.show_buggy', user_id=u.username) }}"
                    class="btn btn-outline-secondary btn-admin icon-wrench ml-1"
                    data-toggle="modal" data-target="#texts-modal"
                    data-buggy="1" data-un="{{ u.pretty_username}}" data-uid="{{ u.id }}"
                  > {{ u.latest_json|length }}</a>
                {% else %}
                  <em class="empty-setting">none</em>
                {% endif %}
              </td>
              <td  class="u-uploaded">
                {% if u.uploaded_at %}
                  {{ u.uploaded_at | servertime | time_span | safe }}
                {% else %}
                  <em class="empty-setting">none</em>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if current_user.is_staff %}
    <div class="row">
      <div class="col btn-collection my-4">
        {% if current_user.is_administrator or is_password_change_by_any_staff %}
          <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('user.change_password') }}">Change passwords</a>
        {% endif %}
        {% if current_user.is_administrator %}
          <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.enable_or_disable_logins') }}">Enable/disable logins</a>
          <a class="btn btn-outline-secondary btn-admin btn-download" href="{{ url_for('admin.list_users', data_format='csv') }}">Download students CSV</a>
          <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.bulk_register') }}">Register new students</a>
          <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.new_user') }}">Register new user</a>
          {% if is_allowing_bulk_user_delete %}
            <a class="btn btn-outline-secondary btn-admin btn-jump" href="{{ url_for('admin.bulk_delete_users') }}">Bulk delete users</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col my-3 text-right">
      {{ macros.docs_btn("User management", "/running/user-management") }}
    </div>
  </div>
</div>
<div class="modal fade" id="jsonModal" tabindex="-1" role="dialog" aria-labelledby="jsonModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="json-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"><pre id="json-payload"></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  const USER_BUGGY_JSON = {
    {% for u in users %}
      {# note: probably better to not use tojson filter on a *string*  #}
      {#       here but it is the safest way to escape quotes maybe?   #}
      {{ u.username | replace("-","_") }}: {{ u.latest_json | tojson }},
    {% endfor %}
    _note: "code in script.js runs if USER_BUGGY_JSON is found"
  };
</script>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="texts-modal" tabindex="-1" aria-labelledby="texts-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="texts-modal-label"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <pre id="modal-text-body" class="m-3 p-2 task-text"></pre>
        <p id="modal-timestamp" class="mx-3 my-1 font-weight-light"></p>
      </div>
      <div class="modal-footer">
        <a href="#" id="btn-to-user-texts" class="btn btn-outline-secondary btn-jump">User's texts</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

