{% extends "layout.html" %}
{% block content %}
{%include "admin/_nav.html" %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      Register new students
    </h1>
  </div>

  <div id="registration-progress" class="container mb-2 hidden">
    <div class="row">
      <div class="col-sm-4">
        <table id="registration-summary" class="table table-striped table-bordered table-hover">
          <thead>
            <tr class="text-right">
                <th>Records</th>
                <th>Fail</th>
                <th>OK</th>
                <th>Completed</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-right">
              <td id="reg-qty-records">0</td>
              <td id="reg-qty-fail" class="list-group-item-danger">0</td>
              <td id="reg-qty-ok" class="list-group-item-success">0</td>
              <td id="reg-qty-done">0</td>
            </tr>
            <tr>
              <td colspan="3">Progress</td>
              <td class="text-right"><span id="reg-qty-done-percent">0</span>%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="alert col-sm-8" id="registration-status">
      </div>
    </div>
    <div class="row">
      <ul class="col">
      </ul>  
    </div>
  </div>

  <div class="border container my-2">
    <form id="registerForm" class="form-register" method="POST" action=""
      enctype="multipart/form-data" role="form">
      {{ form.csrf_token }}
      <div class="row pt-3">
        <div class="col">
            Bulk upload by submitting a CSV in here, with a header row as
            the first line.
            <span id="example-csv-trigger">For example:</span>
          <div id="example-csv" class="border bg-light p-2 my-2">
            {% for line in example_csv_data %}
              <code>{{ line }}</code><br>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col pt-3">
          <p>
            Either upload a CSV file, or paste its contents:
          </p>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-md-4">
          {{ form.csv_file.label }}
          {{ form.csv_file(class_="form-control mr-sm-1") }}
        </div>
        <div class="col-md-8">
          <strong>Or...</strong> {{ form.userdata.label }}
          {{ form.userdata(placeholder="username,password,...", class_="form-control mr-sm-1") }}
        </div>
      </div>
      {#
        note:
          always require an auth code for bulk registration,
          even if IS_PUBLIC_REGISTRATION_ALLOWED is true
      #}
      <div class="row bg-warning">
        <div class="col-md-6 py-3">
          {{form.auth_code.label}}
          {{form.auth_code(class_="form-control mr-sm-1")}}
        </div>
      </div>
      <div class="row">
        <div class="col py-3">
          <input class="btn btn-primary" type="submit" value="Register">
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col mt-5">
      <p>
        Alternatively you can register users individually:
      </p>
      <p class="btn-collection">
        <a href="{{ url_for('admin.new_user') }}" class="btn btn-outline-secondary btn-admin btn-jump">Register user</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}

