&lt;section class="poster"&gt;

&lt;!-- YOUR POSTER GOES HERE: make it beautiful! Make it appealing! Make it clear!  --&gt;
&lt;!-- you can drop images into static/assets if you want... and access them        --&gt;
&lt;!-- here with &lt;img src="/static/image-filename.png" alt="diagram" /&gt;             --&gt;
&lt;!--                                                                              --&gt;
&lt;!-- Of course you can edit static/app.css too if you want...                     --&gt;
&lt;!-- It's your webserver, after all.                                              --&gt;

&lt;/section&gt;
 