<!--
  ===================================================
  Start of static (cached) HTML task list
  ===================================================
  This was created either when the server booted up,
  or by admin going to config > tasks and clicking on
  "Publish task page".
  Last published at: {{ created_at }}
  ===================================================
-->
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      {{ project_code }} Project task list {{ debug_msg }}
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="alert alert-secondary">
        <h2 id="phases_and_tasks">Phases and tasks</h2>
        <p>
          You should work on your project in phases, completing every task in
          each phase before moving on to the next. Apart from phase 0, you can
          tackle the tasks within each phase in any order  you like.
        </p>
        {% if expected_phase_completion %}
          <p>
            If you're not an experienced programmer, we don't expect you to get
            much further than <strong>phase&nbsp;{{ expected_phase_completion }}</strong>
            before you run out of time.
          </p>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert-danger border border-danger p-4 my-3">
          You <strong>must</strong> implement each phase completely,
          <strong>before</strong> moving on to the next.
      </div>
      <div class="alert-success border border-success p-4 my-3">
          You're free to implement each task <strong>as thoroughly</strong>
          as you require.
      </div>
    </div>
  </div>
  {% if qty_tasks == 0 %}
  <div class="row my-5">
    <div class="col">
      <div class="alert alert-danger">
        No tasks have been published yet:
        (administrator needs to load them into the database)
      </div>
    </div>
  </div>
{% else %}
    <div class="buggy-project">
      <div class="row">
        <div class="col-md-6">
          <div class="alert alert-secondary">
            {% for phase in tasks_by_phase %}
              <h3>
                Phase {{ phase }}
                {% if tasks_by_phase|length == 1 %} task {% else %} tasks {% endif %}
              </h3>
              <ul>
                {% for task in tasks_by_phase[phase] %}  
                  <li><a href="#{{ task.anchor }}"><span>{{ task.fullname }}</span> {{ task.title }}</a></li>
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-secondary p-4 my-5 btn-collection">
            {% for phase in tasks_by_phase %}
              {% for task in tasks_by_phase[phase] %}  
                <a class="btn btn-sm btn-secondary" href="#{{ task.anchor }}">{{ task.fullname }}</a>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
  
      {% for phase in tasks_by_phase %}
        <div class="task-breakdown">
          <h2>
            Phase {{ phase }}
            {% if tasks_by_phase|length == 1 %} task {% else %} tasks {% endif %}  
          </h2>
          <section class="phase-{{ phase }}">
            {% for task in tasks_by_phase[phase] %}  
              <div class="task" id="{{ task.anchor }}">
                <div class="container">
                  <div class="row task-heading">
                    <h3 class="m-0 col">
                      <a href="#{{ task.anchor }}">{{ task.fullname }}</a> {{ task.title }}
                    </h3>
                    {% if is_storing_texts %}
                    <div class="col-md-3 text-right p-2">
                      <a class="btn btn-outline-secondary btn-white btn-task-text btn-jump" href="{{ url_for('user.task_text', task_fullname=task.fullname) }}">Add&nbsp;text</a>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="item problem">
  {{ task.problem_html(config) | safe }}
                </div>
                <div class="item solution">
  {{ task.solution_html(config) | safe }}
                </div>
              <div class="item hints">
  {{ task.hints_html(config) | safe}}
              </div>
            {% endfor %}
          </section>
        </div>
      {% endfor %}
    
    </div>
  {% endif %}
</div>
<!--
  ===================================================
  End of static (cached) HTML task list
  ===================================================
-->