{% extends "layout.html" %}
{% block body_class%}report-page{% endblock %}
{% block content %}

<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3" id="project-details">
      {{ config['PROJECT_CODE'] }} Racing Buggy project: your {{ report_type }}
    </h1>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h2 id="about-the-{{ report_type | lower }}">About the "{{ report_type }}"</h2>
      <p>
        There are two parts of your project submission:
      </p>
      <ul>
        <li>your Racing Buggy Editor web application</li>
        <li>a "{{ report_type }}" summarising your work</li>
      </ul>
      <p>
        Because you have developed a webserver, for the
        {{ config['PROJECT_CODE'] }} Racing Buggy project
        your {{ report_type }} is — of course — a page on your webserver at:
      </p>
      <ul>
        <li>
          <a href="http://localhost:5000/{{ report_type }}">http://localhost:5000/{{ report_type }}</a>
        </li>
      </ul>

      <h2 id="what-is-in-your-{{ report_type }}" class="mt-4">
        {% if report_type == "poster" %}
          What is on your poster?
        {% else %}
          What is on your {{ report_type }}?
        {% endif %}
      </h2>
      <p>
        There are two parts: the top and the bottom (of the single web page):
      </p>
      <ul>
        <li><strong>top</strong>: "sell" the features of your editor</li>
        <li><strong>bottom</strong>: text about each task you attempted</li>
      </ul>

      <h2 id="what-is-on-the-top-of-your-{{ report_type }}" class="mt-4">
        What is on the top of your {{ report_type }}?
      </h2>
      <p>
        You've made a working (up to a point) buggy editor! Tell someone who
        lands on this page what's great about it! What does it offer? What can
        you do with it? What features does it have? Use CSS, use images if you
        want, but think about the information you're presenting too.
      </p>
      <p>
        Here are examples of webpages that do this for <em>their</em> editors:
        this is only for inspiration, you can make it your own!
      </p>
      <ul>
        <li>
          <a href="https://code.visualstudio.com/">VSCode</a>:
          our main code editor for this module 
        </li>
        <li>
          <a href="https://notepad-plus-plus.org">Notepad++</a>:
          a Windows text editor
        </li>
        <li>
          <a href="https://macromates.com">TextMate</a>:
          a Mac editor
        </li>
        <li>
          <a href="https://atom.io">Atom</a>:
          the Atom text editor
        </li>
      </ul>
      <p>
        Obviously some of those have the power of a team of pro graphic
        designers behind them so it's OK if yours isn't a complete festival
        for the eyes... but once you've been working on your buggy editor
        for a little while, you'll know enough about HTML to know how
        to organise headings and paragraphs or maybe bullet lists or...
        well, see how you get on with HTML and style.
      </p>
      <p>
        (But don't forget this is about conveying the <em>features</em> your
        editor has).
      </p>

      <h2 id="what-is-on-the-bottom-of-your-{{ report_type }}" class="mt-4">
        What is on the bottom of your {{ report_type }}?
      </h2>
      <p>
        Underneath that we want to see a list of the tasks your attempted with
        a couple of sentences on each: what you did and anything you did and
        didn't do. This is where we can give you credit for your
        <em>understanding</em> even if you didn't manage to get all of the task
        working.
      </p>
      
      <h2 id="how-to-set-it-up" class="mt-4">
        How to set it up
      </h2>
      <p>
        As you'll know by the time you set this up, there is more than one way
        to do this, but you are <em>strongly recommended</em> to add your
        {{ report_type }} like this:
      </p>
      <p>
        In <code>app.py</code> add another route (drop it in with your other
        routes, which means somewhere <em>before</em> <code>app.run()</code>
        is called):
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col copy-to-clipboard" data-target="route-html">
      <pre class="border border-secondary p-3" id="route-html">
@app.route('/{{ report_type }}')
def {{ report_type }}():
  return render_template('{{ report_type }}.html')
</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <p>
        Incidentally if this makes sense to you it's because you know how
        Flask webservers work now... and if you didn't before the project 
        started, how cool is that? Well done!
      </p>
      <p>
        And in <code>templates/{{ report_type }}.html</code> add this: (maybe
        copy-and-paste it?) (we've written the first one — <code>0-GET</code>
        for you as an example — of course you must edit it!)
      </p>

    </div>
  </div> 
  <div class="row">
    <div class="col copy-to-clipboard" data-target="page-html">

      <pre class="border border-secondary p-3" id="page-html">
&lbrace;% extends "base.html" %&rbrace;
&lbrace;% block content %&rbrace;

&lt;style&gt;
.{{ report_type }}-tasks &lbrace;
  border-top: 1px solid black;
  margin-top: 4em;
&rbrace;
.{{ report_type }}-tasks .task &lbrace;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
&rbrace;
.{{ report_type }}-tasks .task h2 &lbrace;
  border-bottom: 3px solid gray;
&rbrace;
&lt;/style&gt;

&lt;!-- Anything you want here: make it beautiful! make it appealing! make it clear! --&gt;
&lt;!-- you can drop images into static/assets if you want... and access them        --&gt;
&lt;!-- here with &lt;img src="/static/image-filename.png" alt="diagram" /&gt;             --&gt;
&lt;!--                                                                              --&gt;
&lt;!-- Of course you can edit static/app.css too if you want...                     --&gt;
&lt;!-- It's your webserver, after all.                                              --&gt;
&lt;!--                                                                              --&gt;
&lt;!-- Maybe... delete all these comments too :-)                                   --&gt;


&lt;!-- below this point keep this section tag and paste in a &lt;div&gt; for every        --&gt;
&lt;!-- task you attempted.                                                          --&gt;

&lt;section class="{{ report_type }}-tasks"&gt;

&lt;div class="task"&gt;
  &lt;h2&gt;0-GET Get the source code&lt;/h2&gt;
  &lt;p&gt;
    I forked the repo on GitHub and then used &lt;code&gt;git clone&lt;/code&gt; to make
    a local copy.
  &lt;/p&gt;
  &lt;p&gt;
    Once the repo was on my own machine I was able to commit changes to
    version control as I went along, and I pushed back up to my GitHub repo
    at the end of each day. I followed GitHub's instructions and set up a
    SSH key so I didn't need to enter username and password every time I
    pushed.
  &lt;/p&gt;
&lt;/div&gt;

&lt;!-- this closes the section: keep it in! --&gt;
&lt;/section&gt;

&lbrace;% endblock %&rbrace;
      </pre>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h2 id="add-some-text-for-every-task-you-attempted" class="mt-4">
        Add some text for every task you attempted
      </h2>
      <p>
        We'll be looking at the code to see <em>what</em> you did, but in the
        text just drop a short paragraph saying <em>what you did</em>. And
        what was tricky or anything you learned.
      </p>
      <p>
        We're looking for opportunities to give you credit for having
        <em>understood</em> what you were doing. That's why it's OK if you
        didn't do a task completely: tell us why.
      </p>
      {% if validation_task %}
        <p>
          For example, for
          <a href="{{ url_for('public.show_single_task', task_id=validation_task) }}">{{ validation_task }}</a>
          the different <em>types</em> of data are not equally easy to validate.
          "I did not validate the <code>xyz</code> field in the same way as 
          <code>qty_wheels</code> because&#8230;". You need to show us you
          understood what you did (and learned from it) so sometimes that
          includes explaining the bits you didn't do, and why.
          Doing is better than not doing, obviously: but if you couldn't do
          a complete task you can still get some credit for it if it's clear
          you dived into it.
        </p>
      {% endif %}
      {% if is_storing_texts %}
        <h2 id="storing-texts-on-this-race-server" class="mt-4">
          Storing texts on this race server
        </h2>
        <p>
          You can make notes as you go along, and download them as text or
          already in HTML format (see below) to put into your report.
        </p>
        <p>
          Remember that this is not your report! It's simply a convenient place
          to collect your texts as you go along. You still have to manage putting
          them into the <code>/{{ report_type }}</code> page of your buggy editor.
          However, there are buttons for <strong>downloading your texts</strong>
          which will already put them in a helpful HTML format, if you want.
        </p>
        <p class="btn-collection">
          <a href="{{ url_for('user.list_task_texts') }}" class="btn btn-outline-secondary btn-white btn-jump">Your texts</a>
        </p>
      {% endif %}
      
      <h2 id="helpful-html-to-copy-and-paste" class="mt-5">
        Helpful HTML to copy-and-paste
      </h2>
      {% if is_storing_texts %}
        <div class="alert alert-danger border border-danger">
          This section describes the <em>empty HTML code</em> you can use in
          your <code>{{report_type}}.html</code> template.
          <strong>If you create "task texts" as described above, you don't
          have to do this!</strong> It's what you get when you
          download <a href="{{ url_for('user.list_task_texts') }}">your texts</a>: choose the <strong>download as HTML</strong>
          button (with markdown, if you want).
        </div>
      {% endif %}
      <p>
        For each task you attempted, take this HTML and add it to your
        {{ report_type }} (in the <code>tasks</code> <code>section</code>).
        Remember to edit it!
        Be kind to your marker and put the tasks in the right order too please ;-)
      </p>
      <p>
        You'll need one of these for each task you attempted:
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col example-report copy-to-clipboard" data-target="general-task-html">
        <pre id="general-task-html" class="border border-secondary p-3">&lt;div class="task"&gt;
  &lt;h2&gt;<span id="task-html-task-id">TASK-NAME TASK-TITLE</span>&lt;/h2&gt;
  &lt;p&gt;
    &lt;!-- sentence on _how_ you fixed it --&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;!-- sentence(s) on anything interesting/incomplete you did --&gt;
  &lt;/p&gt;
&lt;/div&gt;</pre>
    </div>
  </div>
  <script>
    const TASK_HTML_PRE = document.getElementById("general-task-html");
    const TASK_ID_SPAN = document.getElementById("task-html-task-id");
    if (TASK_HTML_PRE && TASK_ID_SPAN){
      let task_select = document.createElement("select");
      task_select.classList.add("form-control");
      let tasks_by_name = {"TASK-NAME": "TASK-TITLE"};
      let opt = document.createElement("option");
      opt.innerText = "Choose a task:";
      opt.setAttribute("value", "TASK-NAME");
      opt.setAttribute("selected", "1");
      task_select.append(opt);
      {% for task in tasks %}
      tasks_by_name["{{ task.fullname }}"]="{{ task.title }}";
      opt = document.createElement("option");
      opt.innerText = "{{ task.fullname }}";
      task_select.append(opt);
      {% endfor %}
      task_select.addEventListener("change", function(e){
        TASK_ID_SPAN.innerText=this.value + " " + tasks_by_name[this.value];
        let copy_btn = TASK_HTML_PRE.parentElement.querySelector("button");
        if (copy_btn){ /* reset copy-to-clipboard button when text changes */
          copy_btn.classList.add("btn-primary");
          copy_btn.classList.remove("btn-success", "btn-danger");
        }
      });
      TASK_HTML_PRE.after(task_select);
    }
  </script>

  {% if expected_phase_completion %}
    <div class="row mt-4">
      <div class="col-lg-8">
        <p>
          Remember:
          if you're not an experienced programmer, we don't expect you to get
          much further than <strong>phase&nbsp;{{ expected_phase_completion }}</strong>
          before you run out of time.
        </p>
      </div>
    </div>
  {% endif %}

</div>
{% endblock %}
