{% extends "layout.html" %}
{% block page_title %} {{ config['PROJECT_CODE'] }} Report {% endblock %}
{% block body_class%}report-page{% endblock %}
{% block content %}

<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3" id="project-details">
      {{ config['PROJECT_CODE'] }} Buggy Racing project: your report
    </h1>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h2 id="about-the-report">
        <a class="toclink" href="#about-the-report">About the report</a>
      </h2>
      {% if report_type == "in editor" %}
        <p>
          Because you have developed a webserver, for the
          {{ config['PROJECT_CODE'] }} Buggy Racing project
          your report is — of course — a page on your webserver at:
        </p>
        <ul>
          <li>
            <code>{{ editor_local_url }}/report</code>
          </li>
        </ul>
      {% else %}
        <p>
          Your report is a document that you must submit at the end of the
          project.
        </p>
      {% endif %}

      <h2 id="what-is-in-your-report" class="mt-4">
        <a class="toclink" aria-labelledby="what-is-in-your-report" href="#what-is-in-your-report">
          What is in your report?
        </a>
      </h2>

      {% if poster_type == "top of report" or poster_type == "bottom of report" %}
        <p>
          There are two parts:
        </p>
      {% endif %}
      <ul>
        {% if poster_type == "top of report" %}
          <li>
            the <a href="{{ url_for( 'public.serve_project_page', page='poster' ) }}">poster</a>
            that "sells" the features of your editor
            <br>
            <em>...followed by...</em>
          </li>
        {% endif %}
        <li>
          a series of texts about each task you attempted
          <br>
          {% if poster_type == "bottom of report" %}
            <em>...followed by...</em>
          {% endif %}
        </li>
        {% if poster_type == "bottom of report" %}
          <li>the <a href="{{ url_for( 'public.serve_project_page', page='poster' ) }}">poster</a> that "sells" the features of your editor</li>
        {% endif %}
      </ul>

      <p>
        For the report text, we want to see a list of the tasks you attempted,
        what you did and anything you did and didn't do. This is where we can
        give you credit for your <em>understanding</em> even if you didn't
        manage to get all of the task working.
      </p>
      {% if suggested_text_size %}
        <div class="alert alert-info border border-info">
          <h2 class="alert-title">Suggested size for each task text:</h2>
          {{ suggested_text_size }}
        </div>
    {% endif %}

    </div>
  </div>
  {% if report_type == "in editor" %}
    <div class="row">
      <div class="col-lg-8">
        <h2 id="how-to-set-it-up" class="mt-4">
          <a class="toclink" href="#how-to-set-it-up">
            How to set up the <code>/report</code> page in your buggy editor
          </a>
        </h2>
        <p>
          As you'll know by the time you set this up, there is more than one way
          to do this, but you are <em>strongly recommended</em> to add your
          report like this:
        </p>
        <p>
          Add a new route in <code>app.py</code> (drop it in with your other
          routes, which means somewhere <em>before</em> <code>app.run()</code>
          is called):
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col copy-to-clipboard" data-target="route-html">
        <pre class="border border-secondary p-3" id="route-html">
@app.route('/report')
def report():
  return render_template('report.html')
</pre>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <p>
          Incidentally if this makes sense to you it's because you know how
          Flask webservers work now... and if you didn't before the project 
          started, how cool is that? Well done!
        </p>
        <p>
          In <code>templates/</code> add a new template file called
          <code>report.html</code> with content like this: (maybe
          copy-and-paste it?)
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col copy-to-clipboard" data-target="page-html">
        <pre class="border border-secondary p-3" id="page-html">
&lbrace;% extends "base.html" %&rbrace;
&lbrace;% block content %&rbrace;
&lt;style&gt;
{% if poster_type == "top of report" or poster_type == "bottom of report" %}.poster &lbrace;
  /* change or delete! */
  border-top: 1px solid black;
  margin: 1em;
&rbrace;{% endif %}
.report-tasks &lbrace;
  border-top: 1px solid black;
  margin-top: 4em;
&rbrace;
.report-tasks .task &lbrace;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
&rbrace;
.report-tasks .task h2 &lbrace;
  border-bottom: 3px solid gray;
&rbrace;
&lt;/style&gt;
{% if poster_type == "top of report" %}
{% include "public/project/_poster_placeholder.html" %}
{% endif %}
&lt;!-- below this point keep this section tag and paste in a &lt;div&gt; for every        --&gt;
&lt;!-- task you attempted.                                                          --&gt;

&lbrace;% raw %&rbrace;
&lt;section class="report-tasks"&gt;

&lt;!-- THIS IS WHERE YOUR TEXTS GO!                                                 --&gt;
{% if is_storing_texts %}&lt;!--
    Paste in your texts, which you downloaded as the HTML from
    {{ site_url }}
--&gt;{% endif %}

&lt;/section&gt;
&lbrace;% endraw %&rbrace;
{% if poster_type == "bottom of report" %}
{% include "public/project/_poster_placeholder.html" %}
{% endif %}
&lbrace;% endblock %&rbrace;
        </pre>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <h2 id="add-some-text-for-every-task-you-attempted" class="mt-4">
          <a class="toclink" href="#add-some-text-for-every-task-you-attempted">
            Add some text for every task you attempted
          </a>
        </h2>
        <p>
          We'll be looking at the code to see <em>what</em> you did, but in the
          text just write about <em>what you did</em>, what was tricky, and
          anything you learned.
        </p>
        <p>
          We're looking for opportunities to give you credit for having
          <em>understood</em> what you were doing. That's why it's OK if you
          didn't do a task completely: tell us why.
        </p>
        {% if validation_task %}
          <p>
            For example, for
            <a href="{{ url_for('public.show_single_task', task_id=validation_task) }}">{{ validation_task }}</a>
            the different <em>types</em> of data are not equally easy to validate.
            "I did not validate the <code>xyz</code> field in the same way as 
            <code>qty_wheels</code> because&#8230;". You need to show us you
            understood what you did (and learned from it) so sometimes that
            includes explaining the bits you didn't do, and why.
            Doing is better than not doing, obviously: but if you couldn't do
            a complete task you can still get some credit for it if it's clear
            you dived into it.
          </p>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if is_storing_texts %}
    <div class="row">
      <div class="col-lg-8">

        <h2 id="storing-texts-on-this-race-server" class="mt-4">
          <a class="toclink" href="#storing-texts-on-this-race-server">
            Storing texts on this race server
          </a>
        </h2>
        <p>
          You can make notes as you go along, and download them as text or
          HTML format to put into your report.
        </p>
        <p>
          Remember that this is not your report! It's simply a convenient place
          to collect your texts as you go along. 
          {% if report_type == "in editor" %}
            You still have to manage putting them into the <code>report</code>
            page of your buggy editor.
          {% endif %}
          However, there are buttons for <strong>downloading your texts</strong>
          which will already put them in a helpful HTML format, if you want.
        </p>
        <p class="btn-collection">
          <a href="{{ url_for('user.list_task_texts') }}" class="btn btn-outline-secondary btn-white btn-jump">Your texts</a>
        </p>
      </div>
    </div>
  {% endif %}
  {% if report_type == "in editor" %}
    <div class="row">
      <div class="col-lg-8">
        <h2 id="helpful-html-to-copy-and-paste" class="mt-5">
          <a class="toclink" href="#helpful-html-to-copy-and-paste">
            Helpful HTML to copy-and-paste
          </a>
        </h2>
        <div class="alert alert-danger border border-danger">
          <p>
            This section shows you the <em>empty HTML code</em> you can use in
            your <code>{{report_type}}.html</code> template for individual task
            texts.
            {% if is_storing_texts %}
              <strong>If you create "task texts" as described above, you don't
              have to do this</strong>, because it's what the server automatically
              does when you <a href="{{ url_for('user.list_task_texts') }}">download
              your texts as HTML</a>.
            {% endif %}
          </p>
          {% if is_storing_texts %}
            <p>Check the box to see the HTML:</p>
            <form class="row">
              <div class="col-2 text-right">
                <input type="checkbox" value="1" id="i-understand" name="i-understand">
              </div>
              <div class="col-10">
                <label for="i-understand">
                  I understand that I don't need to use this if I
                  <em>download my texts as HTML</em>.
                </label>
              </div>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row reveal-only-if-confirmed">
      <div class="col-lg-8">
        <p>
          For each task you attempted, take this HTML and add it to your
          report (in the <code>tasks</code> <code>section</code>).
          Remember to edit it!
          Be kind to your marker and put the tasks in the right order too please ;-)
        </p>
        <p>
          You'll need one of these for each task you attempted:
        </p>
      </div>      
    </div>
    <div class="row reveal-only-if-confirmed">
      <div class="col example-report copy-to-clipboard" data-target="general-task-html">
        <pre id="general-task-html" class="border border-secondary p-3">&lt;div class="task"&gt;
  &lt;h2&gt;<span id="task-html-task-id">TASK-NAME TASK-TITLE</span>&lt;/h2&gt;
  &lt;p&gt;
    &lt;!-- your text goes here... --&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;!-- ...and more... --&gt;
  &lt;/p&gt;
&lt;/div&gt;</pre>
      </div>
    </div>
    <script>
      const USER_CONSENT_CHECKBOX = document.getElementById("i-understand");
      if (USER_CONSENT_CHECKBOX){ // will not be found if server not storing task texts
        const HIDDEN_UNTIL_APPROVED = document.getElementsByClassName("reveal-only-if-confirmed");
        for (const elem of HIDDEN_UNTIL_APPROVED){
          elem.classList.add("hidden");
        }
        document.getElementById("i-understand").addEventListener(
          "change",
          function(event){
            event.preventDefault();
            for (const elem of HIDDEN_UNTIL_APPROVED){
              if(event.target.checked) {
                elem.classList.remove("hidden");
              } else {
                elem.classList.add("hidden");
              }
            }          
          }
        )
      }
      const TASK_HTML_PRE = document.getElementById("general-task-html");
      const TASK_ID_SPAN = document.getElementById("task-html-task-id");
      if (TASK_HTML_PRE && TASK_ID_SPAN){
        let task_select = document.createElement("select");
        task_select.classList.add("form-control");
        let tasks_by_name = {"TASK-NAME": "TASK-TITLE"};
        let opt = document.createElement("option");
        opt.innerText = "Choose a task:";
        opt.setAttribute("value", "TASK-NAME");
        opt.setAttribute("selected", "1");
        task_select.append(opt);
        {% for task in tasks %}
        tasks_by_name["{{ task.fullname }}"]="{{ task.title }}";
        opt = document.createElement("option");
        opt.innerText = "{{ task.fullname }}";
        task_select.append(opt);
        {% endfor %}
        task_select.addEventListener("change", function(e){
          TASK_ID_SPAN.innerText=this.value + " " + tasks_by_name[this.value];
          let copy_btn = TASK_HTML_PRE.parentElement.querySelector("button");
          if (copy_btn){ /* reset copy-to-clipboard button when text changes */
            copy_btn.classList.add("btn-primary");
            copy_btn.classList.remove("btn-success", "btn-danger");
          }
        });
        TASK_HTML_PRE.after(task_select);
      }
    </script>
  {% endif %}

  {% if expected_phase_completion %}
    <div class="row mt-4">
      <div class="col-lg-8">
        <div class="alert alert-info border border-info">
          Remember:
          if you're not an experienced programmer, we don't expect you to get
          much further than <strong>phase&nbsp;{{ expected_phase_completion }}</strong>
          before you run out of time.
        </div>
      </div>
    </div>
  {% endif %}

  {% if is_poster %}
    <div class="row mt-4">
      <div class="col-lg-8">
        <hr>
        <p>
          See also this information about your poster:
        </p>
        <p>
          <a class="btn btn-outline-secondary btn-jump btn-white" href="{{ url_for( 'public.serve_project_page', page='poster' ) }}">Poster</a>
        </p>
      </div>
    </div>  
  {% endif %}

</div>
{% endblock %}
