{% extends "layout.html" %}
{% block page_title %}Bad Request{% endblock %}
{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">400</h1>
  <p>
    Bad Request
  </p>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <p>
          This problem <em>might</em> be because your request didn't have the correct
          <a href="https://en.wikipedia.org/wiki/Cross-site_request_forgery">Cross-site
          Request Forgery token</a>. This happens if you click a button on a stale
          form. If so, try going back, refreshing the page, and submitting the form
          again.
        </p>
    </div>
  </div>
  <hr class="my-4">
  <p>
    400: <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status">About HTTP status codes</a>
  </p>
</div>
{% endblock %}
