{% extends "layout.html" %}
{% block page_title %}Forbidden{% endblock %}
{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">403</h1>
  <p>
    Nope: you need special permission to be here.
  </p>
  <p>
    If you think you should be allowed here, contact the
    race marshals and ask them to give you a pitstop pass.
  </p>
  <hr class="my-4">
  <p>
    403: <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status">About HTTP status codes</a>
  </p>
</div>
{% endblock %}
