{% extends "layout.html" %}
{% block page_title %}Page not found{% endblock %}
{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">405</h1>
  <p>
    Method not allowed.
  </p>
  {% if request.method %}
    <p>
      You made a <code>{{ request.method }}</code> request
      for <code>{{ request.path }}</code>.
    </p>
  {% endif %}
  {% if error.valid_methods %}
    <p>
      The only methods allowed here are: 
      <code>{{ ", ".join(error.valid_methods) }}</code>
    </p>
  {% endif %}
  {% if request.path == url_for('api.create_buggy_with_json_via_api') %}
    <p>
      This is why APIs don't just publish the endpoints you should use,
      but also the methods: see
      <a href="{{ url_for('api.describe_api')}}">the Race Server's API specification</a>.
    </p>
  {% endif %}
  <hr class="my-4">
  <p>
    405: <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status">About HTTP status codes</a>
  </p>
</div>
{% endblock %}

