{# local announcements are only shown on specific pages: e.g., home or login #}
{% if config['_CURRENT_ANNOUNCEMENTS'] %}
  {% for announcement in config['_CURRENT_ANNOUNCEMENTS'] %}
    {% if announcement.type == local_announcement_type %}
      <div class="row">
        <div class="col alert">
          {% if announcement.is_html %}
            {{ announcement.text|safe }}
          {% else %}
            {{ announcement.text }}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
