<footer>
  {% if not config['_SETUP_STATUS'] %}
    <small>
      <ul class="company">
        <li>
          <a href="{{ config['INSTITUTION_HOME_URL'] }}">{{ config['INSTITUTION_FULL_NAME'] }}</a>
        </li>
        <li>
          Image credits:
          <br>
          Metal plate by <a href="https://www.flickr.com/photos/filterforge/">Filter Forge</a>  CC&nbsp;BY&nbsp;2.0
          <br>
          Illustrations by <a href="http://raulrene.wordpress.com/renes-pixie-pixelarium/">René Carbonell</a> CC&nbsp;BY&nbsp;2.0
        </li>
      </ul>
      <ul class="footer-nav" id="footer-nav">
        <li><a href="{{ url_for('public.home') }}">Home</a></li>
        <li><a href="{{ url_for('public.serve_project_page') }}">Project</a></li>
        <li><a href="{{ url_for('user.submit_buggy_data') }}">Upload</a></li>
        <li><a href="{{ url_for('public.show_specs') }}">Specs</a></li>
        <li><a href="{{ url_for('race.show_public_races') }}">Races</a></li>
        <li><a href="{{ url_for('user.settings') }}">Settings</a></li>
        <li><a href="{{ url_for('public.about') }}">About</a></li>
        {% if current_user and current_user.is_authenticated %}
            {% if current_user.is_staff %}
              <li><a href="{{ url_for('admin.admin') }}"><span class="icon-cog mr-2"></span>Admin</a></li>
            {% endif %}
            <li><a href="{{ url_for('public.logout') }}"><span class="icon-exit mr-2"></span>Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('public.login') }}"><span class="icon-enter mr-2"></span>Log in</a></li>
        {% endif %}

      </ul>
    </small>
  {% endif %}
</footer>
