{% import "admin/macros.html" as macros %}
{% set ns_admin = namespace(is_task_list_out_of_date = None) %}
{% set ns_admin = namespace(is_tech_notes_out_of_date = None) %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ static_url_for('static', filename='build/img/favicon.ico') }}">
    <title>
      {% block page_title %} 
      Buggy Race Server
       {% endblock %}
    </title>
    <meta
      name="description"
      content="{% block meta_description %}{% endblock %}"
    />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="{{ static_url_for('static', filename='build/main_css.bundle.css') }}"/>
    {% block css %}{% endblock %}
    {% if flag_color_css_defs %}
      <style>
        {% for fc in flag_color_css_defs %}.{{ flag_color_css_defs[fc][0] }} {{ flag_color_css_defs[fc][1] }}
        {% endfor %}
      </style>
    {% endif %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %}
      {% with form=form %} 
        {% include "nav.html" %} 
      {% endwith %}
    <header>{% block header %}{% endblock %}</header>
    <main role="main">
      {% if config['CURRENT_ANNOUNCEMENTS'] %}
        {% for announcement in config['CURRENT_ANNOUNCEMENTS'] %}
          {% if announcement.type in config['_ANNOUNCEMENT_TOP_OF_PAGE_TYPES'] %}
            <div class="row my-2 mx-0 announcement-wrapper announcement-{{ announcement.type }} w-100">
              <div class="announcement-inner-box text-center alert">
                  {% if announcement.is_html and not request.url.endswith('/no-html') %}
                    {{ announcement.text|safe }}
                  {% else %}
                    {{ announcement.text }}
                  {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div id="flash-msgs">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="my-3">
              {% for category, message in messages %}
                <div class="row alert alert-{{ category }} my-2 {%if message.startswith('Authorisation code')%}bad-auth{% endif %}">
                  <div class="container">
                    <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                    {{ message }}
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
      </div>
      <div class="m-1">
        {% block content %}{% endblock %}
      </div>
    </main>
    {% include "footer.html" %}
    <script src="{{ static_url_for('static', filename='build/main_js.bundle.js') }}"></script>
    {% block js %}{% endblock %}
    {% endblock %}
  </body>
</html>

