
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="{{ url_for('public.home') }}">
     Buggy Race Server 
  </a>
  {% if config['_SETUP_STATUS'] %}
    <a href="{{ url_for('admin.setup') }}" class="btn btn-small btn-warning">Setting up...</a>
  {% else %}

  <button class="navbar-toggler" type="button">
    <a href="#footer-nav"><span class="navbar-toggler-icon"></span></a>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('public.showspecs') }}">Specs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('public.announce_races') }}">Races</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user.submit_buggy_data') }}">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user.settings') }}">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('public.about') }}">About</a>
      </li>
    </ul>
    {% if current_user and current_user.is_authenticated %}
    <ul class="navbar-nav my-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('user.submit_buggy_data') }}">Logged in as {{ current_user.pretty_username }}</a>
      </li>
        {% if current_user.is_buggy_admin %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.admin') }}">
              <i class="icon-cog"></i>
            </a>
          </li>
        {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('public.logout') }}">
          <i class="icon-exit"></i>
        </a>
      </li>
    </ul>
    {% else %} 
    <ul class="navbar-nav my-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('public.login') }}">Log in</a>
      </li>
    </ul>
    {% endif %}
  </div><!-- /.navbar-collapse -->
  {% endif %}
</nav>
