/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  background-color: #ffffcc;
  background-image:url('/static/build/img/metal-floor-plate.jpg');
}

section {
  overflow: auto;
}

main {
  background-color:white;
}

textarea {
  resize: vertical;
}

/* home */

.buggy-img {
  width: 100%;
}

/* Forms */

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* btn-white for secondary outline buttons */
.btn-white {
  background-color:white;
}
.btn-white:hover {
  color: white;
  background-color:#6c757d;
}

/* the buggy project page */

.buggy-project .task-breakdown  {
  margin-top: 3em;
  border-top:1px solid #cccccc;
}

.buggy-project .task-breakdown .task-heading {
  margin-bottom:1rem;
}
.buggy-project .task-breakdown .btn-task-note{
  background-color:white;
}

.buggy-project .phase-list {
  margin:1em auto;
  border:1px solid gray;
  padding:0.5em 1em;
}
.buggy-project .phase-list ul {
  list-style: none;
  margin-left:0;
  padding-left:1em;
}
.buggy-project .phase-list li {
  padding:0.25em 0.5em;
  background-color: #f5f5f5;
}
.buggy-project .phase-list li:nth-child(2n) {
  background-color: #f0f0f0;
}
.buggy-project .phase-list a span {
  min-width:5em;
  display: inline-block;
  padding-right:0.3em;
}
.buggy-project h2 {
  margin-top: 2em;
}
.buggy-project .task {
  margin:4em 0 1em 0;
  padding:0;
}
.buggy-project .task:before{
  content: "";
  display:block;
  padding:1em;
  background: repeating-linear-gradient(-45deg, yellow, yellow 1em, black 1em, black 2em);
}
.buggy-project .task h3 {
  padding:0.5em;
  margin:0 0 0.5em 0;
}
.buggy-project .task .item {
  padding:0 0 0.5em 0;
  margin:0 1em 1em 3em;
}
.buggy-project .task .problem {
  background:#ffeeee;
}
.buggy-project .task .solution {
  background:#eeffee;
}
.buggy-project .task .hints {
  background:#fff9e9;
}
.buggy-project .task .item p, .buggy-project .task .item ul {
  margin:1em 1em 0.5em 2em;
  padding-bottom:0.5em;
}
.buggy-project .task .hints ul li {
  margin: 0.5em 0;
}
.buggy-project .task .item:before {
  display:block;
  font-weight:bold;
  padding:0.5em 1em 0.5em 2em;
  background:inherit;
}
.buggy-project .task .problem:before {
  content: "Problem";
  background-color: #eedddd;
}
.buggy-project .task .solution:before {
  content: "Solution";
  background-color: #ddeedd;
}
.buggy-project .task .hints:before {
  content: "Hints";
  background:#fff9e9;
  background:#eee6d6;
}

.buggy-project .task h3 {
  display: flex;
  align-items: flex-start;
}

.buggy-project .task h3 a{
  display: block;
  white-space:nowrap;
  color:#fff;
  padding:0.25em 0.5em;
  border-radius:0.2em;
  border: 0.2em solid white;
  text-decoration: none;
  background-color:#000;
  box-shadow: 0.2em 0.2em 0.4em #000;
  margin: -1em 1em 0.2em 0em;
}
.buggy-project .task h3 a::before{
  content:"#";
  margin-right:0.1em;
  opacity:0.5;
}
.buggy-project .task a:hover{
  background-color:#666;
  color:white;
}
/* special case: for very narrow screens:
   task description drops below the (never
   text-wrapped) task anchor
 */
@media (max-width: 30em) {
  .buggy-project .task h3 {
    flex-direction: column;
    padding-left:1em;
  }
  .buggy-project .task h3 a{
    margin-left:-0.5em;
  }
}

.buggy-project .phase-0 .task:before{ background: repeating-linear-gradient(-45deg, #ffff00, #ffff00 1em, black 1em, black 2em);}
.buggy-project .phase-6 .task .task-heading,
.buggy-project .phase-0 .task .task-heading { background-color: #ffffbb; }
.buggy-project .phase-1 .task:before{ background: repeating-linear-gradient(-45deg, #ffe600, #ffe600 1em, black 1em, black 2em);}
.buggy-project .phase-1 .task .task-heading { background-color: #ffeebb; }
.buggy-project .phase-2 .task:before{ background: repeating-linear-gradient(-45deg, #ffc100, #ffc100 1em, black 1em, black 2em);}
.buggy-project .phase-2 .task .task-heading { background-color: #ffe3bb; }
.buggy-project .phase-3 .task:before{ background: repeating-linear-gradient(-45deg, #ff9c00, #ff9c00 1em, black 1em, black 2em);}
.buggy-project .phase-3 .task .task-heading { background-color: #ffd2bb; }
.buggy-project .phase-4 .task:before{ background: repeating-linear-gradient(-45deg, #ff7600, #ff7600 1em, black 1em, black 2em);}
.buggy-project .phase-4 .task .task-heading { background-color: #ffc6bb; }
.buggy-project .phase-5 .task:before{ background: repeating-linear-gradient(-45deg, #ff0000, #ff0000 1em, black 1em, black 2em);}
.buggy-project .phase-5 .task .task-heading { background-color: #ffbbbb; }

.buggy-text-overlay {
  background-color: rgba(0,0,0,0.333);
  color:white;
  font-weight:bold;
  padding:0.333em 0.666em;
}

.buggy-table {
  box-shadow: 6px 5px 5px rgba(0,0,0,0.333);
}
.buggy-table thead th {
  background-image:url('/static/build/img/metal-floor-plate.jpg');
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  background: repeating-linear-gradient(
    -45deg,
    black,
    black 2rem,
    yellow 2rem,
    yellow 4rem
  );
  opacity: 0.666;
  min-height: 6rem;
}
footer a {
  color: black;
  border-bottom: 1px dotted black;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  margin-top:2rem;
  list-style: none;
}

footer ul li {
  font-weight: bold;
  background-color:white;
  padding: 0.5em 1em;
  background-color: yellow;
  color: black;
  box-shadow: 6px 5px 5px rgba(30,30,30,30);
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

/* icons */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7wqaa4');
  src:  url('fonts/icomoon.eot?7wqaa4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7wqaa4') format('truetype'),
    url('fonts/icomoon.woff?7wqaa4') format('woff'),
    url('fonts/icomoon.svg?7wqaa4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e91f";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-cog:before {
  content: "\e994";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-github:before {
  content: "\eab0";
}
.nav-link .icon-cog {color:#dddd00}
.nav-link .icon-cog:hover {color:#ffff00}

.table .bool-false {
  background-color: #ffdddd;
}
.table.table-hover tr:hover .bool-false {
  background-color: #ffcccc;
}
.table.table-striped tbody tr:nth-of-type(odd) td.bool-false {
  background-color:  #f0c9c9;
}
.table.table-striped tbody tr:nth-of-type(odd):hover td.bool-false {
  background-color:  #f0b9b9;
}
.table tr td.number {
  text-align:right;
}
.table.elastic tr td:last-child {
  width:100%;;
}

.buggy-warn{
  padding:0.5em 0.5em;
  background-color: red;
  color: white;
}

.announcement-wrapper {
  margin: 0 0 0.666em 0;
}
.announcement-inner-box {
  width:100%;
  margin:0;
  box-shadow: 0px 0.25em 0.666em rgba(0,0,0,0.5);
}
.announcement-inner-box .alert {
  margin:0;
  padding:0.5em;
}
.announcement-special .announcement-inner-box {
  background-color:#f0f000;
}
.announcement-info .announcement-inner-box {
  background-color: #d1ecf1;
}
.announcement-warning .announcement-inner-box {
  background-color: #fff3cd;
}
.announcement-danger .announcement-inner-box {
  background-color:#f8d7da;
}
.announcement-special, .buggy-stripes {
    background: repeating-linear-gradient(
      -45deg,
      black,
      black 2rem,
      yellow 2rem,
      yellow 4rem
    );
    padding:1em 0;
  }

.finish-chequers{
  position: relative;
  overflow: hidden;
  background-image:url('/static/build/img/black-white-chequer.png');
  height:4em;
  background-size: 4em 4em;
}
table td.check input {
  margin-right:1em;
}

.mt-2 {
  margin-top: 1rem;
}

input#auth_code,
.btn-admin.btn-outline-danger,
.btn-outline-secondary.btn-admin {
  background-color: #ffffdd;
}
.btn-admin.btn-outline-danger:hover,
.btn-outline-secondary.btn-admin:hover { color:black; }

p.btn-collection {
  margin:0.5rem 0.25rem;
}
.btn-collection .btn {
  margin: 0.25rem 0.25rem 0.25rem 0rem;
}
#registerForm textarea#userdata {
  min-height: 8em;
}
#registration-progress {
  display:none;
}
#registration-progress ul, ul.user-list {
  list-style-type:none;
  padding-inline-start: 0;
  margin-bottom:0.1em;
}
#registration-progress ul li, ul.user-list li {
  display:inline-block;
  margin:0.1em 0.25em;
}
#registration-progress ul li, a.user-link {
  padding:0.33em;
  border-radius:0.33em;
}
#registration-progress ul li, a.user-link {
  color: black;
}
#registration-progress ul li span {
  background-color: rgba(255,255,255,0.5);
  border-radius: 0.25em;
  margin-left: 0.5em;
  padding: 0.25em;
  text-align:center;
}

#user-column-toggles button {
  margin:4px 4px 0 0;
}

a.user-link{
  background-color: #e8e8e8;
  min-width:2em;
}
a.user-link:hover {
  background-color: #666666;
  color:white;
  text-decoration: none;
}

a.toclink{
  border-bottom:none;
  color: inherit;
}
a.toclink::after{
  opacity: 0;
  content: "#";
  margin-left:0.1em;
  transition: opacity 0.3s;
  visibility: hidden;
}
a.toclink:hover::after{
  opacity: 0.5;
  visibility: visible;
}
a.toclink:hover{
  text-decoration: none;
}
select.form-control{
  width: max-content; /* not on IE, but not critical */
}
span.btn.disabled{
  border-style: dashed;
}
#flash-msgs .alert,
#flash-container .alert {
  margin:0.25rem 0 0.25rem 0;
}
.jumbotron { /* override Bootstrap default, for art */
  width:100%;
  background-color:#ffffff;
  margin: 0 0 0 0;
}
.hidden{
  display: none; /* bootstrap's d-none too heavy-handed: has !important */
}

.task-note {
  border:1px solid #ccc;
  background-color: #fffff8;
  box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem rgba(0,0,0,0.33);
}

.table-vertical-heading {
  height:10rem;
  max-width:2rem;
}
.table-vertical-heading > div {
  transform:rotate(270deg);
  white-space:nowrap;
}
#all-student-notes td.status {
  padding:0.1rem;
  height:3rem;
  min-height:3rem;
}
#all-student-notes td.status a {
  display:block;
  height:100%;
  width:100%;
  border-radius:0.2em;
}
.grey-wrapper{
  border:1px solid gray;
  padding:0.5em;
  margin-bottom:1em;
  background-color:#eee;
}
.nav-item + .nav-item{
  border-left: 1px solid #555555;
}
.collapse.show .nav-item {
  border-top: 1px solid #555555;
  border-left: none;
}
.bg-yellow {
  background-color: #ffff00;
  color: black;
}

table.table-bordered.table-responsive {
  border:none
}

.status a .icon-wrench { color:white; }