/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  background-color: #ffffcc;
  background-image:url('/static/build/img/metal-floor-plate.jpg');
}

section {
  overflow: auto;
}

main {
  background-color:white;
}

textarea {
  resize: vertical;
}

/* home */

.buggy-img {
  width: 100%;
}

/* Forms */

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* btn-white for secondary outline buttons */
.btn-white {
  background-color:white;
}
.btn-white:hover {
  color: white;
  background-color:#6c757d;
}


/* the buggy project page */

.buggy-project .task-breakdown  {
  margin-top: 3em;
  border-top:1px solid #cccccc;
}

.buggy-project .task-breakdown .task-heading {
  margin-bottom:1rem;
}
.buggy-project .task-breakdown .btn-task-text{
  background-color:white;
}

.buggy-project .phase-list {
  margin:1em auto;
  border:1px solid gray;
  padding:0.5em 1em;
}
.buggy-project .phase-list ul {
  list-style: none;
  margin-left:0;
  padding-left:1em;
}
.buggy-project .phase-list li {
  padding:0.25em 0.5em;
  background-color: #f5f5f5;
  color:black;
}
.buggy-project .phase-list li:nth-child(2n) {
  background-color: #f0f0f0;
  color:black;
}
.buggy-project .phase-list a span {
  min-width:5em;
  display: inline-block;
  padding-right:0.3em;
}
.buggy-project h2 {
  margin-top: 2em;
}
.buggy-project .task {
  margin:4em 0 1em 0;
  padding:0;
}
.buggy-project .task:before{
  content: "";
  display:block;
  padding:1em;
  background: repeating-linear-gradient(-45deg, yellow, yellow 1em, black 1em, black 2em);
}
.buggy-project .task h3 {
  padding:0.5em;
  margin:0 0 0.5em 0;
}
.buggy-project .task .item {
  padding:0 0 0.5em 0;
  margin:0 1em 1em 3em;
}
.buggy-project .task .problem {
  background:#ffeeee;
  color:black;
}
.buggy-project .task .solution {
  background:#eeffee;
  color:black;
}
.buggy-project .task .hints {
  background:#fff9e9;
  color:black;
}
.buggy-project .task .item p, .buggy-project .task .item ul {
  margin:1em 1em 0.5em 2em;
  padding-bottom:0.5em;
}
.buggy-project .task .hints ul li {
  margin: 0.5em 0;
}
.buggy-project .task .item:before {
  display:block;
  font-weight:bold;
  padding:0.5em 1em 0.5em 2em;
  background:inherit;
}
.buggy-project .task .problem:before {
  content: "Problem";
  background-color: #eedddd;
  color:black;
}
.buggy-project .task .solution:before {
  content: "Solution";
  background-color: #ddeedd;
  color:black;
}
.buggy-project .task .hints:before {
  content: "Hints";
  background:#eee6d6;
  color:black;
}

.buggy-project .task h3 {
  display: flex;
  align-items: flex-start;
}

.buggy-project .task h3 a{
  display: block;
  white-space:nowrap;
  color:#fff;
  padding:0.25em 0.5em;
  border-radius:0.2em;
  border: 0.2em solid white;
  text-decoration: none;
  background-color:#000;
  box-shadow: 0.2em 0.2em 0.4em #000;
  margin: -1em 1em 0.2em 0em;
}
.buggy-project .task h3 a::before{
  content:"#";
  margin-right:0.1em;
  opacity:0.5;
}
.buggy-project .task a:hover{
  background-color:#666;
  color:white;
}
/* special case: for very narrow screens:
   task description drops below the (never
   text-wrapped) task anchor
 */
@media (max-width: 30em) {
  .buggy-project .task h3 {
    flex-direction: column;
    padding-left:1em;
  }
  .buggy-project .task h3 a{
    margin-left:-0.5em;
  }
}

.buggy-project .phase-0 .task:before{ background: repeating-linear-gradient(-45deg, #ffff00, #ffff00 1em, black 1em, black 2em);}
.buggy-project .phase-6 .task .task-heading,
.buggy-project .phase-0 .task .task-heading { background-color: #ffffbb; color:black; }
.buggy-project .phase-1 .task:before{ background: repeating-linear-gradient(-45deg, #ffe600, #ffe600 1em, black 1em, black 2em);}
.buggy-project .phase-1 .task .task-heading { background-color: #ffeebb; color:black; }
.buggy-project .phase-2 .task:before{ background: repeating-linear-gradient(-45deg, #ffc100, #ffc100 1em, black 1em, black 2em);}
.buggy-project .phase-2 .task .task-heading { background-color: #ffe3bb; color:black; }
.buggy-project .phase-3 .task:before{ background: repeating-linear-gradient(-45deg, #ff9c00, #ff9c00 1em, black 1em, black 2em);}
.buggy-project .phase-3 .task .task-heading { background-color: #ffd2bb; color:black; }
.buggy-project .phase-4 .task:before{ background: repeating-linear-gradient(-45deg, #ff7600, #ff7600 1em, black 1em, black 2em);}
.buggy-project .phase-4 .task .task-heading { background-color: #ffc6bb; color:black; }
.buggy-project .phase-5 .task:before{ background: repeating-linear-gradient(-45deg, #ff0000, #ff0000 1em, black 1em, black 2em);}
.buggy-project .phase-5 .task .task-heading { background-color: #ffbbbb; color:black; }

.buggy-text-overlay {
  background-color: rgba(0,0,0,0.333);
  color:white;
  font-weight:bold;
  padding:0.333em 0.666em;
}

.buggy-table {
  box-shadow: 6px 5px 5px rgba(0,0,0,0.333);
}
.buggy-table thead th {
  background-image:url('/static/build/img/metal-floor-plate.jpg');
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  background: repeating-linear-gradient(
    -45deg,
    black,
    black 2rem,
    yellow 2rem,
    yellow 4rem
  );
  opacity: 0.666;
  min-height: 6rem;
}
footer a {
  color: black;
  border-bottom: 1px dotted black;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  margin-top:2rem;
  list-style: none;
}

footer ul li {
  font-weight: bold;
  background-color:white;
  padding: 0.5em 1em;
  background-color: yellow;
  color: black;
  box-shadow: 6px 5px 5px rgba(30,30,30,30);
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

/* icons */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7wqaa4');
  src:  url('fonts/icomoon.eot?7wqaa4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7wqaa4') format('truetype'),
    url('fonts/icomoon.woff?7wqaa4') format('woff'),
    url('fonts/icomoon.svg?7wqaa4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"], .btn-docs:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before { content: "\e91f"; }
.icon-bubbles:before { content: "\e96c"; }
.icon-clipboard:before { content: "\e9b8"; }
.icon-cog:before { content: "\e994"; }
.icon-copy:before { content: "\e92c"; }
.icon-enter:before { content: "\ea13"; }
.icon-exit:before { content: "\ea14"; }
.icon-github:before { content: "\eab0"; }
.icon-trophy:before { content: "\e99e"; }
.icon-wrench:before { content: "\e991"; }
.icon-embed2:before { content: "\ea80"; }
.icon-info:before {
  content: "\ea0c";
  padding-right:0.2rem; /* used in buttons only? */
}

.nav-link .icon-cog {color:#dddd00}
.nav-link .icon-cog:hover {color:#ffff00}

.table .bool-false {
  background-color: #ffdddd;
}
.table.table-hover tr:hover .bool-false {
  background-color: #ffcccc;
}
.table.table-striped tbody tr:nth-of-type(odd) td.bool-false {
  background-color:  #f0c9c9;
}
.table.table-striped tbody tr:nth-of-type(odd):hover td.bool-false {
  background-color:  #f0b9b9;
}
.table tr td.number {
  text-align:right;
}
.table.elastic tr td:last-child {
  width:100%;;
}
.table-striped tbody tr.staff{ background-color: #fff3cd; }
.table-striped tbody tr.staff:hover{ background-color: #f6f0cb; }
.table-striped tbody tr:nth-of-type(odd).staff{ background-color: #f0e0aa; }
.table-striped tbody tr:nth-of-type(odd).staff:hover{ background-color: #eddca6; }

.bottom { /* for droppinging flex items (delete button) in flex containers */
  align-self: end;
}

.buggy-warn{
  padding:0.5em 0.5em;
  background-color: red;
  color: white;
}

.announcement-wrapper {
  margin: 0 0 0.666em 0;
}
.announcement-inner-box {
  width:100%;
  margin:0;
  box-shadow: 0px 0.25em 0.666em rgba(0,0,0,0.5);
}
.announcement-inner-box .alert {
  margin:0;
  padding:0.5em;
}
.announcement-special .announcement-inner-box {
  background-color:#f0f000;
  color: #000000;
}
.announcement-info .announcement-inner-box {
  background-color: #d1ecf1;
  color: #212529;
}
.announcement-warning .announcement-inner-box {
  background-color: #fff3cd;
  color: #212529;
}
.announcement-danger .announcement-inner-box {
  background-color:#f8d7da;
  color: #212529;
}
.announcement-special, .buggy-stripes {
    background: repeating-linear-gradient(
      -45deg,
      black,
      black 2rem,
      yellow 2rem,
      yellow 4rem
    );
    padding:1em 0;
  }

.finish-chequers{
  position: relative;
  overflow: hidden;
  background-image:url('/static/build/img/black-white-chequer.png');
  height:4em;
  background-size: 4em 4em;
}
table td.check input {
  margin-right:1em;
}

.mt-2 {
  margin-top: 1rem;
}

input#auth_code,
.btn-admin.btn-outline-danger,
.btn-outline-secondary.btn-admin {
  background-color: #ffffdd;
}
.btn-admin.btn-outline-danger:hover,
.btn-outline-secondary.btn-admin:hover { color:black; }

.btn-admin:hover {
  background-color: #ffc107;
}
/* add triangle pointers to buttons */
.btn-jump::after {
  content: "\0025B9"; /* &rtri; */
  padding-left:0.33rem;
}
.btn-download::after {
  content: "\0025BD"; /* &dtri; */
  padding-left:0.33rem;
}
.btn-up::after {
  content: "\0025B3"; /* udtri; */
  padding-left:0.33rem;
}
.btn-docs {
  color: #0c5460;
  background-color: #d1ecf1;
  border: 1px solid #0c5460;
  text-align: center;
  vertical-align: middle;
}
.btn-docs:after {
  content: "\ea0c";
  padding-left:0.4rem;
  font-size:1.4rem;
  vertical-align: middle;
}
.btn-docs:hover {
  color: #ffffff;
  background-color: #0c5460;
  border: 1px solid #ffffff;
}

p.btn-collection {
  margin:0.5rem 0.25rem;
}
.btn-collection .btn {
  margin: 0.25rem 0.25rem 0.25rem 0rem;
}
#registerForm textarea#userdata {
  min-height: 8em;
}
#registration-progress {
  display:none;
}
#registration-progress ul, ul.sm-item-list {
  list-style-type:none;
  padding-inline-start: 0;
  margin-bottom:0.1em;
}
#registration-progress ul li, ul.sm-item-list li {
  display:inline-block;
  margin:0.1em 0.25em;
}
#registration-progress ul li, .sm-item-link {
  padding:0.33em;
  border-radius:0.33em;
  color: black;
  line-height:2;
}
#registration-progress ul li span {
  background-color: rgba(255,255,255,0.5);
  border-radius: 0.25em;
  margin-left: 0.5em;
  padding: 0.25em;
  text-align:center;
}

#user-column-toggles button {
  margin:4px 4px 0 0;
}

a.sm-item-link, span.sm-item-link{
  background-color: #e8e8e8;
  min-width:2em;
  border: 1px solid #666;
}
a.sm-item-link:hover {
  background-color: #666666;
  color:white;
  text-decoration: none;
}
span.sm-item{
  background-color: #e8e8e8;
  min-width:2em;
}
span.rule-violation{
  color: #990000;
  padding:0.1em 0.25em;
  background-color:transparent;
}

a.toclink{
  border-bottom:none;
  color: inherit;
}
a.toclink::after{
  opacity: 0;
  content: "#";
  margin-left:0.1em;
  transition: opacity 0.3s;
  visibility: hidden;
}
a.toclink:hover::after{
  opacity: 0.5;
  visibility: visible;
}
a.toclink:hover{
  text-decoration: none;
}
select.form-control{
  width: max-content; /* not on IE, but not critical */
}
span.btn.disabled{
  border-style: dashed;
}
#flash-msgs .alert,
#flash-container .alert {
  margin:0.25rem 0 0.25rem 0;
}
.jumbotron { /* override Bootstrap default, for art */
  width:100%;
  background-color:#ffffff;
  margin: 0 0 0 0;
}
.hidden{
  display: none; /* bootstrap's d-none too heavy-handed: has !important */
}

.task-text {
  border:1px solid #ccc;
  background-color: #fffff8;
  box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem rgba(0,0,0,0.33);
}
pre.task-text {
  white-space: pre-wrap;
}

.table-vertical-heading {
  height:10rem;
  max-width:2rem;
}
.table-vertical-heading > div {
  transform:rotate(270deg);
  white-space:nowrap;
}
#all-student-texts td.status {
  padding:0.1rem;
  height:3rem;
  min-height:3rem;
}
#all-student-texts td.status a {
  display:block;
  height:100%;
  width:100%;
  border-radius:0.2em;
}
.grey-wrapper{
  border:1px solid gray;
  padding:0.5em;
  margin-bottom:1em;
  background-color:#eee;
}
.nav-item + .nav-item{
  border-left: 1px solid #555555;
}
.collapse.show .nav-item {
  border-top: 1px solid #555555;
  border-left: none;
}
.bg-yellow { /* only used on interface form */
  background-color: #ffff00;
  border-top:2px dashed black; 
  border-bottom:2px dashed black; 
  color: black;
}

table.table-bordered.table-responsive {
  border:none
}

.status a .icon-wrench { color:white; }
.even-phase { background-color: #eaeaff; }
.table-striped tr:nth-of-type(odd) td.even-phase {
  background-color:#d0d0ee;
}

a.btn.btn-config-group {
  padding:0;
  text-align:center;
}
a.btn-config-group span::before{
  content: "Config";
  display:block;
  font-size:80%;
  padding:0.2rem 0.1rem 0.2rem 0.1rem;
  margin:0 -0.75rem;
  background:#99999999; /* alpha for hover effect */
  color:white;
  margin-bottom:0.2rem;
}
a.btn-config-group span{
  display:block;
  padding:0 0.75rem 0.375rem 0.75rem;
}
h2.alert-title {
  font-size:1em;
  padding: 0.75rem 1.25rem;
  margin:0;
  margin: -0.75rem -1.25rem 0.75rem -1.25rem;
  font-weight:bold;
}
h2.alert-title .subtitle {
  font-weight:normal;
}
.alert-info h2.alert-title { background-color: #bee5eb; }
.alert-warning h2.alert-title { background-color: #ffeeba; }
.alert-danger h2.alert-title { background-color: #f5c6cb; }
.alert-success h2.alert-title { background-color: #c3e6cb; }
.alert-primary h2.alert-title { background-color: #b8daff; }
.alert-secondary h2.alert-title { background-color: #d6d8db; }

td .cell-title {
  margin: -0.75rem -0.75rem 0.2rem -0.75rem;;
  padding:0.5rem 0.75rem;
  background-color: #dddddd;
  min-height:1rem;
}

.empty-setting {
  color: #aaaaaa;
}

.flag, .flag-sm {
  width:3em;
  aspect-ratio:1.3;
  border:1px solid #cccccc;
}
.flag.no-buggy {
  border:1px dashed #aaaaaa;
}
.flag-sm {
  width:2em;
}
.flag-sm div, .flag div {
  width:100%;
  height:100%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
.flag-spot {
  -webkit-mask: url(/static/build/img/spot.svg) no-repeat 50% 50%;
  mask: url(/static/build/img/spot.svg) no-repeat 50% 50%;
}
.flag-check {
  -webkit-mask: url(/static/build/img/check.svg) no-repeat 50% 50%;
  mask: url(/static/build/img/check.svg) no-repeat 50% 50%;
}
.flag-vstripe {
  -webkit-mask: url(/static/build/img/vstripe.svg) no-repeat 50% 50%;
  mask: url(/static/build/img/vstripe.svg) no-repeat 50% 50%;
}
.flag-hstripe {
  -webkit-mask: url(/static/build/img/hstripe.svg) no-repeat 50% 50%;
  mask: url(/static/build/img/hstripe.svg) no-repeat 50% 50%;
}
.flag-dstripe {
  -webkit-mask: url(/static/build/img/dstripe.svg) no-repeat 50% 50%;
  mask: url(/static/build/img/dstripe.svg) no-repeat 50% 50%;
}
.flag-plain {
  -webkit-mask: none;
  mask:none;
}
td .flag + .flag {
  margin-top:0.5rem;
}
.alert-tech-notes {
  color:white;
  background:#1e1e1e;
  display:grid;
}
.alert-tech-notes::before{
  content:"";
  background: repeating-linear-gradient(-45deg, #000, #000 2rem, #ff0 2rem, #ff0 4rem);
  height:2rem;
  margin:-1rem -1rem 1rem -1rem;
}
.alert-tech-notes h2 {
  color:#b5e853;
}
.alert-tasks {
  color:white;
  background:#1e331e;
  display:grid;
}
.alert-tasks::before{
  content:"";
  background: repeating-linear-gradient(-45deg, #000, #000 2rem, green 2rem, green 4rem);
  height:2rem;
  margin:-1rem -1rem 1rem -1rem;
}
.alert-tech-notes h2 {
  color:#b5e853;
}
.alert-poster{
  display:grid;
  background:#dff0f8;
}
.alert-poster::before {
  content:"";
  background: repeating-linear-gradient(-45deg, #000, #000 2rem, #bee5eb 2rem, #bee5eb 4rem);
  height:2rem;
  margin:-1rem -1rem 1rem -1rem;
}

body.report-page main {
  background-color: #dff0f8;
  display:grid;
}
body.report-page main::before{
  content:"";
  background: repeating-linear-gradient(-45deg, #000, #000 2rem, #bee5eb 2rem, #bee5eb 4rem);
  height:2rem;
}
body.report-page main pre {
  background-color:white;
}
body.task-list-page main {
  background-color: #1e331e;
  display:grid;
  color: white;
}
body.task-list-page main::before{
  content:"";
  background: repeating-linear-gradient(-45deg, #000, #000 2rem, green 2rem, green 4rem);
  height:2rem;
}

.inner-btn{
  position: absolute;
  right:1em;
  top:0;
  margin:1em;
}

code {
  color: #661111;
}

img.roadent-portrait{
  box-shadow: 0px 0px 0.25rem 0.25rem rgba(0,0,0,0.25);
  max-width:6em;
  transition: transform 0.5s;
}
img.roadent-portrait:hover{
  transform: rotate(-10deg)  scale(108%);
}

body.race-player main {
  background-color:transparent;
}

.card.racetrack  {
  margin: 0.5rem 0;
}
.card.racetrack img {
  min-width:100%;
  aspect-ratio:2;
}
.card.racetrack h5 {
  margin: 0;
  padding:0;
  font-size:100%;
}
.card.racetrack .card-body {
  padding:0.5rem 0.5rem 0.5rem 0.5rem;
}
.card.racetrack .card-body p {
  margin: 0.25rem 0;
}
.card.race-clickable {
  transition: background-color 0.5s;
}
.card.race-clickable:hover {
  cursor:pointer;
  background-color: #dddddd;
}


.tabs {
  /* background-color:white; */
  position: relative;   
  min-height: 18rem; /* This part sucks: because absolute positioning */
  clear: both;
  margin: 1rem;
}
.tabs .tab {
  float: left;
}
.tabs .tab label.tab-itself {
  height:3rem;
  min-height:3rem;
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin: 0 1rem -2px 0; 
  position: relative;
  left: 1px; 
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.tabs .tab .tab-itself[type=radio] {
  display: none;
}
.tabs .tab-content {
  position: absolute;
  top: 2.9rem; /* just under 3rem, to overlap tab-itself borders */
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  border: 1px solid #ccc; 
  background-color:#ffffff;
  visibility: hidden;
}
.tabs [type=radio]:checked ~ label.tab-itself {
  background-color: #ffffff;
  border-bottom:1px solid #ffffff;
  z-index: 2;
  visibility: visible;
}
.tabs [type=radio]:checked ~ label.tab-itself ~ .tab-content {
  z-index: 1;
  visibility: visible;
}
.tab-content h4 {
  margin-left: 1rem;
}