{% extends "layout.html" %}
{% block content %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      {% if is_own_note %}
          Your
      {% else %}
          {{ user.pretty_username }}’s
      {% endif %}
      {{ report_type }} note
      for task {{ task.fullname }}
    </h1>
  </div>
  <div class="row">
    <div class="col">
      <p class="my-3 btn-collection">
        <a class="btn btn-outline-secondary"
          href="{{ url_for('public.show_single_task', task_id=task.fullname) }}">See task {{ task.fullname }} &rtri;</a>
        <a class="btn btn-outline-secondary" href="{{ url_for('user.list_notes') }}">List all task&nbsp;notes&nbsp;&rtri;</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="alert alert-info p-3">
        <strong>{{ task.fullname }}</strong>: <strong>{{ task.title }}</strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="border border container">
        <form id="NoteForm" method="POST" action="{{ url_for('user.note', task_fullname=task.fullname)}}" role="form">
          {{ form.csrf_token }}
          {{ form.user_id(value=user.id) }}
          {{ form.task_id(value=task.id) }}
          <div class="row">
            <div class="col p-3">
              {{ form.text.label }}
              <textarea id="text" name="text" class="w-100" rows="8">{{ note.text }}</textarea>
            </div>
          </div>
          <div class="row">
            <div class="col p-3">
              <input type="submit" class="btn btn-primary"
                value="{% if is_new_note %}Save{% else %}Update{% endif %} note"/>
            </div>
          </div>
        </form>
        {% if not is_new_note %}
          <p class="text-right m-0 text-muted w-100">
            Note
            {% if note.modified_at %}
              last updated:
            {% else %}
              created:
            {% endif %}
            {{ pretty_timestamp }}
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  {% if not is_new_note %}
    <div class="row">
      <div class="col-lg-8 my-5">
        <p>
          You can delete your note — be careful, you can't undo this.
          Maybe download a copy of all your notes as a single HTML or
          plain text file as a backup first?
        </p>
        <div class="border border-secondary container">
          <form id="NoteDeleteForm" method="POST" action="{{ url_for('user.delete_note')}}" role="form">
            {{ delete_form.csrf_token }}
            {{ delete_form.note_id(value=note.id) }}
            <div class="row">
              <div class="col-md-3 p-3">
                {{ delete_form.is_confirmed.label }}
              </div>
              <div class="col-md-3 p-3">
                <select id="is_confirmed" name="is_confirmed" class="form-control">
                  <option selected value="">No</option>
                  <option value="">I think so</option>
                  <option value="y">Yes</option>
                </select>  
              </div>
              <div class="col-md-6 p-3">
                <input type="submit" class="btn btn-danger" value="Delete note"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

