{% extends "layout.html" %}
{% block content %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      {% if is_own_note %}
          Your
      {% else %}
          {{ user.pretty_username }}'s
      {% endif %}
      {{ report_type }} task notes
    </h1>
  </div>
  {% include "admin/_task_notes_for_user.html" %}
  <div class="row mt-5">
    <div class="col btn-collection">
      <a href="{{ url_for('public.serve_project_page', page='tasks') }}" class="btn btn-outline-secondary">Task list &rtri;</a>
      {% if report_type %}
        <a class="btn btn-outline-secondary" href="{{ url_for( 'public.serve_project_page', page=report_type ) }}">{{ report_type | title }} details &rtri;</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

