{% extends "layout.html" %}
{% block content %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      Change password
      {% if not current_user.is_buggy_admin %}
        for {{ current_user.pretty_username }}
      {% endif %}
    </h1>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <p>
        You can change the password you use for logging onto this race server.
      </p>
      {% if current_user.is_buggy_admin %}
        <p>
          Because you're an admin user, you can change any other user's password
          too, but you'll need the auth code to do that.
        </p>
      {% endif %}
      <div class="border border-secondary container">
        <form id="ChangePasswordForm" method="POST" action="{{ url_for('user.change_password') }}" role="form">
          {{ form.csrf_token }}
          {% if current_user.is_buggy_admin %}
            <div class="row">
              <div class="col my-2">
                <div class="form-group">
                  {{form.username.label}}
                  {{ form.username(class_="form-control mr-sm-1") }}
                </div>
              </div>
            </div>
          {% else %}
            <input type="hidden" name="username" value="{{current_user.username}}" id="username"/>
          {% endif %}
          <div class="row">
            <div class="col my-1">
              <div class="form-group">
                {{form.password.label}}
                {{ form.password(placeholder="password", class_="form-control mr-sm-1") }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col my-1">
              <div class="form-group">
                {{ form.confirm.label }}
                {{ form.confirm(placeholder="password", class_="form-control mr-sm-1") }}
              </div>
            </div>
          </div>
          {% if current_user.is_buggy_admin %}
            <!-- presence of change-password-authcode used in script.js -->
            <div id="change-password-authcode" data-username="{{ current_user.username }}"
              class="row bg-warning p-3">
              <div class="form-group">
                {{ form.auth_code.label }}
                {{ form.auth_code(class_="form-control mr-sm-1") }}
              </div>
            </div>
          {% endif %}
          <button class="btn btn-primary my-3" type="submit">Change password</button>
        </form>
      </div>
    </div>
  </div>

  {% endblock %}

