{% extends "layout.html" %}
{% block page_title %} Password {% endblock %}
{% block content %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      Change password
      {% if not current_user.is_staff %}
        for {{ current_user.pretty_username }}
      {% endif %}
    </h1>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <p>
        You can change the password you use for logging onto this race server.
      </p>
      {% if is_more_than_one_username and current_user.is_staff %}
        <p>
          {% if current_user.is_administrator %}
            Because you're an admin user, you can change any other user's
            password too, but you'll need to provide the authorisation code
            if they are <em>also an administrator</em>.
          {% else %}
            Because you're a Teaching Assistant, you can change any student's
            password for them (but you can't change the password of other staff).
          {% endif %}
        </p>
        {% endif %}
      <div class="border container">
        <form id="ChangePasswordForm" method="POST" action="{{ url_for('user.change_password') }}" role="form">
          {{ form.csrf_token }}
          {% if current_user.is_staff and is_more_than_one_username %}
            <div class="row">
              <div class="col my-2">
                <div class="form-group">
                  {{form.username.label}}
                  {{ form.username(class_="form-control mr-sm-1") }}
                </div>
              </div>
            </div>
          {% else %}
            <input type="hidden" name="username" value="{{current_user.username}}" id="username"/>
          {% endif %}
          <div class="row">
            <div class="col my-1">
              <div class="form-group">
                {{form.password.label}}
                {{ form.password(class_="form-control mr-sm-1") }}
                <span class="password-toggler hidden icon-eye-blocked" data-for="password"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col my-1">
              <div class="form-group">
                {{ form.confirm.label }}
                {{ form.confirm(class_="form-control mr-sm-1") }}
                <span class="password-toggler hidden icon-eye-blocked" data-for="confirm"></span>
              </div>
            </div>
          </div>
          {% if current_user.is_staff %}
            <!-- presence of change-password-authcode used in script.js -->
            <div id="change-password-authcode"
              data-username="{{ current_user.username }}"
              data-admins="{{ admin_usernames_str }}"
              class="row bg-warning p-3">
              <div class="form-group">
                <p>
                  You must provide the authorisation code to change
                  <em>another admin user's</em> password. (If you're
                  changing your own password or that of a regular user,
                  you can leave this blank).
                </p>
                {{ form.auth_code.label }}
                {{ form.auth_code(class_="form-control mr-sm-1") }}
              </div>
            </div>
          {% endif %}
          <button class="btn btn-primary my-3" type="submit">Change password</button>
        </form>
      </div>
    </div>
  </div>

  {% endblock %}

