{% extends "layout.html" %}
{% block content %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      API settings for {{ current_user.pretty_username }}
    </h1>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <p>
        These are the credentials for accessing the race server API. This lets you upload your buggy JSON directly
        (instead of pasting it into the <a href="{{ url_for('user.submit_buggy_data') }}">upload form</a>).
        {% if api_task_name %}
          You only need these if you're working on one of task
          <a href="{{ url_for('public.show_single_task', task_id=api_task_name) }}">{{ api_task_name }}</a>.
        {% endif %}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mb-5">
      <div class="row">
        <div class="col">
          <h2>API secret</h2>
          <p>(You set this. It is <em>timely</em>.)</p>  
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% if delta_mins == -1  %}
            <div class="alert alert-info text-center">
              You have not set an API secret.
            </div>
          {% elif delta_mins > 60 %}
            <div class="alert alert-warning w-100 text-center">
              You set your API secret over {{ pretty_lifespan }} ago: it has expired.
            </div>
          {% elif delta_mins < 2 %}
            <div class="alert alert-success text-center">
              <em class="mr-2">Fresh secret!</em> You set your API secret less than two minutes ago.
            </div>
          {% else %}
            <div class="alert alert-success text-center">
              You set your API secret {{ delta_mins }} minutes ago.
            </div>
          {% endif %}
          
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            Set your API secret here: it will be good for
            <strong>{{ pretty_lifespan }}</strong>
            (then it will time out and you'll need to change it).
          </p>
          {% if current_user.is_api_secret_otp %}
            <p>
              Your secret is used as a <strong>one-time password</strong>: you
              can only use use it to make one (successful) transaction with the
              API.
            </p>
          {% endif %}
          <p>
            API calls must send an argument named <code>secret</code>
            that matches your API secret exactly, or else be rejected.
          </p>
        </div>
      </div>
      {% if is_confirmation %}
        <div class="row">
          <div class="col">
            <p>
              Your API secret is never displayed here (you have to remember it).
            </p>
            <p>
              <a href="{{ url_for('user.set_api_secret') }}" class="btn btn-outline-secondary btn-jump my-3">Set new API secret</a>
            </p>
          </div>
        </div>
      {% else %}
        <div class="row">
          <div class="col">
            <p>
              Your API secret can be any string (no spaces) at least 4 characters long.
              <br>
            </p>
          </div>
        </div>
        <div class="border container p-3">
          <form class="form" id="ApiSecretForm" method="POST" action="{{ url_for('user.set_api_secret') }}" role="form">
            {{ form.csrf_token }}
            <div class="form-group">
              {{form.api_secret.label}}
              {{ form.api_secret(placeholder="99Hamster", autocomplete="off", value="", class_="form-control mr-sm-1") }}
            </div>
            {% if is_student_api_otp_allowed %}
              <div class="form-group">
                {{ form.is_one_time_password.label }}
                <select name="is_one_time_password" id="is_one_time_password" class="form-control">
                  <option value="" {% if not current_user.is_api_secret_otp %} selected {% endif %}>No</option>
                  <option value="1" {% if current_user.is_api_secret_otp %} selected {% endif %}>Yes</option>
                </select>
              </div>
            {% endif %}
            <button class="btn btn-primary my-3" type="submit">Set API secret</button>
          </form>
        </div>
      {% endif %}
    </div>
    <div class="col-lg-6 mb-4">
      <div class="row">
        <div class="col">
          <h2>API key</h2>
          <p>(We set this. It <em>persists</em>.)</p>
          {% if current_user.api_key == None %}
            <div class="alert alert-warning text-center">
              No API Key<br>
              You need to ask us to add one for you.
            </div>
          {% else %}
            <div class="col alert alert-success text-center">
              <code>{{ current_user.api_key }}</code>
            </div>
          {% endif %}
          <p>
            When you use the API you'll also need to send your API key as
            the argument <code>key</code>. Unlike your API secret, the API
            key does not change over time (unless we reset it).
          </p>
        </div>
      </div>
      {% if current_user.is_staff %}
        <div class="my-3">
          <a href="{{ url_for('admin.api_keys') }}" class="btn btn-outline-secondary btn-admin btn-jump">API keys</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
