{% extends "layout.html" %}
{% block page_title %} Upload buggy JSON {% endblock %}
{% block content %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      Upload buggy data for {{ current_user.pretty_username }}
    </h1>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <p>
        Copy the JSON data from your buggy editor and paste it here.
        <br>
        Be sure to paste <em>all</em> of it.
      </p>
      <form id="BugyJsonForm" method="POST" action="{{ url_for('buggy.create_buggy_with_json') }}" role="form">
        {{ form.csrf_token }}
        <div>
          {{ form.buggy_json.label }}
          <textarea name="buggy_json" class="w-100" rows="12"></textarea>
        </div>
        <button type="submit" class="mt-3 btn btn-primary">
          <span class="icon-wrench"></span> Submit buggy JSON
        </button>
      </form>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <p>Want to see how your buggy is currently configured?</p>
      <p>
        <a class="btn btn-outline-secondary btn-jump" href="{{ url_for( 'buggy.show_own_buggy' ) }}">View buggy</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}

