{% extends "layout.html" %}
{% block page_title %}
  {{ user.pretty_username }}'s task texts for the report
{% endblock %}
{% block content %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      {% if is_own_note %}
          Your
      {% else %}
          {{ user.pretty_username }}'s
      {% endif %}
      task texts
    </h1>
  </div>
  {% include "admin/_task_texts_for_user.html" %}
  <div class="row mt-5">
    <div class="col btn-collection">
      <a href="{{ url_for('public.serve_project_page', page='tasks') }}" class="btn btn-outline-secondary btn-jump">Task list</a>
      {% if report_type %}
        <a class="btn btn-outline-secondary btn-jump" href="{{ url_for( 'public.serve_project_page', page=report_type ) }}">{{ report_type | title }} details</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

