{% extends "layout.html" %}
{% block content %}
<div class="container pb-5">
  <div class="row">
    <h1 class="mt-5">
      API secret for {{ current_user.username | title }}
    </h1>
  </div>
  <div class="row">
    <p>
      You only need to set a secret if you're going to use the race server
      API to upload your buggy JSON (for task 5-API).
    </p>
  </div>
  <div class="row">
    {% if delta_mins == -1  %}
      <div class="alert alert-info w-100 text-center">
        You have not set an API secret yet.
      </div>
    {% elif delta_mins > 60 %}
      <div class="alert alert-warning w-100 text-center">
        You set your API secret over an hour ago: it has expired.
      </div>
    {% elif delta_mins < 2 %}
      <div class="alert alert-success w-100 text-center">
        <em>Fresh secret!</em> You set your API secret less than two minutes ago.
      </div>
    {% else %}
      <div class="alert alert-success w-100 text-center">
        You set your API secret {{ delta_mins }} minutes ago.
      </div>
    {% endif %}
  </div>
  <div class="row">
    <p>
      Set your API secret here: it will be good for <strong>{{ pretty_lifespan }}</strong>
      (then it will time out and you'll need to change it).
    </p>
  </div>
  {% if is_confirmation %}
    <div class="row">
      <p>
        Your API secret is never displayed here (you have to remember it).
      </p>
    </div>
    <div class="row">
        <a href="{{ url_for('user.set_api_secret') }}" class="btn btn-outline-secondary my-3">Set new API secret &rtri;</a>
      </p>
    </div>
  {% else %}
    <div class="row">
      <p>
        Your API secret can be any string (no spaces) at least 3 characters long.
        <br>
        API calls must send an argument named <code>secret</code> that matches your
        API secret exactly, or else be rejected.
      </p>
    </div>
    <div class="row">
      <form class="form p-3" id="ApiSecretForm" method="POST" action="{{ url_for('user.set_api_secret') }}" role="form">
        {{ form.csrf_token }}
        <div class="form-group">
            {{form.api_secret.label}}
            {{ form.api_secret(placeholder="99Hamster", autocomplete="off", value="", class_="form-control mr-sm-1 my-auto") }}
        </div>
        <button class="btn btn-primary my-3" type="submit">Set API secret</button>
      </form>
    </div>
  {% endif %}

  <div class="row">
    <h1 class="mt-5">
      API key for {{ current_user.username | title }}
    </h1>
  </div>
  <div class="row">
    <p>
      When you use the API you'll also need to send your API key as <code>key</code>.
      Unlike your API secret, the API key does not change over time.
    </p>
  </div>
  <div class="row">
    {% if current_user.api_key == None %}
      <div class="alert alert-warning w-100 text-center">
        No API Key<br>
        You need to ask us to add one for you.
      </div>
    {% else %}
      <div class="alert alert-success w-100 text-center">
        <code>{{ current_user.api_key }}</code>
      </div>
    {% endif %}
  </div>
  {% if current_user.is_buggy_admin %}
    <div class="row">
      <a href="{{ url_for('admin.api_keys') }}" class="btn btn-outline-secondary btn-admin">API keys &rtri;</a>
    </div>
  {% endif %}
{% endblock %}

