{% extends "layout.html" %}
{% block content %}
<div class="container pb-5">
  <div class="row">
    <h1 class="col my-3">
      {% if is_own_note %}
          Your
      {% else %}
          {{ user.pretty_username }}’s
      {% endif %}
      {{ report_type }} notes
    </h1>
  </div>
  <div class="row">
    <div class="col btn-collection">
      {% for phase in tasks_by_phase %}
        {% for task in tasks_by_phase[phase] %}
          {% if notes_by_task_id[task.id] %}
            <a class="btn btn-secondary btn-goto-note" data-phase="{{ task.phase }}" href="#{{ task.anchor }}">{{ task.fullname }}</a>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  {% for phase in tasks_by_phase %}
    <div class="row mt-4 mb-2">
      <div class="col">
        <div class="container alert-secondary">
          <div class="row">
            <h3 class="col-sm-6 p-3">
              Phase {{ phase }}
            </h3>
            <div class="col-sm-6 p-3 text-right">
              <span id="toggle-btn-{{ phase }}" class="task-count"
                data-phase="{{ phase }}">{{ tasks_by_phase[phase] | length }}
                {% if (tasks_by_phase[phase] | length) == 1 %}
                  task
                {% else %}
                  tasks
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if tasks_by_phase[phase] %}
      {% for task in tasks_by_phase[phase] %}
        <div class="row phase-tasks-{{phase}}" id="{{ task.anchor }}">
          <div class="col my-1">
            <div class="border border-secondary p-3 ml-4">
              <p>Task <strong>{{ task.fullname }}</strong>: <strong>{{ task.title }}</strong></p>
              {% if notes_by_task_id[task.id] %}
                <pre class="p-3 mb-4 mt-3 mr-3 task-note ">{{ notes_by_task_id[task.id].text }}</pre>
              {% endif %}
              <p class="btn-collection">
                <a href="{{ url_for('public.show_single_task', task_id=task.fullname) }}" class="btn btn-outline-secondary">{{ task.fullname }} &rtri;</a>
                <a href="{{ url_for('user.note', task_fullname=task.fullname) }}" class="btn btn-outline-secondary">
                  {% if notes_by_task_id[task.id] %}
                    Edit note
                  {% else %}
                    Create note
                  {% endif %}
                   &rtri;
                </a>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
{% endblock %}

