{% extends "layout.html" %}
{% block content %}
<div class="container pb-5">
  <div class="row">
    <h1 class="mt-5">Change password
      {% if not current_user.is_buggy_admin %}
        for {{ current_user.username | title }}
      {% endif %}
    </h1>
  </div>
  <div class="row">
    <form class="form p-3" id="ChangePasswordForm" method="POST" action="{{ url_for('user.change_password') }}" role="form">
      {{ form.csrf_token }}
      {% if current_user.is_buggy_admin %}
        <div class="row">
          <p>
            Because you're an admin user, you can change anyone's password.<br>
            By default, you'll be changing your own.
          </p>
        </div>
        <div class="row">
          <div class="form-group">
              {{form.username.label}}
              {{ form.username(placeholder=current_user.username, class_="form-control mr-sm-1 my-auto") }}
          </div>
        </div>
      {% else %}
        <div class="row">
          <p>
            You can change the password you use for logging onto <em>this</em> race server.
          </p>
        </div>
        <input type="hidden" value="{{current_user.username}}" id="username"/>
      {% endif %}
      <div class="row">
        <div class="form-group">
            {{form.password.label}}
            {{ form.password(placeholder="password", class_="form-control mr-sm-1 my-auto") }}
        </div>
      </div>
      <div class="row">
        <div class="form-group">
            {{form.confirm.label}}
            {{ form.confirm(placeholder="password", class_="form-control mr-sm-1 my-auto") }}
        </div>
      </div>
      <button class="btn btn-primary my-3" type="submit">Change password</button>
    </form>
  </div>
{% endblock %}

